@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
@model List<string>

<div id="div_car_detail" class="car_list_box">

    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml", null); }

    <div class="car-item-all row-car">

        <div class="car-detail">

            @{ Html.RenderPartial("~/Views/Car/CarDetailImages.cshtml", null); }

        </div>

        <div class="car-detail">
            <div class="car-detail-section title">
                Tôi cần bán xe Daewoo Laceti sản xuất năm 2009 tên tư nhân xe gia đình sử dụng nên còn chất lượng máy móc êm nội thất đẹp lốp mới đăng kiểm còn dài giá tốt 318 triệu liên hệ Mr Hải 0915558358.
            </div>

        </div>

        <div id="div_car_detail_info" class="car-detail">

            <div class="div-car-tab float-none">
                <ul class="ul-car-tab">
                    <li id="car_detail_info_basic_tab" class="tabactive"><a href="javascript:void(null);" title="Thông số cơ bản">Thông số cơ bản</a></li>
                    <li id="car_detail_info_technical_tab" class=""><a href="javascript:void(null);" title="Thông số kỹ thuật">Thông số kỹ thuật</a></li>
                </ul>
            </div>


            <div id="car_detail_info_basic">

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail"> Tình trạng </label>
                        <span>:&nbsp;Xe cũ (2012)</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Xuất xứ</label>
                        <span>:&nbsp;Nhập khẩu</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Dòng xe</label>
                        <span>:&nbsp;Sedan</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Hộp số</label>
                        <span>:&nbsp;Tự động</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Số Km đã đi</label>
                        <span>:&nbsp;40.000 km</span>
                    </div>
                </div>

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail">Số cửa</label>
                        <span>:&nbsp;5 cửa</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Số chỗ ngồi</label>
                        <span>:&nbsp;5 chỗ</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Màu ngoại thất</label>
                        <span>:&nbsp;Vàng</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Màu nội thất</label>
                        <span>:&nbsp;Vàng</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Tiêu thụ nhiên liệu</label>
                        <span>:&nbsp;5L/100km</span>
                    </div>
                </div>

            </div>

            <div id="car_detail_info_technical" style="display:none">

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail"> Nhiên liệu</label>
                        <span>:&nbsp;Xăng</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Hệ thống nạp nhiên liệu</label>
                        <span>:&nbsp;Phun điện ư3</span>
                    </div>

                    <div class="row">
                        <label class="car-label-detail">Dẫn động</label>
                        <span>:&nbsp;Dẫn động cầu trươc</span>
                    </div>                    
                    <div class="row">
                        <label class="car-label-detail">Dung tích bình nhiên liệu</label>
                        <span>:&nbsp;10 (lít)</span>
                    </div>
                </div>

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail">Động cơ</label>
                        <span>:&nbsp;</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Kiệu động cơ</label>
                        <span>:&nbsp;</span>
                    </div>

                    <div class="row">
                        <label class="car-label-detail">Dung tích xi lanh</label>
                        <span>:&nbsp;</span>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

</div>

<div id="car_detai_banner">
    <a target="_blank" href="http://www.hoanggiamobile.com"><img src="/Images/Showroom/hoanggia_1004.gif"></a>
</div>

<div id="div_car_detail_similar" class="div-car-tab">
    <ul class="ul-car-tab">
        <li id="car_similar_model" class="tabactive"><a href="javascript:void(null);" title="Các xe khác cùng model">Các xe khác cùng model</a></li>
        <li id="car_similar_price" class=""><a href="javascript:void(null);" title="Các xe khác có mức giá xấp xỉ (± 10%)">Các xe khác có mức giá xấp xỉ (± 10%)</a></li>
    </ul>
</div>

<div class="grid-container">
    <div id="gridCarSimilar" class="freegrid"></div>
</div>

@section Scripts
{
    <script src="~/Content/scripts/CarDetail.js"></script>
    <script src="~/Content/scripts/SearchingCar.js"></script>
}