@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
@model List<string>

<div id="car-lable-search-header" >
    <div id="car-lable-search-box">
        <label>Tìm theo tên salon abc</label>
        <span>&nbsp;&nbsp;</span>
        <input type="radio" name="search_status" value="OldStatus" checked /><span>&nbsp;Mới</span>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label">Tìm</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="input" placeholder="Input text">
                </div>
            </div>
        </form>
        @*<input type="text" value="" id="textSearch" name="textSearch" placeholder="Nhập từ khóa để tìm kiếm"/>*@
    </div>
   

    @*<div class="col-xs-4">
            <label for="ex3">col-xs-4</label>
            <input class="form-control" id="ex3" type="text">
        </div>*@
    @*<div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>*@
</div>

<div id="salon-box" class="box-all">
    <div id="salon-box" class="box-left">

        <div class="salon-photo">
            <a href="/salons/toyota-hung-vuong-cn-tan-tao-27035-582"><img src="http://img1.banxehoi.com/resize/140x104//2015/11/24/VQOihD3w/1448350407954195-afda.jpg" alt="Toyota Hùng Vương – CN Tân Tạo" title="Toyota Hùng Vương – CN Tân Tạo"></a>
        </div>
        <div class="salon-name">

            <a href="http://img1.banxehoi.com/crop/140x104/2016/01/03/20160103152230-2598_wm.jpg">Toyota bến thành </a>
        </div>
        <div class="salon-decription">
            "Với phương châm “Chất lượng - Phát triển - Bền vững”, Toyota Bến Thành luôn phấn đấu với mục đích phục vụ khách hàng càng ngày càng tốt hơn"
        </div>
        <div class="salon-address">
            262 Trần Hưng Đạo, Quận 1, TP Hồ Chí Minh
        </div>
    </div>
    
    <div id="salon-box" class="box-right">
        <div class="salon-photo">
            <a href="/salons/honda-kim-thanh-28637-249"><img src="http://img1.banxehoi.com/resize/140x104/SalonUploadImages/2014/12/03/20141203_eb95f552-ee26-465d-ac82-32ab2469d2a6.jpg" alt="Honda Kim Thanh" title="Honda Kim Thanh"></a>
        </div>
        <div class="salon-name">

            <a href="http://img1.banxehoi.com/crop/140x104/2016/01/03/20160103152230-2598_wm.jpg">Toyota bến thành </a>
        </div>
        <div class="salon-decription">

            "Với phương châm “Chất lượng - Phát triển - Bền vững”, Toyota Bến Thành luôn phấn đấu với mục đích phục vụ khách hàng càng ngày càng tốt hơn"
        </div>
        <div class="salon-address">
            262 Trần Hưng Đạo, Quận 1, TP Hồ Chí Minh
        </div>
    </div>


</div>  @*fdfdfdf*@
   
    
  
   
@*</form>*@
@section Scripts
{
    <script src="~/Content/scripts/SearchingHandler.js"></script>
    <script src="~/Content/scripts/GridRender.js"></script>
    <script src="~/Content/scripts/SearchingCar.js"></script>
}
