@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/Content/css/ajax/ajax-loader.css" rel="stylesheet" />   
}

@model Car.Model.Criteria.CarSearchingFirmModelProvinceCriteria

<div class="ajax-loader">
    <img src="~/Content/images/common/ajax-loader.gif" class="img-responsive" />
</div>

<div id="div-car-list" class="car_list_box">
    
    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml", new Car.Model.Entity.CarViewModel { Firm = @Model.FirmName, Model = @Model.Model }); }
        
    <div class="grid-container">
        <div id="gridSearchingCar" class="freegrid"></div>        
    </div>
            
</div>


@section Scripts
{       

    <script src="~/Content/scripts/SearchingCar.js"></script>

    <script>   
                        
        handler.showResultSearching();
      
        var searchingUrl = "/Car/SearchingCarsByFirmModelProvince";

        var criteria = {
            ItemsPerPage: ItemsPerPage,
            CurrentPageIndex: 0,
            FirmName: '@Model.FirmName',
            Model: '@Model.Model'
        };

        var SearchingCar = new Car.SearchingCar();
        SearchingCar.Searching(searchingUrl, criteria);
        
        handler.inActiveTab($("#div_searching_tab"));

    </script>   
    
}
