@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
@model Car.Model.Entity.SearchingType

<div id="div-car-list" class="car_list_box">
    
    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml"); }
    

    @*<div class="car-list-header">
        <h3>@Model.Message</h3>
    </div>*@
    <!-- begin list car -->
    
    <div class="grid-container">
        <div id="gridSearchingCar" class="freegrid"></div>
    </div>
        
</div>

@section Scripts
{    

    @if (Model.Type == 1)
    {
        <script src="~/Content/scripts/SearchingCar.js"></script>
    }
    else if (Model.Type == 2)
    {
        <script src="~/Content/scripts/SearchingNewCar.js"></script>
    }
    else
    {
        <script src="~/Content/scripts/SearchingOldCar.js"></script>
    }
    
}
