@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

@model Car.Model.Criteria.CarSearchingFirmModelCriteria

<div id="div-car-list" class="car_list_box">
    
    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml"); }
    

    @*<div class="car-list-header">
        <h3>@Model.Message</h3>
    </div>*@
    <!-- begin list car -->
    
    <div class="grid-container">
        <div id="gridSearchingCar" class="freegrid"></div>
    </div>
        
</div>

@section Scripts
{       

    <script src="~/Content/scripts/SearchingCriteria.js"></script>

    <script src="~/Content/scripts/SearchingCar.js"></script>

    <script>   
        var searchingUrl = $.cookie("searchingUrl");

        if (searchingUrl == "" || searchingUrl == "SearchingCars") {
            searchingUrl = "SearchingCars";

            $.cookie("searchingUrl", searchingUrl, { path: '/' });
            
            $.cookie("tabIndex", 0, { path: '/' });

            handler.inActiveTab($("#div_searching_criteria"));
            $("#car_searching").addClass("tabactive");
            
            var criteria = {
                itemsPerPage: itemsPerPage,
                currentPageIndex: 0,
                firmName: '@Model.FirmName',
                model: '@Model.Model'
            };

            SearchingCar.Searching(searchingUrl, criteria);
           
        }
        else {
            $.cookie("searchingUrl", "", { path: '/' });
            SearchingCar.Searching(searchingUrl, { itemsPerPage: itemsPerPage, currentPageIndex: 0 });
        }
      
    </script>   
    
}
