@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

@model Car.Model.Criteria.CarSearchingFirmModelCriteria

<div id="div-car-list" class="car_list_box">
    
    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml", new Car.Model.Entity.CarViewModel()); }
    

    @*<div class="car-list-header">
        <h3>@Model.Message</h3>
    </div>*@
    <!-- begin list car -->
    
    <div class="grid-container">
        <div id="gridSearchingCar" class="freegrid"></div>
    </div>
        
</div>

@section Scripts
{       

    <script src="~/Content/scripts/SearchingCar.js"></script>

    <script>   
                        
        handler.showResultSearching();
      
        var searchingUrl = "/Car/SearchingCarsByFirmModel";

        var criteria = {
            ItemsPerPage: ItemsPerPage,
            CurrentPageIndex: 0,
            FirmName: '@Model.FirmName',
            Model: '@Model.Model'
        };

        SearchingCar.Searching(searchingUrl, criteria);
        
        handler.inActiveTab($("#div_searching_tab"));

    </script>   
    
}
