MVCBootstrap/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCBootstrap/obj/Debug/MVCBootstrap.csproj.FileListAbsolute.txt
MVCBootstrap/obj/Debug/MVCBootstrap.dll
MVCBootstrap/obj/Debug/MVCBootstrap.pdb
MVCBootstrap.suo
MVCBootstrap/obj/Debug/MVCBootstrap.csprojResolveAssemblyReference.cache
MVCBootstrap/bin/MVCBootstrap.dll
MVCBootstrap/bin/MVCBootstrap.pdb
MVCBootstrap/bin/MVCBootstrap.dll
MVCBootstrap/bin/MVCBootstrap.pdb
MVCBootstrap/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVCBootstrap/obj/Debug/MVCBootstrap.csproj.FileListAbsolute.txt
MVCBootstrap/obj/Debug/MVCBootstrap.csprojResolveAssemblyReference.cache
MVCBootstrap/obj/Debug/MVCBootstrap.dll
MVCBootstrap/obj/Debug/MVCBootstrap.pdb
MVCBootstrap.v12.suo
MVCBootstrap.v12.suo
MVCBootstrap.v12.suo
MVCBootstrap/bin/MVCBootstrap.pdb
MVCBootstrap/obj/Debug/MVCBootstrap.csproj.FileListAbsolute.txt
MVCBootstrap/obj/Debug/MVCBootstrap.csprojResolveAssemblyReference.cache
MVCBootstrap/obj/Debug/MVCBootstrap.dll
MVCBootstrap/obj/Debug/MVCBootstrap.pdb
