@{
    ViewBag.Title = "Các hãng dự đoán người Việt mua ôtô sẽ tăng mạnh trong 2018";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 15;
    ViewBag.IsNews = 1;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2>Các hãng dự đoán người Việt mua ôtô sẽ tăng mạnh trong 2018</h2>
    </div>
    
    <section class="sidebar_1">              
        <h3 class="description">Thị trường xe phổ thông là mảnh đất màu mỡ cho xe lắp ráp, trong khi trận chiến xe sang sẽ sôi động hơn vì BMW giảm giá.</h3>
        <article class="content_detail fck_detail width_common block_ads_connect">
            <p class="Normal">
                Năm 2017 đi qua, các hãng chưa kịp thở phào nhẹ nhõm vì đà suy giảm doanh số thì những áp lực từ thay đổi chính sách lại hiển hiện. Chuyên gia trong ngành dự đoán năm 2018 sẽ tăng trưởng nhưng con số cụ thể lại có nhiều kịch bản, phụ thuộc vào chính sách của chính phủ. Một thành viên của VAMA tiết lộ Hiệp hội đã đưa ra dự đoán, con số tươi sáng nhất là tăng 40% so với năm vừa rồi, nếu xe nhập khẩu có thể sớm về nước bình thường. Ngược lại, nếu xe nhập khẩu không thể về nước sớm, phải đợi tới giữa năm, thậm chí không thể về nước, thì thị trường tăng khoảng 5%. Để chọn mức trung bình, vị này cho rằng khoảng 10-15% là hợp lý.
            </p><p class="Normal">
                Ảnh hưởng của chính sách lên thị trường năm 2017 khiến VAMA thận trọng hơn nhiều khi làm kế hoạch cho 2018. Nếu cuộc chiến của hãng trong 2017 là tập trung để đấu tâm lý với khách hàng thì sang 2018 mọi chuyện phức tạp hơn, ở mọi phân khúc.
            </p><p class="Normal">
                Xe phổ thông là cuộc chiến một mất-một còn giữa nhập và lắp, khi nghị định 116 vẫn chưa có gì biến chuyển. Xe sang sôi động khi BMW về tay Trường Hải và định giá thấp hơn hàng trăm triệu so với thời Euro Auto. Một phân khúc chen chân kỳ vọng phát triển trong năm tới nhưng nhiều thách thức là tiệm cận hạng sang, nơi hiện chỉ có Volkswagen và Peugeot.
            </p><p class="Normal">
                <strong>Xe phổ thông: lợi thế thuộc về lắp ráp</strong>
            </p><p class="Normal">
                Vài năm trước thời điểm 2018, các hãng lắp ráp lo lắng không thể đấu với xe nhập khẩu khi thuế nhập khẩu từ ASEAN về 0%. Nhưng cuối 2017, những can thiệp của chính phủ bằng chính sách đã lật ngược ván cờ. Định hướng ngành công nghiệp ôtô phải lắp ráp, bởi vậy hãng lắp ráp được tạo nhiều ưu đãi, trong khi Nghị định 116 gây khó cho xe nhập khẩu.
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 500px;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="Xe lắp ráp đang ở thời điểm đầy ưu đãi." data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2018/01/29/Hyundai-Grand-i10-71-JPG-3258-1517220020.jpg" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Xe lắp ráp đang ở thời điểm đầy ưu đãi.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Đến thời điểm này, hầu hết các hãng liên doanh nhập xe phổ thông từ ASEAN đều phải chờ đợi, chưa biết bao giờ mới nhập được. Hãng rục rịch lo giấy chứng nhận chất lượng kiểu loại, nhưng có sớm cũng phải 4-5 tháng nữa mới nhập được xe. Honda, Toyota, Ford đều phải chờ đợi vì vẫn giữ hướng đi chuyển sang nhập khẩu chủ yếu. CR-V, Fortuner hay Ranger đều hết hàng, khách không thể mua xe hoặc buộc chuyển sang lắp ráp trong nước.
            </p><p class="Normal">
                Ngược lại Trường Hải, Thành Công đang tận dụng đà ưu đãi để mở rộng nhà máy, phát triển lắp ráp càng nhiều, càng nhanh càng tốt. Không có đối trọng là nhập khẩu, xe lắp ráp có thể tự định giá thị trường, dẫn dắt cuộc chơi và thậm chí là chi phối khách hàng.&nbsp;
            </p><p class="Normal">
                Thành Công và Trường Hải bắt đầu hưởng lợi của Nghị định 125, miễn thuế nhập khẩu linh kiện. Nhưng chừng ấy với các ông lớn có vẻ chưa đủ. Ông Lê Ngọc Đức, Tổng giám đốc Hyundai Thành Công cho rằng phải có thêm ưu đãi cho xe lắp, ví như miễn thuế TTĐB cho phần giá trị trong nước, bởi nếu ưu đãi chỉ dừng lại ở Nghị định 125 là "ưu đãi nửa vời". Vị CEO này cũng tự tin rằng những đề xuất này sẽ sớm trở thành hiện thực.
            </p><p class="Normal">
                Sự tự tin của hai hãng chuyên lắp ráp đồng nghĩa với những lo ngại của các liên doanh có xe nhập khẩu. Nếu tiếp tục giữ một vài mẫu theo hướng nhập khẩu, họ phải chấp nhận cạnh tranh bằng yếu tố khác ngoài giá, vì xe nhập khẩu sẽ khó có cửa giảm giá như xe lắp ráp.
            </p><p class="Normal">
                <strong>Xe sang: cơ hội mua xe sang cho khách hàng Việt</strong>
            </p><p class="Normal">
                Mercedes Việt Nam cho biết vừa lo vừa mừng khi Trường Hải giành quyền phân phối xe BMW. Nỗi lo dễ nhận, đó là chia sẻ thị phần. Ngay khi ra mắt, BMW của Trường Hải đã rẻ hơn từ vài chục cho tới gần 600 triệu so với những mẫu xe tương tự hồi Euro Auto còn phân phối. Mức giá này đã rẻ hơn Mercedes, đe dọa trực tiếp ngôi vương của Mercedes tại thị trường xe sang Việt Nam.
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="margin: 10px auto; padding: 0px; color: rgb(51, 51, 51); letter-spacing: normal; text-align: left; text-indent: 0px; text-transform: none; word-spacing: 0px; width: 500px;">
                <tbody style="margin:0px;padding:0px;">
                    <tr style="margin:0px;padding:0px;">
                        <td style="margin: 0px; padding: 0px; box-sizing: border-box; text-rendering: geometricPrecision; line-height: 0;">
                            <img alt="BMW X4 tại đại lý BMW Long Biên của Trường Hải." data-natural-width="0" src="https://i-vnexpress.vnecdn.net/2018/01/16/26942178-10204308795397805-147-6178-2957-1516083308.jpg" style="margin:0px;padding:0px;border:0px none;line-height:0;" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr style="margin:0px;padding:0px;">
                        <td style="margin: 0px; padding: 0px; box-sizing: border-box; text-rendering: geometricPrecision; line-height: 0;">
                            <p class="Image" style="margin:0px;padding:10px;line-height:normal;color:rgb(51,51,51);background:rgb(245,245,245);">
                                BMW X4 tại đại lý BMW Long Biên của Trường Hải.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Bản thân Trường Hải cũng chưa đặt nhiều kỳ vọng vào doanh số giai đoạn đầu dù giá thấp, bởi đây là khoảng thời gian khách hàng nghe ngóng phản ứng của những người khác. Nếu các dịch vụ chăm sóc khách hàng tốt, lúc đó hãng mới có thể bắt đầu bán xe.
            </p><p class="Normal">
                Trong khi đó Mercedes thì chấp nhận bị chia sẻ thị phần gay gắt hơn so với thời Euro Auto. Nhưng hãng này cũng hy vọng, mức giá thấp của BMW sẽ mở rộng biên của thị trường xe sang, sẽ có thêm nhiều khách hàng của phân khúc bình dân chuyển lên cao cấp. "Khi họ có ý định mua xe sang, cơ hội chia đều cho tất cả", một đại diện Mercedes Việt Nam chia sẻ. Thị phần mất đi có thể được bù lại bằng số lượng xe bán ra tăng lên.
            </p><p class="Normal">
                Thị trường xe sang sẽ sôi động hơn, nhất là khi Trường Hải lên kế hoạch đưa vào hoạt động 15 showroom trong 2018 hoặc chậm thì sang đầu 2019, bằng thực tế mạng lưới của Mercedes trong hơn 20 năm trụ tại Việt Nam. Các đối thủ nhỏ cũng có cơ hội khi thị trường mở rộng, nhưng đòi hỏi tạo khác biệt tốt hơn nếu không muốn bị hai thương hiệu lớn lấn át.
            </p><p class="Normal">
                Lexus có thể phải nhập xe từ châu Âu nếu Nhật Bản không cung cấp được giấy chứng nhận chất lượng kiểu loại. Audi có tập khách hàng riêng, ưa thời trang và thường không giao thoa với BMW. Những Volvo, Maserati, Porsche lại càng đặc thù. "Cách cạnh tranh tốt nhất là tự làm tốt chính mình", đại diện một hãng cho biết.
            </p><p class="Normal">
                <strong>Tiệm cận hạng sang: cơ hội nào cho những cái tên "lấp lửng"</strong>
            </p><p class="Normal">
                Tiệm cận hạng sang là phân khúc dành cho những mẫu xe nhập khẩu châu Âu, nhưng chưa tới hạng sang như Mercedes hay BMW, đó là Volkswagen và Peugeot. Trường Hải đưa Peugeot vào Việt Nam từ nhiều năm nay nhưng chưa có kết quả khả quan. Lượng xe bán mỗi năm chỉ tới con số vài trăm. Trong khi đó, Volkswagen cũng chìm nổi, mờ nhạt nhiều năm trước, không xác định được giá trị rõ ràng, trong khi nguồn gốc nhập khẩu châu Âu nên giá cao hơn nhiều xe Nhật.
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="margin: 10px auto; padding: 0px; color: rgb(51, 51, 51); letter-spacing: normal; text-align: left; text-indent: 0px; text-transform: none; word-spacing: 0px; width: 500px;">
                <tbody style="margin:0px;padding:0px;">
                    <tr style="margin:0px;padding:0px;">
                        <td style="margin: 0px; padding: 0px; box-sizing: border-box; text-rendering: geometricPrecision; line-height: 0;">
                            <img alt="volkswagen-tiguan-tai-viet-nam-1" data-natural-width="0" src="https://i-vnexpress.vnecdn.net/2018/01/29/volkswagen-tiguan-3-5071-15053-7014-5925-1517220020.jpg" style="margin:0px;padding:0px;border:0px none;line-height:0;" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr style="margin:0px;padding:0px;">
                        <td style="margin: 0px; padding: 0px; box-sizing: border-box; text-rendering: geometricPrecision; line-height: 0;">
                            <p class="Image" style="margin:0px;padding:10px;line-height:normal;color:rgb(51,51,51);background:rgb(245,245,245);">
                                Phân khúc lửng lơ về giá khó tiếp cận khách hơn cả.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Trong 2018, cả hai hãng đều cho thấy những thay đổi để làm lại thị trường. Peugeot ra mắt hai mẫu 3008 và 5008 (bản kéo dài của 3008). Thiết kế mới hiện đại, hợp mắt khách hàng, nhiều công nghệ hơn giúp hai xe mới ban đầu mang lại doanh số chiều hướng khả quan. Hai tháng đơn hàng đã hơn cả năm trước đây. Nếu bán hàng tốt, Peugeot có thể tự nuôi mà không phải là thương hiệu "bán cho vui" trong cơ cấu sản phẩm của Trường Hải.
            </p><p class="Normal">
                Volkswagen rộng hơn về cả danh mục và kế hoạch kinh doanh. Năm 2017 hãng này bán hơn 700 xe và mong sang 2018 sẽ tăng khoảng 40% lên mức trên 1.000 xe. Để đạt mục tiêu, vừa đầu năm hãng đã mở liền bốn đại lý và sẽ còn mở tiếp trong thời gian tới.
            </p><p class="Normal">
                Những nỗ lực mở rộng của Volkswagen hay Peugeot phải đi liền với sự khác biệt về sản phẩm mới có thể cạnh tranh xe Nhật. Như Volkswagen, xuất xứ xe Đức, mức giá cao hơn xe Nhật, thấp hơn xe sang và khả năng vận hành, cảm giác lái cũng trên xe Nhật một bậc, thậm chí tương đương xe sang ở phân khúc thấp. Tuy nhiên, một mẫu xe chạy tốt đến mấy còn cần nhiều options để chinh phục được khách hàng Việt, những người vốn đang ưa thích sự tiện nghi.
            </p><p class="Normal">
                Thị trường Việt Nam sẽ tăng 5%, hay lên tới 40% như những viễn cảnh mà VAMA hình dung phụ thuộc phần lớn và tính ổn định của chính sách cũng như tiềm lực tài chính để đặt giá thấp, trong cuộc chiến có độ nhạy cảm cao về giá.
            
        </article>

    </section>
    
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
(Nguồn: vnexpress.net)


