@{
    ViewBag.Title = "Ô tô Suzuki Celerio giá khoảng 299 triệu về Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 16;
    ViewBag.IsNews = 1;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2>Ô tô Suzuki Celerio giá khoảng 299 triệu về Việt Nam</h2>
    </div>
    
    <section class="sidebar_1">              
        <h3 class="description">Mẫu xe Suzuki Celerio 2017 sắp sửa đổ bộ vào Việt Nam với giá chỉ từ 299 triệu đồng, cạnh tranh trực tiếp Kia Morning và Huyndai i10 khiến thị trường ô tô càng trở nên sôi động.</h3>
        <div class="article__body">
            <p class="body-text">Ngay khi mẫu Suzuki Celerio mới vừa ra mắt đã có thông tin cho rằng mẫu xe cỡ nhỏ này tại thị trường Việt Nam có giá khoảng 400 triệu đồng cho bản số tự động và khoảng 380 triệu đồng cho bản số sàn. Tuy nhiên, theo tiết lộ của một số đại lý bán xe Suzuki tại Hà Nội, giá bán chính thức cho mẫu xe giá rẻ Celerio thậm chí còn hấp dẫn hơn, dự kiến là 299 triệu đồng cho phiên bản số sàn và 340 triệu đồng cho số tự động.</p><p class="body-text">Dự kiến, khách hàng sẽ nhận được xe vào tháng 3/2018, thay vì tháng 1/2018 như dự đoán trước đó. Suzuki Celerio 2017 sẽ được Suzuki Việt Nam nhập khẩu nguyên chiếc về nước từ Thái Lan.</p><p class="body-image">
            <a class="photo" href="~/Content/images/news/celerio.jpg" data-desc="" data-index="0"><img src="~/Content/images/news/celerio.jpg" alt="Ô tô Suzuki Celerio giá khoảng 299 triệu về Việt Nam - Ảnh 1"></a></p><p class="body-text"><em>Suzuki Celerio 2017 sắp về Việt Nam giá chỉ từ 299 triệu đồng.</em></p><p class="body-text">Với mức giá 299 triệu đồng, mẫu xe Celerio 2017 đang hướng tới cạnh tranh trực tiếp với 2 đối thủ là Kia Morning và Huyndai i10 ở Việt Nam. Hiện tại, Suzuki Celerio bản số sàn chỉ cao hơn 4 triệu đồng so với Kia Morning bản MT 1.0 (hiện là 295 triệu đồng), và thấp hơn 16 triệu đồng so với đối thủ Hyundai Grand i10 (bản 1.0 Base MT hiện có giá 315 triệu đồng).</p><p class="body-text">Suzuki Celerio có kích thước tổng thể dài 3.600mm, rộng 1.600mm, cao 1.540mm, chiều dài cơ sở 2.425mm và khoảng sáng gầm xe 145mm. Dù vậy, với thông điệp “Extra Large Small Car”, khoang nội thất của Celerio có thiết kế thông minh nhằm tối ưu hóa không gian sử dụng, tạo cảm giác thoải mái cho người sử dụng.</p><p class="body-text">Bên trong cabin trang bị vô lăng dạng 3 chấu thiết kế đơn giản không được tích hợp các phím chức năng, tay lái có thể điều chỉnh độ nghiêng, điều hòa 2 vùng độc lập, đi kèm là hệ thống âm thanh giải trí 2-DIN với 4 loa, khóa cửa trung tâm và cửa sổ điện.</p><p class="body-text">Mẫu hatchback nhỏ nhắn này mang trong mình động cơ 3 xi lanh, dung tích 1.0 lít, công suất tối đa 68 mã lực và mô men xoắn cực đại 89 Nm, tích hợp công nghệ tự động tắt máy khi dừng xe giúp tiết kiệm nhiên liệu và giảm lượng khí thải CO2. Trang bị an toàn trên xe khá cơ bản, bao gồm hệ thống trợ lực điện, 2 túi khí phía trước, cảnh báo cửa bằng âm thanh và dây đai an toàn ở ghế lái.</p>
        </div>

    </section>
    
</div>
<div style="margin-top:700px">(Nguồn: baomoi.com)</div>
