@{
    ViewBag.Title = "Mẹo để không mua nhầm phải ô tô tồn kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2>Mẹo để không mua nhầm phải ô tô tồn kho</h2>
    </div>
    
    <div class="block_col_480">

        <h3 class="short_intro txt_666">Ô tô khi tồn kho thì thường không được bảo quản tốt (thường để ngoài bãi) nên ngoài suy giảm chất lượng do thời tiết thì còn có thể bị chuột cắn…</h3>

        <div id="divNewsContent" class="fon34 mt3 mr2 fon43 detail-content">
            <p>Theo chia sẻ của kỹ sư ô tô Lê Văn Tạch, hơn 15 năm làm việc tại hãng xe Toyota Việt Nam, mỗi năm tồn kho, giá trị vật chất của xe suy giảm khoảng 10%, gọi là hao mòn tự nhiên.</p>

            <p>Do vậy, khi mua xe mới thì mọi người nên để ý để không mua phải xe tồn kho, hoặc chí ít phải biết đó là xe tồn kho bao lâu.</p>

            <p>Kĩ sư Tạch cho biết theo quy luật dập số VIN (số nhận dạng xe gồm 17 ký tự) thì ký tự thứ 10 quy ước năm 2016 là chữ G, năm nay 2017 là chữ H, và năm tới 2018 sẽ là chữ I.</p>

            <div class="VCSortableInPreviewMode" type="Photo">
                <div>
                    <img alt="
Trong dải VIN của chiếc Kia K3 này, ký tự thứ 10 là chữ E tức là chiếc xe được sản xuất năm 2014.
" id="img_c03b2f00-911e-11e7-97cf-8dd02504b93e" photoid="c03b2f00-911e-11e7-97cf-8dd02504b93e" src="https://dantricdn.com/thumb_w/640/2017/photo-0-1504494690086.jpg" rel="https://dantricdn.com/2017/photo-0-1504494690086.jpg" type="photo" style="max-width: 100%; width: 460px;" data-original="https://dantricdn.com/2017/photo-0-1504494690086.jpg" w="800" h="600">
                </div>

                <div class="PhotoCMS_Caption">
                    <p style="font-style:italic; text-align:center;margin:0px;">Trong dải VIN của chiếc Kia K3 này, ký tự thứ 10 là chữ E tức là chiếc xe được sản xuất năm 2014.</p>
                </div>
            </div>
            <br />
            <p>Còn để biết xe được sản xuất vào tháng nào thì tham khảo thông tin thời gian sản xuất lốp được dập lõm trên lốp.</p>

            <p>Thông tin này đặt trong hình ô van như hình dưới và có dải ký tự gồm chữ và số. Lưu ý bốn con số ở cuối. Trong bốn số đó có hai con số đầu tiên ghi tuần thứ bao nhiêu trong năm, hai số còn lại ghi năm sản xuất lốp.</p>

            <div class="VCSortableInPreviewMode IMSCurrentEditorEditObject" type="Photo">
                <div>
                    <img alt="
Ví dụ chiếc lốp này được sản xuất trong tuần thứ 24 của năm 2017, tương ứng khoảng cuối tháng 6-2017.
" id="img_c01c5c60-911e-11e7-a2c7-8fd4970c4e01" photoid="c01c5c60-911e-11e7-a2c7-8fd4970c4e01" src="https://dantricdn.com/thumb_w/640/2017/photo-1-1504494690089.jpg" rel="https://dantricdn.com/2017/photo-1-1504494690089.jpg" type="photo" style="max-width: 100%; width: 460px;" data-original="https://dantricdn.com/2017/photo-1-1504494690089.jpg" w="800" h="570">
                </div>
                
                <div class="PhotoCMS_Caption">
                    <p style="font-style:italic; text-align:center;margin:0px;">Ví dụ chiếc lốp này được sản xuất trong tuần thứ 24 của năm 2017, tương ứng khoảng cuối tháng 6-2017.</p>
                </div>
            </div>

            <br />
            <p>Thông thường, lốp từ khi sản xuất đến khi được lắp vào xe chỉ khoảng một tháng. Vậy nên từ đó có thể tham khảo để biết thời gian xe được sản xuất.</p>

            <p>Đó là thông tin sơ đẳng khi đi mua xe, hữu ích cho bất cứ ai đang định tậu một chiếc xe mới tinh ngoài showroom.</p>

                       
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
(Nguồn: dantri.com.vn)


