@{
    ViewBag.Title = "Ô tô nhập khẩu thuế 0% về Việt Nam: Giá xe giảm ngay 200 triệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 17;
    ViewBag.IsNews = 1;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2>Ô tô nhập khẩu thuế 0% về Việt Nam: Giá xe giảm ngay 200 triệu</h2>
    </div>
    
    <section class="sidebar_1">              
        <h3 class="description">Ô tô nhập khẩu nguyên chiếc từ khu vực ASEAN với thuế suất 0% chuẩn bị cập cảng Việt Nam. Ngay lập tức các đại lý đã chào giá xe mới giảm tới hơn 200 triệu đồng. Các DN dự kiến, đến giữa năm 2018, hàng loạt xe ngoại từ khu vực sẽ đổ về trong nước với mức giá rẻ. Chỉ cần bỏ ra từ 350-500 triệu đồng là có thể sở hữu một chiếc ô tô nhập khẩu thương hiệu Nhật Bản.</h3>
        <div id="divNewsContent" class="fon34 mt3 mr2 fon43 detail-content">
            <p><strong>Vướng mắc đã khai thông</strong></p>

            <p>Hiệp hội Các nhà sản xuất ô tô Việt Nam (VAMA) cho biết, Bộ Giao thông Vận tải đã chấp nhận mẫu Giấy chứng nhận chất lượng kiểu loại ô tô, do Chính phủ Thái Lan cung cấp, cho xe xuất khẩu từ nước này vào Việt Nam.</p>

            <p>Như vậy, vướng mắc lớn nhất khiến cho xe nhập khẩu thời gian qua không thể về Việt Nam, đã bắt đầu được giải quyết. Ông Phạm Anh Tuấn, Trưởng tiểu ban chính sách VAMA, cho biết, Thái Lan là quốc gia đầu tiên tại Đông Nam Á cấp Giấy chứng nhận chất lượng kiểu loại ô tô cho xe xuất khẩu và tất cả các DN nhập khẩu xe về Việt Nam đều đã nhận được giấy này.</p>

            <p>Ngay sau khi có Giấy chứng nhận chất lượng kiểu loại từ cơ quan chức năng Thái Lan, các DN đã tiến hành ngay việc nhập khẩu ô tô nguyên chiếc. Một số nguồn tin cho biết, Honda Việt Nam đã nhập khẩu lô hàng khoảng 2.000 xe các loại và hàng sắp cập cảng. Thông tin từ Honda Việt Nam, từ tháng 3/2018, có 4 mẫu xe gồm: Accord, CR-V, Jazz và Civic sẽ được nhập khẩu trở lại, nhưng phải đến tháng 5/2018 mới có thể giao nhận cho khách hàng.</p>

            <div class="VCSortableInPreviewMode IMSCurrentEditorEditObject" type="Photo">
                <div>
                    <img alt="
                         ‘Ôm tiền’ chờ mua ô tô 2018 Giá xe sẽ giảm?
                         " id="img_6e320640-1dad-11e8-acae-43e20bf45fe2" photoid="6e320640-1dad-11e8-acae-43e20bf45fe2" src="https://dantricdn.com/thumb_w/640/2018/3/2/photo-0-1519949134499245103277.jpg" rel="https://dantricdn.com/2018/3/2/photo-0-1519949134499245103277.jpg" type="photo" h="433" w="650" data-original="https://dantricdn.com/2018/3/2/photo-0-1519949134499245103277.jpg" style="width: 460px;">
                </div>

                <div class="PhotoCMS_Caption">
                    <p style="text-align:center;margin:0px;">‘Ôm tiền’ chờ mua ô tô 2018: Giá xe sẽ giảm?</p>
                </div>
            </div>

            <br />
            <p>Theo quy định tại Nghị định 116 /2017 NĐ-CP, ô tô nguyên chiếc nhập khẩu về Việt Nam sẽ phải thực hiện kiểm định theo lô. Thời gian kiểm định động cơ, khí thải,... sẽ kéo dài từ 1-2 tháng. Như vậy, nếu ô tô nhập khẩu về cảng vào tháng 3/2018 thì phải tới tháng 5/2018 mới có xe để giao cho khách hàng.</p>

            <p>Các DN khác như Ford, Suzuki, GM Việt Nam,... cũng đang ráo riết tiến hành nhập khẩu ô tô từ Thái Lan, trong đó dòng pick up được ưu tiên nhập khẩu giai đoạn này.</p>

            <p>Tiếp sau Thái Lan, các DN cũng đang chờ đợi Giấy chứng nhận chất lượng kiểu loại từ các cơ quan chức năng của Indonesia, Malaysia để nhập về một số mẫu xe chủ lực. Theo ông Phạm Anh Tuấn, như vậy, xe từ khu vực ASEAN sẽ không gặp trở ngại khi vào Việt Nam nữa.</p>

            <p>Tính toán của các DN cho thấy, những mẫu xe được hưởng thuế suất thuế nhập khẩu 0% về nước sẽ rẻ hơn xe cùng loại sản xuất lắp ráp trong nước. Ngoài việc được hưởng thuế suất 0%, xe có dung tích xi-lanh dưới 2.0L cũng được giảm thêm 5% thuế tiêu thụ đặc biệt nên giá cũng giảm. Đây là cơ hội để những mẫu xe nhỏ, giá rẻ thâm nhập thị trường Việt Nam thời gian tới.</p>

            <p>Mỗi lô xe nhập về có tối đa khoảng 400 chiếc. Các DN cho hay sẽ cố gắng nhập lô đủ lớn để giảm chi phí kiểm định. Những mẫu xe nhỏ, giá rẻ, có doanh số bán lớn đều đã được các DN chuẩn bị để nhập về Việt Nam.</p>

            <p><strong>Xe nhỏ giá rẻ sắp về</strong></p>

            <p>Toyota sẽ đưa về Wigo và Rush - hai mẫu xe nhỏ giá rẻ được nhiều người chờ đợi. Từ cuối năm 2017, các đại lý Toyota Việt Nam đã chào mời khách hàng đặt tiền mua mẫu xe cỡ nhỏ Wigo, giao hàng vào tháng 1/2018. Wigo nhập khẩu có 2 phiên bản số sàn và số tự động; giá phiên bản số sàn vào khoảng 320 triệu đồng và số tự động khoảng 370 triệu đồng.</p>

            <p>Theo các đại lý, đây là giá bán tạm tính khi thuế suất thuế nhập khẩu ô tô từ khu vực ASEAN về Việt Nam giảm còn 0% và thuế tiêu thụ đặc biệt giảm thêm 5% nữa, từ 1/1/2018. Tuy nhiên, sau đó mẫu xe này đã không thể về Việt Nam do vướng quy định Giấy chứng nhận chất lượng kiểu loại.</p>

            <div class="VCSortableInPreviewMode" type="Photo">
                <div>
                    <img alt="
                         Rất nhiều xe nhỏ giá rẻ nhập khẩu sẽ tràn vào Việt Nam
                         " id="img_6e3365d0-1dad-11e8-930e-4934cb04d8d2" photoid="6e3365d0-1dad-11e8-930e-4934cb04d8d2" src="https://dantricdn.com/thumb_w/640/2018/3/2/photo-1-15199491345011585902540.jpg" rel="https://dantricdn.com/2018/3/2/photo-1-15199491345011585902540.jpg" type="photo" h="507" w="800" data-original="https://dantricdn.com/2018/3/2/photo-1-15199491345011585902540.jpg" style="width: 460px;">
                </div>

                <div class="PhotoCMS_Caption">
                    <p style="text-align:center;margin:0px;">Rất nhiều xe nhỏ giá rẻ nhập khẩu sẽ tràn vào Việt Nam</p>
                </div>
            </div>

            <br />

            <p>Ngoài mẫu Wigo, Toyota Việt Nam sẽ nhập khẩu thêm Rush, là mẫu SUV cỡ nhỏ, nhưng có cả phiên bản 5 chỗ và 7 chỗ ngồi. Giá bán lẻ Toyota Rush tại Indonesia là từ 18.700 - 20.000 USD.</p>

            <p>Honda Việt Nam dự kiến sẽ nhập mẫu BR-V từ Indonesia, cũng là SUV cỡ nhỏ, chia sẻ động cơ với mẫu City, là đối thủ cạnh tranh của Toyota Rush, với mức giá bán tương đương, sẽ làm cho phân khúc này thêm nhiều lựa chọn.</p>

            <p>Với sức mạnh về nội địa hoá, giá rẻ và đặc biệt quy mô sản xuất lớn, các hãng xe từ Thái Lan và Indonesia có thể dễ dàng thâm nhập vào Việt Nam khi thuế nhập khẩu và các rào cản được gỡ bỏ.</p>

            <p>Các DN dự kiến từ giữa năm 2018 xe nhập từ ASEAN sẽ gỡ bỏ được các rào cản và sẽ nhập về với mức giá rẻ. Một số đại lý ô tô rất hào hứng cho rằng, đến giữa năm 2018, chỉ cần bỏ ra từ 350 - 500 triệu đồng là có thể sở hữu một chiếc ô tô nhập khẩu thương hiệu Nhật Bản ở phân khúc hạng A và B, đáp ứng nhu cầu đi lại hàng ngày.</p>

            <p>Không những thế, hiện các ngân hàng cũng đẩy mạnh cho vay mua ô tô với nhiều ưu đãi. Nếu mua một chiếc xe 350 triệu đồng, trong đó chỉ vay khoảng 200 triệu đồng, trong thời gian 3 năm thì số tiền phải trả hàng tháng không lớn. Vì vậy, khả năng "lên đời xế hộp" nằm trong tầm tay với nhiều gia đình.</p>

            <p>Có thể thấy, xe nhỏ giá rẻ sẽ là xu hướng lựa chọn của rất nhiều người mua xe hiện nay. Dòng xe này nhỏ gọn, dễ dàng di chuyển trong các con phố chật hẹp, thích hợp với tình hình giao thông Việt Nam. Hơn nữa, những mẫu xe này có chi phí vận hành, sử dụng thấp. Chúng còn được nhà sản xuất không ngừng đổi mới với thiết kế hợp thời trang.</p>

            <p>Trước tình hình này, cơ quan chức năng đã có động thái để kiểm soát chặt xe nhập khẩu nguyên chiếc. Tổng cục Hải quan mới đây đã có công văn yêu cầu các cục hải quan tỉnh, thành phố, tăng cường công tác kiểm tra trị giá hải quan, đối với mặt hàng ô tô nhập khẩu.</p>

            <p>Nhiều nhận định cho thấy, giá tính thuế đối với ô tô nhập khẩu sẽ được điều chỉnh theo hướng tăng lên. Với thuế suất thuế nhập khẩu ở mức 0%, việc nâng giá tính thuế một chiếc xe nhập thêm 1.000 USD sẽ làm giá xe tăng thêm khoảng 500 USD.</p>
           
        </div>

    </section>
    
</div>
<div style="margin-top:100px">(Nguồn: dantri.com.vn)</div>
