<div class="news-details" style="margin-left:10px;">
  
    <h1 id="title-h1">
        Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe
    </h1>

    <div class="clear">
    </div>

    <div id="content-id">
        <img width="650" height="365" border="0" src="http://autopro56.mediacdn.vn/zoom/650_365/2017/photo1486722417062-1486722417363-38-0-374-600-crop-1486722491798.jpg" alt="Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe" title="Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe" class="avatar-detail">
        <div class="sapo-news-detail">

            <h2>
                Bước sang năm 2017, sau hơn 1 tháng chờ đợi, đã có doanh nghiệp ô tô đầu tiên công bố giảm giá xe nhập khẩu nguyên chiếc từ Thái Lan về Việt Nam, với mức giảm khoảng 7%.
            </h2>
        </div>
        <div class="clear">
        </div>
        <div class="content-news-detail">
            <p><strong>Mẫu xe đầu tiên giảm giá</strong></p><p>Theo cam kết khi tham gia Hiệp định thương mại tự do khu vực ASEAN (AFTA), từ 1/1/2017, Việt Nam giảm thuế suất thuế nhập khẩu ô tô nguyên chiếc từ ASEAN xuống còn 30%, giảm 10 điểm phần trăm so với năm 2016. Theo tính toán, việc giảm thuế giúp giá xe giảm khoảng 7%.</p><p>Sau hơn 1 tháng chờ đợi, đến nay, Toyota Việt Nam là DN đầu tiên công bố giảm giá mẫu xe Yaris nhập khẩu nguyên chiếc từ Thái Lan.</p><p>Cụ thể, phiên bản Yaris G động cơ 1.5L số tự động giảm 47 triệu đồng, từ 689 triệu đồng xuống còn 642 triệu đồng. Phiên bản Yaris E động cơ 1.5L, số tự động, giảm 44 triệu đồng, từ 636 triệu đồng xuống còn 592 triệu đồng. Mức giảm giá này tương đương với khoảng 7% giá xe như tính toán.</p><p>Mặc dù giảm chưa nhiều, nhưng giá xe nhập khẩu đang dần cân bằng với xe trong nước. Yaris nằm cùng phân khúc với mẫu Vios do Toyota Việt Nam lắp ráp. Tất cả các mẫu xe do hãng này lắp ráp trong nước đều không giảm giá trong đợt này. Vios có phiên bản cao cấp nhất, sử dụng động cơ 1.5L, số tự động hiện có giá bán công bố là 622 triệu đồng.</p><p>Dựa trên mức giảm giá chiếc Yaris của Toyota Việt Nam, các tính toán cho thấy, tới 2018, giá xe nhập khẩu có thể giảm mạnh. Với mức thuế giảm từ 30% về 0% vào ngày 1/1/2018, chiếc Yaris giảm thêm khoảng 120-140 triệu đồng nữa. Khi đó, giá xe Yaris sẽ về dưới 500 triệu đồng.</p><p>Đấy là chưa kể, từ 1/1/2018, các mẫu xe có dung tích xi lanh từ 1.5L trở xuống được giảm thêm 5% thuế tiêu thụ đặc biệt, từ 40% hiện nay xuống còn 35%; như vậy, sẽ kéo giá xe giảm thêm khoảng 5% nữa.</p><p>Giá xe nhập khẩu vì thế sẽ thấp hơn giá xe lắp ráp trong nước, cụ thể là Yaris sẽ rẻ hơn Vios cả trăm triệu đồng (nếu các mẫu xe lắp ráp trong nước vẫn giữ nguyên giá bán như hiện nay, không chịu giảm giá để cạnh tranh).</p><p>Điều này càng củng cố cho quyết định chờ sang 2018 mua xe sẽ được lợi hơn rất nhiều. Một số nhận định cho biết, thị trường ô tô Việt Nam 2017 sẽ có xu hướng ngược với các năm trước. Nếu các năm trước, càng về cuối năm, nhu cầu càng tăng cao, thì năm 2017 càng về cuối năm, nhu cầu sẽ càng giảm mạnh vì 2018 đến gần.</p><p><strong>Xe nhập giá rẻ sẽ tràn vào</strong></p><p>Các DN cho biết khó có thể ngăn được ô tô nhập khẩu tràn vào vì cam kết giảm thuế với các nước trong khu vực ASEAN là để mở cửa thị trường, và việc xe nhập tràn vào là khó tránh khỏi.</p><p>Trên thực tế, hiện nay thuế suất thuế nhập khẩu đang ở mức 30%, nhưng nhập khẩu xe từ ASEAN đã tăng mạnh. Thống kê của Tổng cục Hải quan cho thấy, nhập khẩu xe ôtô trong 15 ngày đầu tháng 1/2017 tăng mạnh. Cả nước đã nhập khẩu 4.914 ôtô nguyên chiếc các loại, tăng gấp hơn 2 lần so với cùng kỳ 2016 cả về số lượng lẫn giá trị.</p><div class="VCSortableInPreviewMode" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/2017/photo-1-1486722417369.jpg" id="img_72e33e90-ef7b-11e6-8266-c3ec70c4fb0b" w="640" h="400" alt="Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe - Ảnh 1." title="Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe - Ảnh 1." rel="lightbox" photoid="72e33e90-ef7b-11e6-8266-c3ec70c4fb0b" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/photo-1-1486722417369.jpg" height="" width=""></div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="">Xe nhập khẩu nguyên chiếc được cho là sẽ tràn vào Việt Nam từ năm 2018. Ảnh Bloomberg</p></div></div><p>Đặc biệt, xét về trị giá trung bình (chưa kể các khoản thuế), giá xe dưới 9 chỗ ngồi nguyên chiếc nhập khẩu trong nửa đầu tháng 1 thấp hơn so với cùng kỳ năm 2016 tới hơn 5.500 USD/chiếc. Quy đổi theo tỷ giá hiện tại, mỗi chiếc ô tô nhập khẩu rẻ hơn 120 triệu đồng so với hồi đầu năm ngoái.</p><p>Về thị trường nhập khẩu, xe nhập từ Thái Lan vẫn chiếm áp đảo với 80% số lượng.</p><p>Như vậy, tới 2018 khi thuế nhập khẩu về mức 0% thì số xe nhập khẩu chắc chắn sẽ tăng lên chóng mặt. Bởi khi đó, nhiều DN đã ngừng lắp ráp xe tại Việt Nam và chuyển hoàn toàn sang nhập khẩu, nhờ đó giá xe nhập khẩu bình quân còn giảm mạnh.</p><p>Toyota Việt Nam cho biết tới năm 2018 sẽ duy trì lắp ráp mẫu xe Vios tại Việt Nam do có doanh số bán cao. Hiện đây là mẫu xe bán chạy nhất trên thị trường, với 2.000 xe/tháng. Tuy nhiên, sang năm 2018, nếu giá Vios không giảm về dưới 500 triệu đồng sẽ khó cạnh tranh được với xe nhập khẩu và chắc chắn, khó mà duy trì sự tồn tại.</p><p>Ô tô nhập khẩu đã được đưa vào mặt hàng kinh doanh có điều kiện, tuy nhiên khó ngăn cản được các DN chính hãng như Honda, Toyota, Ford,... nhập khẩu xe nguyên chiếc đưa về Việt Nam phân phối.</p><p>Ngoài ô tô từ ASEAN về Việt Nam giảm giá, thì xe nhập khẩu từ các khu vực khác cũng bắt đầu giảm, do thuế nhập khẩu một số mẫu xe giảm theo cam kết gia nhập WTO.</p><p>Cụ thể, Toyota Việt Nam cũng giảm giá một loạt mẫu xe hạng sang Lexus. Lexus LX570 giảm 210 triệu đồng, tương đương 2,6% xuống 7,81 tỷ đồng. Lexus LS460L và Lexus GX460 cùng giảm 140 triệu đồng xuống 7,54 tỷ đồng và 5,06 tỷ đồng.</p><p>Ngoài ra, Toyota điều chỉnh giá Lexus RX350 AWD giảm 100 triệu đồng xuống 3,81 tỷ đồng, Lexus GS350 giảm 80 triệu đồng xuống 4,39 tỷ đồng, Lexus ES350 giảm 50 triệu đồng xuống 3,21 tỷ đồng.</p><p>Thương hiệu Toyota có vài mẫu giảm giá. Đứng đầu là Toyota Land Prado TXL, giảm 164 triệu đồng, Toyota Land Cruiser VX giảm 70 triệu đồng xuống còn 3,65 tỷ đồng.</p><p>Theo các DN, từ 1/1/2017 thuế suất thuế nhập khẩu với ô tô theo cam kết WTO giảm. Cụ thể các mẫu xe 2 cầu, xe SUV, xe có dung tích xi lanh trên 3.0L, có loại được giảm thuế suất từ 70% xuống còn 58%, từ 51% xuống còn 48% và từ 61% xuống còn 58%,... Vì vậy, đã kéo giá bán của các mẫu xe Lexus hay Toyota Prado, Land Cruiser giảm giá cả trăm triệu đồng .</p>
        </div>


    </div>

</div>

(Nguồn: Autopro)
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}