@{
    ViewBag.Title = "Sau khi mua xe ô tô cũ, cần phải làm gì?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="news-details" style="margin-left:10px">
    <div class="title_news">
        <h2>
            Sau khi mua xe ô tô cũ, cần phải làm gì?
        </h2>
    </div>
    <div id="content-id">
        <img width="100%" border="0" src="~/Images/News/xegiadinhviet_muxecu.jpg" alt="Sau khi mua xe ô tô cũ, cần phải làm gì?" title="Sau khi mua xe ô tô cũ, cần phải làm gì?" class="avatar-detail">
        <div class="sapo-news-detail">
            <h3>
                Sau khi mua về một chiếc ô tô đã qua sử dụng, chủ xe cần làm những việc sau đấy để đảm bảo xe vận hành trơn tru, an toàn và hiệu quả.
            </h3>
        </div>
        <div class="clear">
        </div>
        <div class="content-news-detail">
            <p class="">Thông thường, trước khi mua một chiếc xe ô tô cũ, các lái xe sẽ tìm hiểu khá kỹ về chiếc xe mà mình sắp mua và và kiểm tra xe kỹ càng để tránh mua phải một chiếc xe ô tô đã đâm đụng hoặc đã bị ngập nước. Tuy nhiên, sau khi thanh toán và hoàn thiện các thủ tục mua xe ô tô cũ, công cuộc để sở hữu một chiếc xe ô tô vẫn chưa dừng lại ở đó. Bạn cần làm tốt những việc sau đây để xe vận hành an toàn và hiệu quả nhất.&nbsp;</p>
            <p class=""><b>Thay dầu</b></p><p class="">Trước tiên, cho dù chủ cũ của chiếc xe ô tô có nói rằng xe vừa mới thay dầu xong thì các bạn cũng nên đưa chiếc xe ô tô đi kiểm tra dầu máy và tiến hành thay dầu máy để có thể xác định chính xác được thời điểm mà mình bắt đầu sử dụng, từ đó theo dõi lịch bảo dưỡng một cách sát sao nhất có thể. Ngay cả dầu hộp số dù rất ít hư hao nhưng nếu với những xe có ODO hơn 5 vạn km thì các bạn cũng nên tiến hành thay luôn dầu hộp số.</p>
            <div class="VCSortableInPreviewMode" type="Photo" style="">
                <div>
                    <img src="~/Images/News/xegiadinhviet__xecu_thaydau.jpg" id="img_be5c17e0-eba0-11e6-b638-dd1b4898eb60" w="2048" h="1536" alt="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 1." title="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 1."
                         rel="lightbox" photoid="be5c17e0-eba0-11e6-b638-dd1b4898eb60"
                         type="photo" style="max-width:100%;" data-original="~/Images/News/xegiadinhviet__xecu_thaydau.jpg">
                </div>
                <div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="">Thay dầu để theo dõi lịch bảo dưỡng cho chiếc xe cũ một cách cẩn thận nhất.</p></div>
            </div><p class=""><b>Kiểm tra lọc gió, điều hòa</b></p>
            <p class="">Ngoài ra, hệ thống điều hoà trên xe ô tô cũ cũng cần phải được kiểm tra một cách cẩn thận bởi đây là hệ thống thường gặp trục trặc trên những chiếc xe ô tô cũ do điều kiện môi trường tại Việt Nam khá nhiều bụi bẩn và cường độ sử dụng cao. Các lái xe nên đưa chiếc xe ô tô cũ đến các gara uy tín để kiểm tra vệ sinh lọc gió, dàn lạnh và kiểm tra ga của điều hoà.&nbsp;</p>
            <div class="VCSortableInPreviewMode" type="Photo" style="">
                <div>
                    <img src="~/Images/News/xegiadinhviet_locgio.jpg" id="img_c31189a0-eba0-11e6-8266-c3ec70c4fb0b" w="2048" h="1152" alt="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 2." title="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 2."
                         rel="lightbox" photoid="c31189a0-eba0-11e6-8266-c3ec70c4fb0b" type="photo" style="max-width:100%;"
                         data-original="~/Images/News/xegiadinhviet_locgio.jpg">
                </div>
                <div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="">Kiểm tra hệ thống điều hoà là một điều cần thiết để đảm bảo sự thoải mái khi vận hành xe ô tô cũ.</p></div>
            </div>
            <p class="">Một điều quan trọng mà ít lái xe chú ý chính là kiểm tra lại hệ thống phanh xe, lốp xe bởi đây chính là hai chi tiết đảm bảo an toàn cho hành trình của chiếc xe. Sau khi mua một chiếc xe ô tô cũ, các lái xe cần phải đi kiểm tra bảo dưỡng lại hệ thống phanh để bảo đảm hệ thống này luôn hoạt động hiệu quả. Ngoài ra, nếu bộ lốp của xe có hiện tượng mòn, phình hơi hoặc đã bị vá lại nhiều lần thì cũng nên thay thế bộ lốp mới.</p><div class="VCSortableInPreviewMode" type="Photo" style="">
                <div>
                    <img src="~/Images/News/xegiadinhviet_locdau.jpg" id="img_c1747b70-eba0-11e6-a2b1-3d0c8270f085" w="2048" h="1536" alt="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 3." title="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 3." rel="lightbox" photoid="c1747b70-eba0-11e6-a2b1-3d0c8270f085" type="photo" style="max-width:100%;"
                         data-original="~/Images/News/xegiadinhviet_locdau.jpg">
                </div>
                <div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="">Kiểm tra, vệ sinh và bảo dưỡng hệ thống phanh xe để đảm bảo hệ thống này luôn hoạt động an toàn.</p></div>
            </div><p><b>Căn chỉnh bánh xe</b></p><p>Xe ô tô cũ đã qua sự dụng rất có thể lốp đã mòn nhiều,&nbsp;<span style="">đã bị lệch độ chụm và nếu không kiểm tra phát hiện để cân chỉnh lại sẽ dẫn đến hiện tượng ăn mòn lốp và gây mất an toàn cho người lái xe.</span></p><div class="VCSortableInPreviewMode active" type="Photo" style="">
                <div>
                    <img src="~/Images/News/xegiadinhviet_banhxe.jpg" id="img_c29f8df0-eba0-11e6-b638-dd1b4898eb60" w="2048" h="1536" alt="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 4." title="Sau khi mua xe ô tô cũ, cần phải làm gì? - Ảnh 4." rel="lightbox" photoid="c29f8df0-eba0-11e6-b638-dd1b4898eb60" type="photo" style="max-width:100%;"
                         data-original="~/Images/News/xegiadinhviet_banhxe.jpg">
                </div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="">Cân chỉnh độ chụm của xe ô tô cũ sẽ giúp các lái xe yên tâm hơn khi vận hành.</p></div>
            </div>
            <p><b>Vệ sinh nội ngoại thất, khoang động cơ</b></p>
            <p>Ngoài ra, với một chiếc xe ô tô cũ cũng cần phải được dọn dẹp vệ sinh lại nội và ngoại thất để loại bỏ các bụi bẩn, rác thừa, mẩu vụn thức ăn do chủ cũ vô tình để vương lại trên xe. Điều này sẽ giúp chiếc xe của bạn dù cũ nhưng vẫn luôn sạch sẽ.</p><p>Khoang động cơ cũng rất cần chú ý bởi bụi bẩn tích tụ lâu ngày và đôi khi có cả hiện tưởng chuột làm tổ, tha rác vào, cắn dây điện và làm hỏng các thiết bị trên xe.&nbsp;</p><p>Trên đây là những điểm cơ bản mà các lái xe mua xe ô tô cũ nên chú ý sau khi đã mua được xe. Chúc các bạn mua được một chiếc xe vừa ý và luôn lái xe an toàn.</p>
        </div>
    </div>
</div>
    <br />
    (Nguồn: autopro.com.vn)

    @section Scripts{
        <script>
            //$("#div-right").hide();
            //handler.expandDivCenter();
        </script>
    }


