
<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2>Ô tô Nhật cỡ nhỏ giá 400 triệu đồng: Giành "đất" Kia Morning, Hyundai i10</h2>
    </div>
    
    <div class="block_col_480">

        <h3 class="short_intro txt_666">Trong khi ô tô trong nước vẫn đua nhau giảm giá thì hàng loạt mẫu xe cỡ nhỏ giá rẻ của Nhật sản xuất ở Thái Lan, Indonesia sắp sửa đổ bộ vào Việt Nam, khiến thị trường ô tô càng trở nên sôi động. Các mẫu xe mới giá nhập khẩu cỡ trên dưới 400 triệu đồng đang hướng tới cạnh tranh trực tiếp với 2 đối thủ Kia Morning và Huyndai i10 ở Việt Nam.</h3>

        <div id="divNewsContent" class="fon34 mt3 mr2 fon43 detail-content">
            <p><strong>Xe nhỏ của Nhật giá tầm 350 - 400 triệu đồng</strong></p>

            <p>Thị trường ô tô Việt Nam mấy ngày gần đây “sốt xình xịch” trước thông tin hàng loạt mẫu ô tô nhỏ giá rẻ từ thị trường ASEAN sẽ về Việt Nam vào cuối năm 2017. Tại Triển lãm Ô tô Việt Nam 2017 (VMS 2017), một số mẫu ô tô cỡ nhỏ hạng A của Nhật sản xuất ở Thái Lan, Indonesia đã chính thức lộ diện khiến nhiều người thích thú.</p>

            <p>Đó là mẫu xe cỡ nhỏ Wigo của Toyota với mức giá mềm, thiết kế hoàn toàn mới, lần đầu tiên xuất hiện ở Việt Nam.</p>

            <p>Toyota Wigo, tên gọi khác là Toyota Agya, là dòng xe đô thị cỡ nhỏ được sản xuất tại Indonesia. Ra mắt lần đầu tiên năm 2012, chiếc xe này hướng tới những khách hàng trẻ tuổi.</p>

            <div class="VCSortableInPreviewMode" type="Photo">
                <div>
                    <img alt="
Toyota Wigo lần đầu tiên xuất hiện ở Việt Nam.
" id="img_3a4578e0-7c0d-11e7-ad9d-299c2a54116c" photoid="3a4578e0-7c0d-11e7-ad9d-299c2a54116c" src="https://dantricdn.com/thumb_w/640/2017/photo-0-1502178190360.jpg" rel="https://dantricdn.com/2017/photo-0-1502178190360.jpg" type="photo" data-original="https://dantricdn.com/2017/photo-0-1502178190360.jpg" w="657" h="419" style="width: 460px;">
                </div>

                <div class="PhotoCMS_Caption">
                    <p style="text-align:center;margin:0px;">Toyota Wigo lần đầu tiên xuất hiện ở Việt Nam.</p>
                </div>
            </div>

            <p>Sau màn thăm dò thị trường tại VMS 2017, Toyota dự kiến chính thức bán mẫu xe này tại Việt Nam từ năm 2018. Nhưng giá của Toyota Wigo ở thị trường Việt Nam vẫn chưa được công bố. Còn tại Indonesia, giá xe dao động từ 131,5-152 triệu Rupiah, tương đương 224-259 triệu đồng. Nếu tính chênh lệch giữa các khoản thuế của Việt Nam - Indonesia khoảng 100 triệu đồng thì mẫu xe này sẽ được bán chính hãng với giá bán khoảng 350-400 triệu đồng.</p>

            <p>Khi được bán tại Việt Nam, Toyota Wigo sẽ cạnh tranh với những mẫu ô tô cùng phân khúc hạng A như Hyundai Grand i10 hay Kia Morning. Đối thủ của Toyota Wigo là Hyundai Grand i10 2017 ra mắt hồi tháng 7 vừa qua có giá từ 340 triệu, còn Kia Morning có giá từ 315 triệu đồng.</p>

            <p>Trong khi đó, Suzuki cũng đang lăm le nhảy vào phân khúc xe mini giá rẻ tại Việt Nam với việc giới thiệu mẫu xe nhỏ Celerio tại VMS 2017.</p>

            <p>Đây là chiếc hatchback 5 cửa, được giới thiệu lần đầu tiên vào tháng 2/2014. Suzuki Celerio được sản xuất bởi Maruti Suzuki ở Ấn Độ và Suzuki Motor Thailand. Hiện chưa rõ mẫu xe sắp ra mắt tại Việt Nam này được nhập khẩu từ Ấn Độ hay Thái Lan.</p>

            <div class="VCSortableInPreviewMode" type="Photo">
                <div>
                    <img alt="
Suzuki Celerio sẽ là đối thủ đáng gờm của Hyundai Grand i10, Kia Morning và Toyota Wigo.
" id="img_3a61da80-7c0d-11e7-94d2-eff83e0e2084" photoid="3a61da80-7c0d-11e7-94d2-eff83e0e2084" src="https://dantricdn.com/2017/photo-1-1502178190361.jpg" rel="https://dantricdn.com/2017/photo-1-1502178190361.jpg" type="photo" data-original="https://dantricdn.com/2017/photo-1-1502178190361.jpg" w="490" h="292" style="width: 460px;">
                </div>

                <div class="PhotoCMS_Caption">
                    <p style="text-align:center;margin:0px;">Suzuki Celerio sẽ là đối thủ đáng gờm của Hyundai Grand i10, Kia Morning và Toyota Wigo.</p>
                </div>
            </div>
            <br />
            <p>Giá bán của Suzuki Celerio tại Việt Nam cũng chưa được tiết lộ. Tuy nhiên, giới chuyên gia nhận định, đây sẽ là một trong những mẫu xe rẻ nhất, bởi tại Ấn Độ, giá bán của Suzuki Celerio chỉ từ 6.250 USD (tương đương 143 triệu đồng), trong khi tại Thái Lan là 10.940 USD (tương đương 251 triệu đồng). Khi về Việt Nam, Suzuki Celerio sẽ có giá bán cao hơn khoảng 150 triệu đồng và nằm trong khoảng giá trên dưới 400 triệu đồng.</p>

            <p>Dự kiến, Suzuki Celerio sẽ ra mắt người tiêu dùng Việt Nam vào năm 2018. Dù phải đối đầu với những đối thủ như Hyundai Grand i10, Kia Morning hay Toyota Wigo nhưng Suzuki Việt Nam cho hay hãng kỳ vọng Celerio sẽ làm “sôi động” lại phân khúc xe nhỏ thời gian tới.</p>

            <p>Trên thị trường Việt Nam, phân khúc xe nhỏ hạng A đang là sự cạnh tranh khốc liệt của 2 thương hiệu đến từ Hàn Quốc là Kia Morning và Hyundai Grand i10. Mới đây, khi Hyundai Thành Công tung ra mẫu Grand i10 thế hệ mới thì THACO ngay lập tức giảm giá cho tất cả phiên bản của KIA Morning.</p>

            <p><strong>Xe nhỏ giá rẻ đang là xu hướng?</strong></p>

            <p>Có thể thấy, xe nhỏ giá rẻ sẽ là xu hướng trong thời gian tới, bởi đây là lựa chọn của rất nhiều người mua xe hiện nay. Dòng xe này nhỏ gọn, dễ dàng di chuyển trong các con phố chật hẹp, thích hợp với tình hình giao thông Việt Nam. Hơn nữa, mẫu xe này có chi phí vận hành, sử dụng thấp. Ngoài ra, chúng được các doanh nghiệp không ngừng đổi mới với thiết kế hợp thời trang và đặc biệt là có giá bán thấp.</p>

            <p>Bên cạnh khách hàng mua xe sử dụng với mục đích cá nhân, nhiều người còn lựa chọn dòng xe cỡ nhỏ với mục đích kinh doanh như chạy dịch vụ Grab hay Uber. Vì dòng xe cỡ nhỏ có giá rẻ nên mau hồi vốn, chỉ mất từ 1-2 năm.</p>

            <div class="VCSortableInPreviewMode IMSCurrentEditorEditObject" type="Photo">
                <div>
                    <img alt="
Phân khúc xe nhỏ hạng A đang có sự cạnh tranh khốc liệt giữa 2 thương hiệu đến từ Hàn Quốc .
" id="img_3a54bb20-7c0d-11e7-a3c1-5960577a97c8" photoid="3a54bb20-7c0d-11e7-a3c1-5960577a97c8" src="https://dantricdn.com/thumb_w/640/2017/photo-2-1502178190362.jpg" rel="https://dantricdn.com/2017/photo-2-1502178190362.jpg" type="photo" data-original="https://dantricdn.com/2017/photo-2-1502178190362.jpg" w="804" h="604" style="width: 460px;">
                </div>

                <div class="PhotoCMS_Caption">
                    <p style="text-align:center;margin:0px;">Phân khúc xe nhỏ hạng A đang có sự cạnh tranh khốc liệt giữa 2 thương hiệu đến từ Hàn Quốc .</p>
                </div>
            </div>
            <br />
            <p>Hiện các dòng xe cỡ nhỏ đang nhận được rất nhiều chính sách ưu đãi về thuế. Từ 1/1/2017, thuế nhập khẩu trong khu vực ASEAN giảm từ 40% xuống còn 30% khiến giá xe cỡ nhỏ giảm trên thực tế từ 5-7%. Từ năm 2018, mức thuế này sẽ còn giảm về 0%, khi đó, giá xe cỡ nhỏ chắc chắn sẽ còn giảm nữa.</p>

            <p>Khu vực Đông Nam Á và Ấn Độ đã trở thành hai trung tâm lớn sản xuất ô tô nhỏ, giá rẻ. Hàng loạt các mẫu xe nhỏ giá rẻ của Nhật sản xuất tại Indonesia, Malaysia, Thái Lan, Ấn Độ ra mắt thời gian qua, có sức mua rất lớn.</p>

            <p>Đặc biệt, nhiều mẫu ô tô của Nhật sản xuất tại Ấn Độ rất được ưa chuộng tại Việt Nam. Theo các công ty nhập khẩu ô tô , xe Ấn Độ có giá thành, kiểu dáng, tính năng sử dụng... rất phù hợp với tiêu chí chung của người Việt. Tổng cục Hải quan cho hay, tháng 1/2017, Việt Nam nhập khẩu hơn 7.000 ô tô các loại. Trong đó, có 1.000 xe nhập từ Ấn Độ, giá bình quân chỉ khoảng 84-85 triệu đồng/chiếc (chưa gồm thuế).</p>

            <p>Còn trong năm 2016, số ô tô Ấn Độ về Việt Nam là khoảng hơn 20.000 chiếc, giá nhập khẩu bình quân là 5.300 USD/chiếc (tương đương với hơn 100 triệu đồng).</p>

            <p>Nhận thấy ưu thế và tiềm năng của dòng xe nhỏ giá rẻ, mới đây, Hyundai Thành Công đã quyết định lắp ráp tại Việt Nam mẫu xe Hyundai i10 thay vì nhập khẩu từ Ấn Độ. Mẫu xe này dự kiến được đưa ra vào tháng 7 với cả hai phiên bản sedan và hatchback.</p>

            <p>Những tưởng Hyundai i10 chỉ phải "đấu" với Kia Morning. Nhưng giờ đây, sự xuất hiện của Toyota Wigo và Suzuki Celerio tại VMS 2017 hứa hẹn một cuộc đua đầy kịch tính trong phân khúc xe hạng A, nơi Hyundai Grand i10 và Kia Morning đã thống trị bao năm nay.</p>


        </div>
    </div>
</div>
<br />
(Nguồn: dantri.com.vn)


