@{
    ViewBag.Title = "Mẹo canh xe để 'không bao giờ bị đâm'";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="news-details" style="margin-left:10px">
    
    <div class="title_news">
        <h2> Mẹo canh xe để 'không bao giờ bị đâm' </h2>
    </div>
    
    <img width="100%" border="0" src="http://static.english.vov.vn/w490/uploaded/wzzqbijjvws/2017_01_13/traffic_jams_XVYN.jpg" alt="Mẹo canh xe để 'không bao giờ bị đâm" title="Mẹo canh xe để 'không bao giờ bị đâm" class="avatar-detail">

    <div class="block_col_480">

        <h3 class="short_intro txt_666">Đầu xe mình chạm cạnh dưới biển số xe trước là cách khoảng một mét với xe 7 chỗ và mép trên với xe 4 chỗ.</h3>
        
        <div id="left_calculator">
            <div class="fck_detail width_common block_ads_connect">
                <p class="Normal">
                    Lái mới, mở miệng ra hỏi các anh già "Canh thế nào cho chuẩn", chán nhất là nghe câu "Cảm giác thôi". Câu đó chỉ lấp liếm dạy nghèo nàn. Không phản đối là cảm giác đóng vai trò quan trọng, nhưng nếu cứ chờ cảm giác quen thì hàng năm mới tiến bộ.
                </p><p class="Normal">
                    Bây giờ có phương pháp, trẻ em cấp một cũng giải được bài "vừa gà vừa chó" mà các cụ nhà ta ngày xưa cho là khó ghê gớm. Hãy làm một số bài tập sau để biết canh xe:<br><br>
                    - Canh xe máy phía trước: Đậu xe ở nhà, lấy xe máy ra đặt trước mũi xe độ một mét. Ngồi vào ghế lái, xem mình nhìn được đến phần nào của đuôi xe. Nếu là xe 7 chỗ thì thường anh sẽ thấy xe 2 bánh bị che tới mép trên biển số. Suy ra khi đi ra đường, nếu đằng trước là xe 2 bánh thì mình canh lúc nào thấy mũi xe mình che tới mép trên bảng số xe người ta là phải ngưng.<br><br>
                    - Canh xe máy bên phải: Tương tự, đặt chiếc xe 2 bánh sang góc phải phía trước để nhìn quen xem ở mỗi góc thì khoảng cách an toàn là khi nào. Ví dụ, thường là mình nhìn thấy thắt lưng người lái 2 bánh nếu xe đó ngang mũi xe mình, nếu người ta ở phía trước nữa thì mình nhìn thấy đầu gối.<br><br>
                    - Canh xe hơi phía trước: Tìm một chiếc xe hơi đang đậu ngoài đường và đến đậu sau họ. Ban đầu chưa quen thì đậu cách chút xíu. Nhìn xem mình nhìn thấy tới đâu phần sau xe họ, xuống kiểm tra, rồi nhích xe tới lui chút xíu và xuống xem lại. Thường thì nếu anh thấy mép dưới bảng số xe 7 chỗ hoặc mép trên bảng số xe 4 chỗ là mình cách họ độ 1 m, thấy bánh sau của họ là cách khoảng 2 m.
                </p><p class="Normal">
                    Thấy bánh xe họ tiếp đất là khoảng 3 m. Chạy ngoài đường lúc đông, kẹt xe thì giữ khoảng cách một mét (thấy sát mép dưới bảng số xe 7 chỗ hoặc mép trên bảng số xe 4 chỗ) để xe máy không chen vào được, nguy hiểm. Nếu đang đậu sau xe người ta mà cần quay đầu xe ra thì nên lui tới lúc nhìn thấy bánh sau xe trước.<br><br>
                    Những khoảng canh nêu trên là ví dụ, mọi người cần canh lại lấy kinh nghiệm theo xe mình.<br><br>
                    - Canh xe bên phải: Dừng xe, dùng dây hay kẻ vạch đường 2 bánh xe kéo dài tới trước. Đánh dấu giao điểm đường bánh xe bên phải với đường mép đầu xe mình. Khi ra đường nhìn vào điểm đó anh sẽ canh được hành trình của góc phải xe mình và nhắm có vướng các xe bên phải phía trước không.
                </p><p class="Normal">
                    Một cách khác canh xe bên phải là nhìn xem xe họ cách vạch phân cách bao xa, liếc kính chiếu hậu hoặc dò theo đường bánh xe tưởng tượng nói trên để xem mép xe mình cách vạch phân cách bao xa, suy ra hành trình xe mình và họ có giao nhau không.<br><br>
                    Có thể chụp hình các trường hợp canh khoảng cách xe như trên, lúc rảnh lấy ra nhìn. Nhớ chút xíu là canh ngon lành.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
(Nguồn: vnexpress.net)

@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}


