<div class="news-details" style="margin-left:10px">

    <h1 id="title-h1">
        Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm
    </h1>

    <div class="clear">
    </div>

    <div id="content-id">
        <img width="650" height="365" border="0" src="http://autopro56.mediacdn.vn/zoom/650_365/2017/hyundai-solaris-13-850x556-1486303427828-76-0-553-850-crop-1486303450572.jpg" alt="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm" title="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm" class="avatar-detail">
        <div class="sapo-news-detail">

            <h2>
                Việc ra mắt mẫu sedan cỡ nhỏ Solaris 2018 tại thị trường Nga đã gián tiếp làm lộ thiết kế của Hyundai Accent thế hệ mới.
            </h2>
        </div>
        <div class="clear">
        </div>
        <div class="content-news-detail">
            <p>Hiện mọi sự chú ý đang dồn hết vào <a class="seo-suggest-link" href="http://autopro.com.vn/trien-lam-chicago-2017.htm" target="_blank" title="triển lãm chicago 2017">triển lãm Chicago 2017</a> diễn ra tại Mỹ, nơi trình làng của những mẫu xe như Hyundai Elantra GT 2018, Subaru Legacy 2018 hay Ford Expedition 2018. Thế nhưng, hãng Hyundai đã không chọn triển lãm Chicago năm nay để giới thiệu Accent 2018. Thay vào đó, <a class="seo-suggest-link" href="http://autopro.com.vn/hyundai-accent.htm" target="_blank" title="hyundai accent">Hyundai Accent</a> 2018 sẽ chính thức ra mắt trong triển lãm Canada ít nổi tiếng hơn.</p><p>Theo hãng Hyundai, Accent 2018 sẽ ra mắt vào ngày 16/2 tới đây. Triển lãm Canada 2017 chưa diễn ra nhưng hãng Hyundai đã tung ra đoạn video úp mở về mẫu sedan cỡ B này.</p>
            <div class="VCSortableInPreviewMode" type="VideoStream" data-src="https://vcplayer.vcmedia.vn/1.1/?_site=beta.autopro&amp;new_info_domain=true&amp;vid=autopro/2017/2/10/the-all-new-accent-world-premiere-hyundai-canada-1486303288491-d1ab5.mp4&amp;autoplay=false&amp;_info=ce73ad50ef9211e68614a9214e3fec8f" data-width="600px" data-height="400px" id="videoid_7490" videoid="7490" videoexternalid="undefined" style="text-align: center;">

            </div>
            <p>
                Kích thước của Hyundai Accent 2018 có vẻ vẫn như trước. Trong khi đó, những đường nét thiết kế trên Hyundai Accent 2018 đã trở nên sắc sảo hơn.
            </p><p>Hyundai Accent mới đi kèm lưới tản nhiệt "thác nước chảy" hình lục giác đã lần đầu tiên được giới thiệu trên i30 2017. Thêm vào đó là đèn hậu và đèn định vị ban ngày dạng LED.</p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/-1486303355972.jpg" id="img_f54fcc10-ef92-11e6-a2b1-3d0c8270f085" w="850" h="532" alt="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 2." title="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 2." rel="lightbox" photoid="f54fcc10-ef92-11e6-a2b1-3d0c8270f085" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/-1486303355972.jpg" width="" height=""></div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/-1486303416270.jpg" id="img_19a280d0-ef93-11e6-a2b1-3d0c8270f085" w="850" h="357" alt="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 3." title="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 3." rel="lightbox" photoid="19a280d0-ef93-11e6-a2b1-3d0c8270f085" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/-1486303416270.jpg" width="" height=""></div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p><span style="">Trên thực tế, hãng Hyundai đã ra mắt Accent 2018 cách đây vài ngày nhưng dưới cái tên khác là Solaris tại thị trường Nga. Nếu không có gì thay đổi so với Solaris, Hyundai Accent 2018 sẽ sở hữu chiều dài tổng thể 4.405 mm, rộng 1.729 mm và chiều dài cơ sở 2.600 mm. Trừ chiều cao, Hyundai Accent 2018 sẽ tăng 30 mm ở các số đo cơ bản khác.</span></p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/-1486303376563.jpg" id="img_01a48910-ef93-11e6-a2b1-3d0c8270f085" w="850" h="478" alt="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 4." title="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 4." rel="lightbox" photoid="01a48910-ef93-11e6-a2b1-3d0c8270f085" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/-1486303376563.jpg" width="" height=""></div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p><span style="">Bên trong Hyundai Accent 2018 tại thị trường Nga có bảng táp-lô được thiết kế giống với Tucson thế hệ mới. Trên cụm điều khiển trung tâm có màn hình 7 inch dành cho hệ thống thông tin giải trí. Hệ thống này hỗ trợ cả Apple CarPlay lẫn Android Auto.</span></p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/-1486303390333.jpg" id="img_09aa1030-ef93-11e6-8266-c3ec70c4fb0b" w="850" h="567" alt="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 5." title="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 5." rel="lightbox" photoid="09aa1030-ef93-11e6-8266-c3ec70c4fb0b" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/-1486303390333.jpg" width="" height=""></div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p>Ngoài ra, Hyundai Accent 2018 phiên bản Nga còn được trang bị ghế trước/sau sưởi ấm và sấy kính chắn gió để phù hợp với thời tiết mùa đông khắc nghiệt tại xứ sở bạch dương. 2 túi khí và hệ thống cân bằng điện tử được trang bị tiêu chuẩn cho mẫu sedan cỡ nhỏ này. Trong khi đó, 6 túi khí là trang bị tùy chọn.</p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/-1486303399099.jpg" id="img_0f1b30d0-ef93-11e6-a2b1-3d0c8270f085" w="850" h="567" alt="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 6." title="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm - Ảnh 6." rel="lightbox" photoid="0f1b30d0-ef93-11e6-a2b1-3d0c8270f085" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/-1486303399099.jpg" width="" height=""></div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p><span style="">Động cơ của Hyundai Accent 2018 phiên bản Nga là máy xăng Kappa 4 xy-lanh, dung tích 1,4 lít, sản sinh công suất tối đa 100 mã lực. Thứ hai là động cơ Gamma, dung tích 1,6 lít với công suất tối đa 123 mã lực. Hai động cơ kết hợp với hộp số sàn hoặc tự động 6 cấp. Dự đoán, những động cơ này cũng sẽ được dùng cho Hyundai Accent thế hệ mới tại Mỹ.</span><br></p>
        </div>


    </div>

</div>

(Nguồn: Autopro)
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
