@section Styles{
    <style>
        .test {
            color: #36373b;
        }

        .fancybox-inner, .fancybox-skin {
            background-color: #fefbf3;
        }
    </style>

}

<div class="news-details" style="margin-left:10px">
    <div class="block_col_480">
        <div class="title_news">
            <h1>
                Cách phân biệt các hạng ôtô tại Việt Nam
            </h1>
        </div>
        <h3 class="short_intro txt_666">Các mẫu xe hơi phân chia thành các phân khúc khác nhau, dựa vào dung tích động cơ hay kích thước cũng như nhu cầu và mục đích sử dụng.</h3>
        <div id="left_calculator">
            <div class="fck_detail width_common block_ads_connect">
                <p class="Normal">
                    Thực tế, xe hơi cũng được phân hạng A, B, C... hoặc theo dòng sedan hay hatchback, chúng phân loại theo tiêu chuẩn khác nhau. Dữ liệu dưới đây cung cấp thông tin về các dòng ôtô đang bán ra ở Việt Nam, chủ yếu là các dòng xe phổ thông.
                </p><p class="Normal">
                    <em>Độc giả click vào từng ảnh để xem chi tiết.</em>
                </p><table align="center" border="1" cellpadding="2" cellspacing="2" class="tbl_insert" style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: center; width: 50%;">
                                <strong>
                                    <a title="Phân khúc A" href="#A">
                                        <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-A-4740-1489685591.jpg" data-width="250" data-pwidth="470.40625" style="width: 100%;">
                                        Phân khúc A
                                    </a>
                                </strong>
                                <div style="display:none">
                                    <div class="test" id="A">
                                        <p>
                                            Phân khúc A bao gồm các dòng xe mini, xe gia đình cỡ nhỏ. Trong đó, xe mini thường dùng động cơ dung tích dưới một lít và có 2 chỗ ngồi, ví dụ như Smart ForTwo.
                                        </p>
                                        <p>
                                            Xe gia đình cỡ nhỏ hay còn gọi là xe nội thị, tốc độ nhanh hơn xe mini, công năng sử dụng thuận tiện hơn. Xe thường trang bị động cơ từ 1-1,25 lít, có chiều dài cơ sở khoảng 2.400 mm. Ở Việt Nam, xe gia đình gồm các mẫu như Kia Morning, Hyundai Grand i10, Chevrolet Spark, Mitsubishi Mirage.
                                        </p>
                                        <p>
                                            Phân khúc A thường được lòng chị em phụ nữ hay những người mua xe lần đầu lựa chọn vì kích thước nhỏ gọn, thích nghi trên phố và giá rẻ.
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center; width: 50%;">
                                <strong>
                                    <a title="Phân khúc B" href="#B">
                                        <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam-1" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-B-9233-1489685591.jpg" data-width="250" data-pwidth="470.40625" style="width: 100%;">
                                        Phân khúc B
                                    </a>
                                </strong>
                                <div style="display:none">
                                    <div class="test" id="B">
                                        <p>
                                            Xe phân khúc B thường trang bị động cơ từ 1.4 đến 1.6, chiều dài cơ sở khoảng 2.500-2.600 mm. Mẫu xe thuộc phân khúc B gồm:
                                        </p><p>
                                            Sedan: Toyota Vios, Honda City, Nissan Sunny, Hyundai Accent, Ford Fiesta, Mazda2, Mitsubishi Attrage, Kia Rio, Suzuki Ciaz, Chevrolet Aveo.
                                        </p><p>
                                            Hatchback: Toyota Yaris, Ford Fiesta, Mazda2, Kia Rio, Suzuki Swift.
                                        </p><p>
                                            Crossover: Ford EcoSport, Hyundai i20 Active, Suzuki Vitara, Chevrolet Trax.
                                        </p><p>
                                            Phân khúc B cũng được khách hàng nữ ưa chuộng. Họ từng sở hữu xe hoặc mua lần đầu. Xe phân khúc này có 3,4 hoặc 5 cửa, thiết kế với 4 ghế, đăng ký chở 5 người. Những mẫu hatchback hiện hành có chiều dài tối đa 3.900 mm, trong khi kiểu sedan dài khoảng 4.200 mm.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 50%;">
                                <strong>
                                    <a title="Phân khúc C" href="#C">
                                        <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam-2" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-c-7589-1489685591.jpg" data-width="250" data-pwidth="470.40625" style="width: 100%;">
                                        Phân khúc C
                                    </a>
                                </strong>
                                <div style="display:none">
                                    <div id="C">
                                        <p>
                                            Ở phân khúc C, xe cũng trang bị động cơ từ 1.4 đến 2.2 hoặc cao hơn là 2.5, chiều dài cơ sở khoảng 2.700 mm. Phân khúc C cũng là mẫu xe phổ biến nhất trên thế giới bởi nó "vừa đủ" cho tất cả các nhu cầu khi tham gia giao thông.
                                        </p><p>
                                            Mẫu sedan thuộc phân khúc C gồm Toyota Altis, Honda Civic, Mazda3, Kia K3, Hyundai Elantra, Chevrolet Cruze. Dòng hatchback gồm Kia Cerato, Mazda3. Dòng SUV phổ biến ở phân khúc C như Honda CR-V, Kia Sportage, Hyundai Tucson, Mazda CX-5, Chevrolet Captiva, Mitsubishi Outlander Sport, Suzuki Grand Vitara.
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center; width: 50%;">
                                <strong>
                                    <a title="Phân khúc D" href="#D">
                                        <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam-3" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-D-3535-1489685591.jpg" data-width="250" data-pwidth="470.40625" style="width: 100%;">
                                        Phân khúc D
                                    </a>
                                </strong>
                                <div style="display:none">
                                    <div id="D">
                                        <p>
                                            Dòng xe thuộc phân khúc D thường có đủ 5 chỗ cho người lớn, động cơ mạnh mẽ hơn và bản cao cấp dùng động cơ V6. Kích thước xe tùy theo khu vực, châu Âu dài hơn 4.700 mm, trong khi ở Bắc Mỹ, Trung Đông thường dài hơn 4.800 mm. Chiều dài cơ sở vào khoảng 2.800 mm.
                                        </p><p>
                                            Các mẫu sedan ở phân khúc D như Toyota Camry, Honda Accord, Mazda6, Kia Optima, Hyundai Sonata, Nissan Teana. Các mẫu SUV như Toyota Fortuner, Mitsubishi Pajero Sport, Kia Sorento, Hyundai Santa Fe, Isuzu mu-X, Ford Everest.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 50%;">
                                <strong>
                                    <a title="MPV - Xe gia đình" href="#MPV">
                                        <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam-4" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-MPV-7406-1489685591.jpg" data-width="250" data-pwidth="470.40625" style="width: 100%;">
                                        MPV - Xe gia đình
                                    </a>
                                </strong>
                                <div style="display:none">
                                    <div id="MPV">
                                        <p>
                                            Những chiếc MPV có thể chở tới 7 người, nội thất rộng rãi, hàng ghế thứ 3 có thể gập lại cho không gian chứa đồ. MPV là viết tắt của Multi-Purpose Vehicle, dòng xe đa năng cho gia đình.&nbsp;
                                        </p><p>
                                            Hình dáng bên ngoài của MPV thường thấp hơn và dài hơn SUV để có thể chở đồ và bố trí các hàng ghế thoải mái.
                                        </p><p>
                                            Tại Việt Nam, MPV có chiều dài cơ sở tương tự một mẫu xe cỡ D, ví dụ Innova tương tự Camry. Một số mẫu xe khác như&nbsp;Kia Rondo, Chevrolet Orlando, Suzuki Ertiga, Honda Odyssey.
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center; width: 50%;">
                                <strong>
                                    <a title="Xe bán tải (Pick-up)" href="#PU">
                                        <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam-5" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-Pickup-3797-1489685591.jpg" data-width="250" data-pwidth="470.40625" style="width: 100%;">
                                        Xe bán tải (Pick-up)
                                    </a>
                                </strong>
                                <div style="display:none">
                                    <div id="PU">
                                        <p>Những mẫu xe hạng nhẹ có khoang chở hàng lộ thiên phía sau, đăng ký chở 4-5 người, không gian nội thất đủ dùng. Thành viên pick-up gồm Ford Ranger, Toyota Hilux, Nissan Navara, Isuzu D-Max, Mazda BT-50, Mitsubishi Triton, Chevrolet Colorado.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
(Nguồn: vnexpress.net)

@section Scripts{
    

    <script>
        $(document).ready(function () {
            $("tbody a").fancybox({
                autoSize: false,
                beforeLoad: function () {
                    this.width = 600;
                    this.height = 300;
                }
            });
        })

        $("#div-right").hide();
        handler.expandDivCenter();

    </script>
}