
<style>
    .invisible {
        visibility: hidden;
        position: absolute;        
    }
</style>

<div class="news-details" style="margin-left:10px">

    <h1 id="title-h1">
        Những lỗi nhỏ khiến bạn mua xe cũ ngập nước mà không biết
    </h1>

    <div class="clear">
    </div>

    <div id="content-id">
        <img class="news-image" alt="nhung-loi-nho-khien-ban-mua-xe-cu-ngap-nuoc-ma-khong-biet" src="http://img.f29.vnecdn.net/2017/02/14/BMW-BaDo-7852-1464144724-4885-1487068049.jpg" style="width: 500px; height: 333px;">

        <div class="sapo-news-detail">
            <h3 class="short_intro txt_666">Mua phải xe ngập nước là một trong những việc "xui xẻo" không chỉ làm người tiêu dùng đau đầu mà đôi khi "thợ cứng" cũng mắc phải.&nbsp;</h3>
        </div>
        <div class="clear">
        </div>
        <div class="content-news-detail">
            <div class="text-conent" itemprop="articleBody">
                <div class="fck_detail width_common block_ads_connect">
                    <p class="Normal">
                        <span class="_5yl5"><span><span>Có những chi tiết tưởng chừng ít được để ý nhưng nó có thể giúp bạn "lật tẩy" được lịch sử xấu của chiếc xe. Bạn có thể thử trắc nghiệm để biết chiếc xe có bị ngập nước.</span></span></span>
                    </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p class="Image">
                                        Nhiều xe ngập nước được "xử lý khéo" tới mức đến thợ xe cũng khó nhận biết.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <p class="subtitle">
                        <span class="_5yl5"><span><span><b>1. Chi tiết ở ngoại thất nào tố cáo chiếc xe bị ngập nước mà ít người chú ý.</b></span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>a. Màu sơn</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>b. La zăng</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>c. Hệ thống đèn</span></span></span>
                    </p><p>
                        <em><a title=">> Xem đáp án" href="javascript:showAnswer('answer1');">&gt;&gt; Xem đáp án</a></em>
                    </p>
                    <div id="answer1" class="invisible" >
                        c. Hệ thống đèn
                        <br />
                        Hệ thống đèn bị mờ là một trong những bằng chứng  "tố cáo" chiếc xe từng bị ngập nước. Nên kiểm tra kỹ các khe viền của đèn và bên trong đèn. Trường hợp vỏ xe còn khá mới trong khi đèn cũ hơn, mờ hoặc có hơi nước đọng lại thì 80% bạn đã mua phải xe ngập nước. Để xóa dấu vết, chiếc xe sẽ được chú ý làm sạch các vết gân nước, han gỉ trên vỏ, trên máy, la-zăng nhưng hệ thống đèn thường ít được chú ý hơn.

                        <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="c-den-chieu-sang" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/14/vien-den-suong-mu-Vios-2014-9337-1487068049.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="Image">
                                            Chóa đèn bị ố vàng hoặc có hơi nước thì khả năng cao là xe đã bị ngập nước.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                    <p class="subtitle">
                        <span class="_5yl5"><span><span><b>2.Nội thất còn mới, khiến bạn yên tâm chiếc xe được giữ gìn cẩn thận nên không xem kỹ. Để phân biệt bạn:</b></span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>a. So sánh màu sắc giữa các ghế.</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>b. So sánh độ mới cũ của ghế, sàn với trần xe và dây bảo hiểm.</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>c. So sánh sàn xe với ghế.</span></span></span>
                    </p><p>
                        <em><a title=">> Xem đáp án" href="javascript:showAnswer('answer2');">&gt;&gt; Xem đáp án</a></em>
                    </p>
                    <div id="answer2" class="invisible">
                        b. So sánh độ mới cũ của ghế, sàn với trần xe và dây bảo hiểm
                        <br />
                        Một số xe bị ngập nước nặng, để bán được giá nhiều người "phù phép" bằng cách bọc lại ghế và trải sàn mới. Tuy nhiên, trần xe và dây bảo hiểm là hai chi tiết thường không được chú ý. Bạn có thể nhận thấy sự khác biệt khi dây bảo hiểm đã có dấu hiệu sờn hoặc vết ố trong khi ghế còn mới. Trần xe có màu không thật giống hoặc cũ hơn so với ghế và sàn xe.

                        <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="b-so-sanh-do-moi-cu-cua-ghe-san-voi-tran-xe-va-day-bao-hiem" src="http://img.f29.vnecdn.net/2017/02/14/day-9117-1487068049.jpg" data-width="490" data-pwidth="470.4" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="Image">
                                            So sánh độ mới cũ của ghế, sàn với trần xe và dây bảo hiểm.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                    <p class="subtitle">
                        <span class="_5yl5"><span><span><b>3. Kiểm tra mùi của xe nên bật điều hòa hay tắt</b></span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>a. Bật điều hòa lớn.</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>b. Tắt điều hòa.</span></span></span>
                    </p><p>                        
                        <em><a title=">> Xem đáp án" href="javascript:showAnswer('answer3');">&gt;&gt; Xem đáp án</a></em>
                    </p>
                    <div id="answer3" class="invisible">
                        b. Tắt điều hòa
                        <br />
                        Trường hợp này bạn nên tắt hoàn toàn điều hòa, ngồi vào trong xe chịu khó đóng kín cửa một lúc và hít sâu để ngửi. Trước đó, bạn cũng nên yêu cầu bỏ hết các loại khử mùi, nước hoa hay tinh dầu ra khỏi xe. Những xe bị ngập nước thường có mùi ẩm mốc rất khó xử lý, để "lấp liếm" điều này người bán xe thường bật điều hòa ở chế độ mạnh khi giới thiệu về xe.

                        <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="b-tat-dieu-hoa" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/14/dieu-hoa-8358-1487068049.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="Image">
                                            Tắt điều hòa khi kiểm tra mùi xe.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        Ngoài mùi xe ra bạn cũng nên kiểm tra độ ẩm ở một số vị trí nhất định trên xe vì nếu xe từng bị ngập thì nước sẽ đọng lại ở một số nơi mà người bán xe cũng không thể ngờ tới.
                        <br /><br />
                    </div>
                    
                    <p class="subtitle">
                        <span class="_5yl5"><span><span><b>4. Những chi tiết nhỏ ít người để ý nhưng nhất thiết phải kiểm tra kỹ</b></span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>a. Lật sàn xe kiểm tra.</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>b. Quan sát kỹ chân ga, chân phanh, chân ghế.</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>c. Kiểm tra các chấu điện.</span></span></span>
                    </p><p>
                        <span class="_5yl5"><span><span>d. Tất cả các chi tiết trên.</span></span></span>
                    </p><p>
                        <em><a title=">> Xem đáp án" href="javascript:showAnswer('answer4');">&gt;&gt; Xem đáp án</a></em>
                    </p>
                    <div id="answer4" class="invisible">
                        d. Tất cả các chi tiết
                        <br />
                        
                        <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="d-tat-ca-cac-chi-tiet" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/14/chan-5572-1487068049.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="Image">
                                            Dùng đèn pin kiểm tra kỹ chân ga, chân phanh.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

(Nguồn: vnexpress.net)
@section Scripts{

    <script>        
        //$("#div-right").hide();
        //handler.expandDivCenter();

        function showAnswer(id) {
            $("#" + id).css('visibility', 'visible');
            $("#" + id).css('position', 'relative');
        }
    </script>
}
