@{
    ViewBag.Title = "Loạt ôtô mới sắp ra mắt tại Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta property="og:image" content="http://www.xegiadinhviet.com/Content/Images/common/logo_text.png" />

<div class="news-details" style="margin-left:10px">
    
    <div id="left_calculator">
        <div class="fck_detail width_common block_ads_connect">
            <h2>
                Triển lãm ôtô Việt Nam (VMS) 2017 diễn ra từ 1/8-5/8, sân chơi của các hãng liên doanh trong nước gây chú ý với loạt ôtô mới.
            </h2>
            <p class="Normal">
                <strong>Toyota Wigo</strong>
            </p><p class="Normal">
                <span>Toyota giới thiệu Wigo, mẫu xe tham vọng cạnh tranh hai đối thủ Hàn Quốc, Kia Morning và Hyundai Grand i10 hiện thống trị phân khúc xe compact tại Việt Nam.</span>
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 98%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam" class="img_more" src="https://i-vnexpress.vnecdn.net/2017/07/31/Toyota-Wigo-2017-vnexpress-net-3681-1501474637.jpg" data-width="490" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Tân binh compact hạng A Toyota Wigo. Ảnh: <em>Autoindustriya</em>.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                <span>Trong lần ra mắt gần nhất tại triển lãm IIMS 2017 ở Indonesia hồi tháng 4, Wigo trang bị độ</span><span>ng cơ xăng 4 xi-lanh, dung tích 1,2 lít công suất 88 mã lực, hộp số sàn 5 cấp hoặc tự động 4 cấp. Tùy chọn thấp hơn là động cơ 1 lít 3 xi-lanh. Giá Toyota Wigo tại thị trường nước sở tại khoảng từ 9.900 USD.&nbsp;</span>
            </p><p class="Normal">
                <strong><span>Toyota Avanza</span></strong>
            </p><p class="Normal">
                <span>Mẫu xe thứ hai của Toyota sắp ra mắt thị trường trong nước là Avanza, MPV 7 chỗ định vị dưới đàn anh Innova đang "làm mưa làm gió" tại Việt Nam.</span>
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 98%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam-1" src="https://i-vnexpress.vnecdn.net/2017/07/31/Toyota-avanza-vnexpress-net-3851-1501474637.jpg" data-width="490" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Toyota Avanza tại Philippines. Ảnh: <em>Topgear Philippines</em>.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Là cái tên còn xa lại với người Việt nhưng mẫu xe của Toyota hiện bán chạy ở một số thị trường Đông Nam Á. Toyota Avanza có thiết kế khá tư<span>ơng đồng Innova, hướng đến sự&nbsp;</span><span>gọn gàng, thực dụng. Xe trang bị động cơ 1,3 lít 4 xi-lanh Dual VVT-i, công suất 96 mã lực. Tùy chọn số sàn 5 cấp hoặc tự động 4 cấp,&nbsp;</span><span>giá từ 14.200 USD tại Indonesia.</span>
            </p><p class="Normal">
                <strong><span>Toyota Alphard</span></strong>
            </p><p class="Normal">
                MPV cỡ lớn Toyota Alphard ra mắt tại Việt Nam trong khuôn khổ triển lãm VMS 2017 và bắt đầu phân phối chính hãng từ đầu 2018.
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam-2" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2017/07/31/Toyota-Alphard-2016-1-7-7285-1-5899-8840-1501474637.jpg" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                MPV Toyota Alphard bản nhập tư nhân. Ảnh: <em>Lương Dũng.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Alphard trong thời gian qua về nước bởi đường nhập khẩu tư nhân với mức giá khá cao. M<span>ột bản Executive Lounge của Toyota Alphard giá trên 4 tỷ đồng. Mẫu xe 7 chỗ sắp xuất hiện tại Việt Nam trang bị đ</span><span>ộng cơ xăng 3,5 lít V6, DOHC với công nghệ điều khiển van biến thiên kép Dual VVT-i.</span>
            </p><p class="Normal">
                <strong>Lexus LS 2018</strong>
            </p><p class="Normal">
                Lexus giới thiệu đến khách Việt mẫu sedan hạng sang thế hệ mới LS 2018, sau lần ra mắt hồi đầu 2017 tại Detroit, Mỹ.&nbsp;
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 98%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam-3" src="https://i-vnexpress.vnecdn.net/2017/07/31/lexus-ls-2018-vnexpress-net-2890-1501474637.jpg" data-width="490" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Lexus LS thế hệ mới. Ảnh: <em>Carscoops.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Trong nỗ lực định vị lại hình ảnh Lexus năng động và đẳng cấp hơn, hãng xe sang thuộc Toyota ra mắt LS mới với nhiều cải tiến, đặc biệt hộp số tự động 10 cấp đầu tiên trong phân khúc, kết hợp&nbsp;<span>động cơ V6 tăng áp kép dung tích 3,5 lít, công suất 415 mã lực ở bản tiêu chuẩn.</span>
            </p><p class="Normal">
                <strong><span>Chevrolet Trailblazer </span></strong>
            </p><p class="Normal">
                Sự xuất hiện của Trailblazer gây áp lực cho đối thủ&nbsp;<span>Toyota Fortuner</span><span>&nbsp;vốn thống trị phân khúc SUV 7 chỗ tại Việt Nam trong thời gian qua.</span>
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam-4" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2017/07/31/Trailblazer-2016-VnE-1308-1902-2116-3039-1501474637.jpg" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Trailblazer từng lỡ hẹn khách hàng Việt Nam tại triển lãm VMS 2016. Ảnh: <em>Lương Dũng.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                <span>Mẫu xe của thương hiệu Mỹ dự kiến nhập khẩu và phân phối tại Việt Nam nhưng chưa ấn định thời gian cụ thể. Xe phát triển trên nền tảng bán tải Colorado. Động cơ tại Thái Lan chỉ có loại diesel 2,5 lít, tùy chọn hộp số sàn hoặc tự động đều 6 cấp. Một số thị trường khác có thêm động cơ 2,8 lít 4 xi-lanh, hộp số tự động 6 cấp.</span>
            </p><p class="Normal">
                <strong><span>Suzuki Celerio</span></strong>
            </p><p class="Normal">
                <span>Kia Morning, Hyundai Grand i10 ngoài Toyota Wigo có thêm đối trọng khác đến từ Nhật, Suzuki Celerio nếu mẫu xe này phân phối tại Việt Nam.</span>
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 98%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam-5" src="https://i-vnexpress.vnecdn.net/2017/07/31/Suzuki-Celerio-vnexpress-net-5281-1501474637.jpg" data-width="490" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Suzuki Celerio 2017 tại thị trường Philippines. Ảnh: <em>Autodeal</em>.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                <span>Mẫu compact hạng A sắp ra mắt thị trường Việt trang bị động cơ một lít 3 xi-lanh, công suất 67 mã lực. Hộp số tự động hoặc số sàn 5 cấp. Suzuki Celerio mang kiểu dáng nhỏ gọn và kích thước khá tương đồng với các đối thủ trong phân khúc.</span>
            </p><p class="Normal">
                <strong><span>Honda Jazz&nbsp;</span></strong>
            </p><p class="Normal">
                Honda Jazz (Fit) là mẫu hatchback cỡ B sắp ra mắt thị trường Việt, thuộc phân khúc với các tên tuổi như Toyota Yaris, Mazda2, Ford Fiesta, Hyundai Accent.
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 98%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam-6" src="https://i-vnexpress.vnecdn.net/2017/07/31/honda-jazzfl-vnexpress-net-1-8864-1501474637.jpg" data-width="490" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Honda Jazz sắp ra mắt Việt Nam. Ảnh: <em>Paultan</em>.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Mẫu xe của thương hiệu Nhật trang bị độ<span>ng cơ 4 xy-lanh i-VTEC dung tích 1,5 lít, công suất 117 mã lực. Hộp số sàn 5 cấp hoặc CVT tùy phiên bản. Tại Thái Lan, Honda Jazz giá từ 17.800 USD.</span>
            </p><p class="Normal">
                <strong><span>Mercedes GLA facelift</span></strong>
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam-7" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2017/07/31/2018-mercedes-benz-gla-detroit-8240-4984-1501477185.jpg" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Bản nâng cấp Mercedes GLA. Ảnh: <em>Motor1.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                <span>Bản nâng cấp mẫu SUV hạng sang cỡ nhỏ Mercedes GLA thay đổi nhẹ thiết kế ngoại, nội thất.&nbsp;</span><span>Tại thị trường Việt Nam, GLA hiện phân phối với hai tùy chọn động cơ 1,6 lít và 2 lít, giá từ 1,519 tỷ đồng.</span>
            </p>
        </div>
      

        <div class="clear"></div>
    </div>

</div>
<br />
(Nguồn: vnexpress.net)

@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}


