<div class="news-details" style="margin-left:10px">

    <h1 id="title-h1">
        Xe Mitsubishi tại Việt Nam giảm giá
    </h1>

    <div class="clear">
    </div>

    <div id="content-id">                
        <img class="news-image" alt="Xe Mitsubishi tại Việt Nam giảm giá - 1" src="http://image.24h.com.vn/upload/1-2017/images/2017-02-13/1486955065-148691554393116-0_01.jpg" style="width: 500px; height: 333px;">
        <div class="sapo-news-detail">
            <h2>
                Trong tháng 2/2017, hầu hết các mẫu xe Mitsubishi đang bán tại Việt Nam đều hạ giá bán, ngoại trừ mẫu Pajero Sport thế hệ mới.
            </h2>
        </div>
        <div class="clear">
        </div>
        <div class="content-news-detail">
            <div class="text-conent" itemprop="articleBody">               
                <script type="text/javascript">window.onload = function () { resizeNewsImage("news-image", 500); }</script> <p style="text-align: center;"></p>

                <p>Trước sự cạnh tranh từ Toyota hay <a class="TextlinkBaiviet" title="Mazda">Mazda</a>, đến lượt <a class="TextlinkBaiviet" title="Mitsubishi">Mitsubishi</a> nỗ lực giảm giá các sản phẩm để tăng sức cạnh tranh. Theo bảng giá mới nhất, hầu hết các dòng xe đều được điều chỉnh lại giá, thấp nhất từ 11 triệu đồng cho đến cao nhất 60 triệu đồng. Cụ thể như sau:</p>

                <p style="text-align: center;"><img class="news-image" alt="Xe Mitsubishi tại Việt Nam giảm giá - 2" onclick="return openNewImage(this, '')" src="http://image.24h.com.vn/upload/1-2017/images/2017-02-13/1486955065-148691551697421-capture.png" style="width: 500px; height: 445px;"></p>

                <p>Có thể thấy, giảm mạnh nhất là dòng <a class="TextlinkBaiviet" title="xe bán tải">xe bán tải</a> Mitsubishi Triton 4x4 MT với mức giảm 60 triệu đồng. Các phiên bản 1 cầu giảm ít hơn với 20 và 40 triệu đồng lần lượt cho phiên bản số tự động và số sàn.&#8203;&#8203;</p>

                <p>Dòng xe crossover Outlander mới ra mắt năm 2016 cũng có mức giảm 25 triệu đồng cho tất cả các phiên bản. Các dòng xe bình dân nhất là Mirage và Attrage giảm giá cho phép những khách hàng mới mua xe lần đầu hoặc kinh doanh nhỏ lẻ dễ dàng tiếp cận hơn. Đáng chú ý, dòng xe Pajero Sport hoàn toàn mới nhập khẩu không được giảm giá đợt này.&#8203;</p>
            </div>
        </div>

    </div>

</div>

(Nguồn: 24h.com)
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
