@{
    ViewBag.Title = "Ô tô đại hạ giá: Cảnh báo dính họa xe tồn kho 2-3 năm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 14;
    ViewBag.IsNews = 1;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2>Ô tô đại hạ giá: Cảnh báo dính họa xe tồn kho 2-3 năm</h2>
    </div>
    
    <div class="block_col_480">

        <h3 class="short_intro txt_666">Ô tô tồn kho nhiều, các DN đang đại hạ giá để xả hàng. Mua xe tồn kho lúc này được hưởng ưu đãi lớn. Tuy nhiên, xe tồn kho để lâu, có nguy cơ giảm chất lượng.</h3>

        <div class="post-content ">

            <div id="divNewsContent" class="fon34 mt3 mr2 fon43 detail-content">
                <p><strong>Dấu hỏi về chất lượng</strong></p>

                <p>Thị trường ô tô đang sụt giảm khiến lượng xe tồn kho cao. Một số DN ô tô cho biết, hiện vẫn còn không ít xe xuất xưởng từ năm 2016, thậm chí từ năm 2015.</p>

                <p>Có DN ô tô cho biết, tính đến hết 6 tháng đầu năm 2017, lượng xe đã tồn kho đã gấp 3 lần năm ngoái. Trên thị trường, những mẫu xe giảm giá mạnh nhất hiện nay chủ yếu là hàng tồn kho, ế ẩm không bán được.</p>

                <p>Nhiều nghi ngờ dấy lên: vậy, xe tồn kho để lâu, liệu có ảnh hưởng tới chất lượng?</p>

                <p>Theo các kỹ sư ô tô, xe tồn kho nhiều tháng không bán được, nếu nhà sản xuất hay nhập khẩu, không bảo quản đúng quy trình, dễ ảnh hưởng tới chất lượng.</p>

                <div class="VCSortableInPreviewMode IMSCurrentEditorEditObject">
                    <div>
                        <img alt="xegiadinhviet-Xe phơi nắng phơi mưa chất lượng sẽ bị ảnh hưởng" src="~/Content/images/news/news13_1.jpg" style="width: 770px;">
                    </div>

                    <div class="PhotoCMS_Caption">
                        <p style="text-align:center;margin:0px;">Xe phơi nắng phơi mưa chất lượng sẽ bị ảnh hưởng</p>
                    </div>
                </div>
                <br />
                <p>Nếu xe chưa đổ xăng, dầu, chưa nổ máy, vẫn sử dụng dầu bảo quản có thể giữ được trong thời gian dài. Còn nếu đã đổ xăng, thay dầu máy, chạy thử thì cần phải thực hiện theo quy trình bảo quản. Mỗi tuần phải khởi động một lần, cho xe nổ máy ít nhất là 10 phút, để động cơ hoạt động, dầu máy được khuấy đảo, tránh bị ngưng tụ hơi nước trong buồng đốt. Cùng với đó, khi động cơ hoạt động sẽ giúp sạc điện vào ắc quy, đảm bảo tuổi thọ cho ắc quy.</p>

                <p>Ngoài ra, không được để lốp xe tiếp xúc với nền kho bãi lâu ở một vị trí, phải nâng bánh, quay 180 độ để thay đổi và luôn duy trì áp suất lốp đúng tiêu chuẩn để tránh bị nứt do trọng lượng xe đè lên.</p>

                <p>Tuy nhiên, để bảo quản được như vậy không phải nhà sản xuất hay nhập khẩu nào cũng làm đúng. Với số lượng ít có thể thực hiện được, nhưng tồn đến hàng trăm, hay hàng nghìn xe, thì đó là công việc không hề đơn giản.</p>

                <p>Với ô tô, khi đã đổ xăng, dầu nhớt và đã khởi động động cơ, chạy thử, sau đó lại “cất” trong kho một thời gian dài, thường gây ra nhiều tác hại. Lâu ngày không khởi động, dầu nhớt dễ sinh ra một số hợp chất có hại, sẽ ăn mòn động cơ, thậm chí tạo ra lớp bùn mỏng, có tính nhớt cao, làm tắc nghẽn các mao mạch dẫn dầu bôi trơn, góp phần vào việc mài mòn hệ chuyển động.</p>

                <p>Với xe tồn kho, thường xăng không được đổ đầy bình, mà chỉ có một ít. Nếu được đổ đầy sẽ giúp tránh được hiện tượng không khí ẩm lâu ngày có thể xâm nhập vào bình xăng, gây ngưng tụ hơi nước bên trong. Đến khi khởi động hơi nước sẽ theo vào động cơ.</p>

                <p>Xe để lâu, hơi nước cũng ngưng tụ trên thành xy lanh, rồi lọt xuống carte chứa dầu nhớt, thúc đẩy quá trình ăn mòn động cơ và các bộ phận chuyển động, dẫn đến giảm tuổi thọ.</p>

                <p>Khi tồn kho nhiều, xe không có nhà chứa, phải để ngoài trời, chịu mưa nắng thì thật tai hại. Dưới trời nắng nóng, nhiệt độ trong xe tăng cao sẽ làm giảm chất lượng đồ nội thất. Nếu để lâu, cao su, nhựa và các dung môi bên trong xe sẽ hóa hơi. Các bộ phận sử dụng dầu nhờn bôi trơn như núm điều khiển điều hòa, chân phanh, thiết bị điều khiển ghế,... hoạt động không trơn tru. Do dầu bôi trơn bị bay hơi và khô lại, dưới nhiệt độ cao, khiến các thiết bị này khó sử dụng hoặc bị kẹt.</p>

                <p>Tiếp đến, các gioăng cao su cánh cửa sẽ nhanh lão hóa. Sự quá nhiệt là nguyên nhân chính dẫn đến hiện tượng ắc quy chết sớm. Nhiệt độ khiến chất lỏng bay hơi, thay đổi nồng độ dung dịch, phản ứng diễn ra nhanh và gây tổn hại cho cấu trúc phía trong ắc quy. Đặc biệt, các đường ống dẫn khí, nước làm mát dễ bị hỏng, lốp xe nhanh lão hóa, lớp sơn vỏ xe nhanh phai màu,...</p>

                <p>Xe để trong kho, có mái che, mát mẻ thì lại gặp nỗi lo khác là chuột, gián thâm nhập. Dưới nắp ca-pô xe, trong ca-bin hay cốp xe là những nơi lý tưởng để những loài sinh vật này ẩn nấp. Điều này sẽ dẫn đến rất nhiều hệ lụy xấu như nhiều bộ phận trên xe có thể bị hư hỏng.</p>

                <div class="VCSortableInPreviewMode">
                    <div>
                        <img alt="xegiadinhviet- Nhiều hãng có xe tồn kho từ 2-3 năm" src="~/Content/images/news/news13_2.jpg" style="width: 770px;">
                    </div>

                    <div class="PhotoCMS_Caption">
                        <p style="text-align:center;margin:0px;"> Nhiều hãng có xe tồn kho từ 2-3 năm</p>
                    </div>
                </div>
                <br />
                <p><strong>Nhận biết xe tồn kho</strong></p>

                <p>Khi mua ô tô mới, để nhận biết đâu là xe tồn kho lâu ngày, các kỹ sư cho biết nên căn cứ vào số VIN trên xe. Có ba vị trí để tìm số VIN là trên khung cửa xe phía ghế lái, trên vách ngăn khoang động cơ và ở dưới kính chắn gió bên lái. Hãy chú ý tới ký tự thứ 10 trong dãy số này, vì đây là năm sản xuất của xe.</p>

                <p>Theo quy định, từ năm 2010 đến 2030 sử dụng bảng chữ cái bắt đầu từ chữ A (không sử dụng các chữ cái I, O, Q, U hoặc Z). Như vậy, xe sản xuất năm 2015 sẽ tương ứng với chữ F, năm 2016 chữ G, năm 2017 chữ H và năm 2018 chữ J,... Ngoài ra, cũng có thể căn cứ vào giấy xuất xưởng để biết năm sản xuất.</p>

                <p>Bên cạnh đó, nếu muốn biết xe được sản xuất vào tháng nào thì tham khảo thông tin trên lốp. Trên thành lốp bao giờ cũng có 1 dãy mã số (bắt đầu bằng cụm DOT) và kết thúc bằng 4 chữ số. Đó chính là các con số chỉ ngày tháng năm sản xuất. Chẳng hạn nếu 4 chữ số cuối dãy là 2416, có nghĩa là lốp này xuất xưởng vào tuần thứ 24 của năm 2016. Thông thường, lốp từ khi sản xuất đến khi được lắp vào xe chỉ khoảng một tháng.</p>

                <p>Một số nguồn tin cho biết, tại Việt Nam, những DN ô tô có thị phần nhỏ thường có xe tồn kho rất lâu năm. Thời gian tồn có những mẫu xe có thể lên tới vài năm. Mà xe ô tô khi tồn kho thì thường không được bảo quản tốt (vì để ngoài bãi) nên bị suy giảm chất lượng do thời tiết. Mỗi năm tồn kho thì giá trị vật chất của xe suy giảm khoảng 5-10%.</p>

                <p>Khách hàng mua những xe này hiện nay có thể được hưởng giá rẻ. Tuy nhiên, khi chấp nhận mua xe tồn kho lâu ngày cần kiểm tra kỹ nội thất, động cơ,... để đánh giá lại chất lượng.</p>                

            </div>
            
        </div>
                    
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
(Nguồn: dantri.com.vn)


