@{
    ViewBag.Title = "Honda Việt Nam sẽ giới thiệu một mẫu ôtô mới trong năm nay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 18;
    ViewBag.IsNews = 1;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }

<div class="news-details" style="margin-left:10px">

    <section class="sidebar_1">
        <div class="title_news">
            <h2 class="title_news_detail mb10">
                Honda Việt Nam sẽ giới thiệu một mẫu ôtô mới trong năm nay
            </h2>
        </div>
        <h3 class="description">Hãng xe Nhật ra mắt xe mới, mở rộng hệ thống đại lý và tăng cường chất lượng dịch vụ trong năm tài chính 2019.</h3>
        <article class="content_detail fck_detail width_common block_ads_connect">
            <p class="Normal">
                Ngày 24/5, Công ty Honda Việt Nam (HVN)&nbsp;tổng kết hoạt động năm tài chính 2018 và đưa ra Kế hoạch phát triển năm tài chính 2019 (từ tháng 4/2018-3/2019) tại Hà Nội. Theo đó, năm 2018 sản lượng bán hàng của tập đoàn tăng trưởng 2,38 triệu xe trong cả 3 lĩnh vực: ôtô, xe máy và sản phẩm động lực.&nbsp;
            </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 500px;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="Honda Việt Nam&nbsp;tổng kết hoạt động năm tài chính 2018 và đưa ra Kế hoạch phát triển năm tài chính 2019" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2018/05/25/HAY-1472-5985-1527233011.jpg" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <p class="Image">                                
                                <span><br /> Honda Việt Nam&nbsp;tổng kết hoạt động năm tài chính 2018 và đưa ra Kế hoạch phát triển năm tài chính 2019</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                <span>Cuối năm tài chính 2018 chứng kiến sự biến đổi trên thị trường ôtô khi thuế nhập khẩu giảm xuống 0%, Nghị định 116 với các điều kiện khắt khe đối với xe nhập khẩu có hiệu lực. Xét về tổng dung lượng thị trường, trong năm tài chính 2018, toàn thị trường tiêu thụ hơn 260.000 xe, trong đó dòng xe du lịch đạt hơn 150.000 xe, giảm 19% so với kỳ trước. Trong bối cảnh đó, HVN vẫn tăng trưởng với doanh số kỷ lục đạt 12.867 xe được bán ra.</span>
            </p><p class="Normal">
                <span>City tiếp tục chiếm vị trí là một trong những mẫu xe bán chạy nhất trong phân khúc sedan cỡ nhỏ. Honda năm vừa rồi ra mắt mẫu xe CR-V thế hệ mới và hatchback Jazz. Mẫu xe Honda Civic thế hệ thứ 10, với thiết kế thể thao phá cách cùng động cơ VTEC Turbo tiên tiến, đã ghi dấu sự trở lại thành công với doanh số bán năm 2017 cao hơn tổng doanh số 3 năm liên tiếp của Civic từ 2014 đến 2016. </span>
            </p><p class="Normal">
                <span>Hai mẫu xe nhập khẩu cao cấp là Accord và Odyssey cũng nhận được đánh giá tích cực từ khách hàng.&nbsp;</span><span>HVN khai trương thêm 9 đại lý nâng tổng số 26 đại lý ôtô đạt chuẩn 5S trên cả nước.</span>
            </p><p class="Normal">
                <span>Năm tài chính 2019, HVN kỳ vọng tiếp tục tăng trưởng ở các lĩnh vực.&nbsp;</span><span>Với ôtô, tăng trưởng sản lượng bán hàng với các hoạt động đa dạng, bao gồm: giới thiệu sản phẩm mới, mở rộng hệ thống đại lý, tăng cường chất lượng dịch vụ. Cung cấp các sản phẩm với công nghệ tiên tiến thân thiện với môi trường, hiệu suất nhiên liệu và an toàn. Trong năm 2019, Honda sẽ có một mẫu xe mới giới thiệu tới khách Việt.</span>
            </p><p class="Normal">
                <span>Ngoài ra, HVN cũng sẽ tiếp tục đẩy mạnh thương hiệu Honda ôtô với những giá trị cốt lõi: Bền bỉ - Chất lượng - Tin cậy (DQR), Công nghệ tiên tiến – Tiết kiệm nhiên liệu – An toàn vượt trội nhằm mang sản phẩm và dịch vụ chính hãng đến với nhiều khách hàng hơn nữa, đáp ứng sự hài lòng khách hàng ở mức cao nhất.</span>
            </p>

        </article>
    </section>

</div>
<div style="margin-top:400px">(Nguồn: vnexpress.net)</div>
