
<style>
    .invisible {
        visibility: hidden;
        position: absolute;
    }

    .fck_detail p.subtitle{
        font-weight:700;
    }
</style>

<div class="news-details" style="margin-left:10px">

    <div class="block_col_480">
        <div class="title_news">
            <h1>
                12 thứ không nên để trong ôtô
            </h1>
        </div>
        <h3 class="short_intro txt_666">Chai nước bằng nhựa, lon soda, các loại mỹ phẩm và đồ điện tử không nên để trong xe vì sẽ bị biến đổi vật lý hoặc hóa học.</h3>
        <div id="left_calculator">

            <div class="fck_detail width_common block_ads_connect">
                <p class="Normal">
                    Những đồ vật thường ngày nhiều tài xế thường để lâu trong xe dưới trời nắng có thể trở thành thứ nguy hiểm. Dưới đây là những vật dụng như vậy, theo lời khuyên của chuyên trang về thời tiết <em>Weather</em>.
                </p><p class="subtitle">
                    1. Các loại mỹ phẩm và thuốc
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/08132015-STONE-23-6828-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Với phụ nữ, thứ hay phải mang theo nhất vào mùa hè là kem chống nắng và các loại mỹ phẩm hỗ trợ da. Nhiều người từng thừa nhận bị nổ lọ kem chống nắng, đặc biệt những loại dạng xịt. Bên cạnh đó, nhiệt độ cao đốt nóng tuýp kem không thể sử dụng ngay lập tức trên da.
                </p><p class="Normal">
                    Quan trọng nhất, các loại mỹ phẩm và thuốc là hợp chất hóa học có độ nhạy cảm với nhiệt độ cao vì có thể biến đổi thành phần. Chính vì vậy mà những loại này đều được khuyên là để trong nhiệt độ thấp, tránh xa ánh nắng mặt trời. Do đó, không nên để trong xe nếu đỗ lâu dưới nắng nóng.
                </p><p class="subtitle">
                    2. Bật lửa dùng một lần
                </p><p class="Normal">
                    <span>Bật lửa dùng một lần có kích thước nhỏ, chứa một lượng ít gas nhưng lại vô cùng nguy hiểm. Để bật lửa trong xe dưới trời nắng khiến lượng khí gas giãn nở, phát nổ có thể cháy da ghế hoặc vỡ kính. Nhiệt độ trong xe đỗ dưới trời nắng có thể lên tới hơn 100 độ C, rất dễ để bật lửa nổ.</span>
                </p><p class="Normal" style="text-align:center;">
                </p><div class="embed-container"><iframe data-status="stop" data-view="outview" class="parser_player_vnexpress" id="player_57261_0" width="480" height="270" src="http://video.vnexpress.net/parser.html?id=57261&amp;t=2&amp;ft=video&amp;si=1000000&amp;ap=0&amp;ishome=0&amp;player_id=57261_0&amp;articleId=3547357" frameborder="0" allowfullscreen=""></iframe></div><p></p><p class="subtitle">
                    3. Đồ điện tử
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-1" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/e36904b2-e006-492b-b2a6-3db6fa-2044-3912-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Nhiệt độ cao làm hư hỏng linh kiện trong các thiết bị điện tử công nghệ cao. Ví như để&nbsp; máy ảnh trong ôtô ngày hè có thể khiến ống kính, thẻ nhớ mất tác dụng.
                </p><p class="Normal">
                    Pin là thành phần nguy hiểm nếu để trong xe vì lượng axit trong pin có thể bị rò rỉ ra ngoài, gây hại cho da và mắt người trên xe.
                </p><p class="subtitle">
                    4. Kính mắt
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-2" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/fed03b03-dd39-43af-8653-e61fb0-7982-7456-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Nhiệt độ cao có thể làm biến đổi hình dáng cả gọng lẫn mắt kính. Một số người từng không tìm thấy kính của mình ở đâu cho tới khi thấy kính đang bị chảy nhựa tạo mùi khó chịu trong hộc găng tay.
                </p>

                <p class="subtitle">
                    <span>5. CD, DVD</span>
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-5" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/ec526337-4f38-457f-b50c-6b2073-8392-9808-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Tất cả CD và DVD đều làm từ nhựa polycarbonat, chất liệu dễ dàng bị biến dạng hoặc chảy khi gặp nhiệt độ cao. Sẽ tồi tệ hơn nếu CD và DVD bị nóng chảy khi đang ở trong đầu đọc.
                </p><p class="subtitle">
                    6. Chai nhựa
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-5-1" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/bottled-water-in-car-7537-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Những chai nhựa đựng nước là thứ xuất hiện thường xuyên nhất trên xe. Không nên uống nước từ chai nhựa bị để lâu dưới nắng mặt trời vì các thành phần hóa học có thể bị biến đổi gây độc cho cơ thể con người.
                </p><p class="Normal">
                    Thậm chí nhiều người còn bị nóng chảy cả thẻ tín dụng vì để quên trong xe đỗ lâu vào buổi trưa.
                </p><p class="subtitle">
                    7. Son môi
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-5-2" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/762b1e3d-3b38-46af-b0b5-cfcdc5-4855-8960-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Son môi làm từ bột màu, dầu, sáp và chất làm mềm da nên sẽ tan trong môi trường chỉ cao hơn nhiệt độ phòng. Kể cả khi nguội đi, son vẫn có thể ảnh hưởng lâu dài như thay đổi thành phần, biến đổi màu sắc.
                </p><p class="subtitle">
                    8. Bút chì màu
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-5-3" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/39ec31f6-0355-4e5a-97c9-631b60-6087-2397-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Bút chì màu, bộ bút sáp màu của trẻ em cũng là những thứ không nên để trong xe quá lâu dưới trời nóng. Những bút màu này có thể rơi xuống sàn, ghế, thảm và tan chảy tạo ra mùi khó chịu và khó để làm sạch.                
                </p>

                <p class="subtitle">
                    <span>9. Socola, kẹo</span>
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-9" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/5e5352fe-73d2-4e2a-a4f8-6ae9a9-2576-6374-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Socola và kẹo ngọt là những thứ phải được giữ trong nhiệt độ thấp như tủ lạnh, chỉ cần ở trong vùng nhiệt hơi ấm là những món ăn này có thể chảy lỏng, đặc biệt là socola. Nếu đỗ xe dưới trời nắng, xác suất ghế, hộc để cốc, sàn xe chứa đầy socola lỏng là chuyện thường.
                </p><p class="subtitle">
                    10. Lon nước ngọt
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-9-1" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/356b486a-36ad-43bf-a1a0-54870b-7256-8535-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Những loại nước ngọt kiểu soda như cocacola, pepsi hay các thức uống có ga khác rất dễ nổ khi phơi lâu dưới trời nắng.Hiệu ứng nhà kính trong nội thất xe càng khiến lon nước loại này dễ nổ hơn nhiều lần.
                </p><p class="subtitle">
                    11. Thực phẩm
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-9-2" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/f65972a9-9be4-4498-9b17-5616b0-6098-4795-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Thói quen của nhiều người là biến ôtô thành cửa hàng tạp hóa với hàng tá thức ăn từ đồ tươi sống như trái cây tới đồ chín. Đặc biệt, những đồ sau khi lấy ra từ tủ lạnh, được đóng gói kỹ càng và mang ngay lên xe, đỗ dưới trời nóng. Lúc này, hầu hết thực phẩm sẽ phát sinh ra những chất không tốt cho cơ thể, biểu hiện bằng cách gây mùi hoặc làm mềm nhũn những đồ cứng.
                </p><p class="subtitle">
                    12. Đồ cao su, keo, băng dính
                </p><table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="12-thu-khong-nen-de-trong-oto-page-9-3" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/cf429a80-261a-46d9-90f2-aec47c-7247-4531-1488246186.jpg" data-width="500" data-pwidth="470.4" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table><p class="Normal">
                    Găng tay cao su, dép cao su, dép tông hay những loại keo dán hoàn toàn có thể biến thành dạng lỏng do bị chảy ở nhiệt độ cao. Nếu để trực tiếp những đồ vật này trên ghế, sàn xe thì chủ xe sẽ tốn một khoản tiền và thời gian để làm sạch.                
                </p>

            </div>

        </div>

    </div>

</div>
<br />
(Nguồn: vnexpress.net)
@section Scripts{

    <script>

        $("#div-right").hide();

        handler.expandDivCenter();

        function showAnswer(id) {
            $("#" + id).css('visibility', 'visible');
            $("#" + id).css('position', 'relative');
        }
    </script>
}
