@section Styles{
    <style>
        .fon33 {
            font: 700 16px/18px "Times New Roman";
            color: #5f5f5f;
            margin-top: 10px !important;
        }
    </style>

}

<div class="title_news">
    <h1>
        Những kinh nghiệm sử dụng ô tô mọi lái xe đều phải trang bị
    </h1>
</div>
<div id="content-id">

    <div class="sapo-news-detail">
        <h2 class="fon33">
            Không chỉ là phương tiện sử dụng hàng ngày, giờ đây chiếc ôtô còn được coi như người bạn thân thiết, một thành viên trong gia đình, luôn bên cạnh trong những hành trình đáng nhớ. Những câu chuyện sau đây sẽ giúp bạn hiểu thêm và biết cách chăm sóc và sử dụng thành viên bốn bánh này.<br>
        </h2>
    </div>
    <div class="clear">
    </div>
    <div id="divNewsContent" class="fon34 mt3 mr2 fon43 detail-content">
        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="right" id="ObjectBoxContent_1493077971835" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: right; width: 20%; display: inline-block; margin-left: 10px;" type="content" w="20%">
            <p><img alt="" data-original="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-51-27-pm-1493052707907.png" extid="4e03c3c0-290e-11e7-bf8e-81a5c51653e1" id="img_92350" photoid="92350" rel="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-51-27-pm-1493052707907.png" src="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-51-27-pm-1493052707907.png" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/bien-bao-vach-ke-duong-nhung-dieu-can-luu-y-20161017104448588.htm" target="_blank">Tìm hiểu biển báo và vạch kẻ đường</a></strong></div>
            </div>
        </div>

        <p>Đây không đơn thuần là những câu chuyện về chăm sóc xe, kiểm tra vận hành, mà hơn thế, bao gồm cả những kinh nghiệm lái xe, ứng xử trên đường để làm sao giữ được an toàn cho bản thân, cho người thân, và cho cả chiếc xế hộp.</p>

        <p>Đây không chỉ đơn thuần là những quy định bắt buộc về pháp lí khi bạn có Giấy phép lái xe, mà hơn thế nữa, là những câu chuyện thực tế về chăm sóc xe, về kinh nghiệm lái xe thực tế để bất cứ ai trong chúng ta, khi cầm lái đều có thể tìm được cho mình một chia sẻ đầy hữu ích và vô cùng cần thiết.</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="left" id="ObjectBoxContent_1493077950667" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; width: 17%; display: inline-block; margin-right: 10px;" type="content" w="17%">
            <p><img alt="" data-original="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-55-07-pm-1493052923852.png" extid="cf0ebce0-290e-11e7-bf8e-81a5c51653e1" id="img_92351" photoid="92351" rel="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-55-07-pm-1493052923852.png" src="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-55-07-pm-1493052923852.png" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/ban-nen-thay-lop-khi-nao-20170303085434701.htm" target="_blank">Làm thế nào để biết đã đến lúc phải thay lốp?</a></strong></div>
            </div>
        </div>

        <p>Việc sử hữu một chiếc ôtô giờ đây đã trở thành một trong những mục tiêu trong cuộc sống của nhiều người, là nhu cầu chính đáng vô cùng cần thiết trong cuộc sống hiện đại. Tuy nhiên, việc có một chiếc xe, kèm với đó là việc trang bị thêm kiến thức về xe sẽ giúp bạn có thêm tự tin khi cầm lái, và hơn thế nữa, luôn biết cách giữ được an toàn cho bản thân và gia đình.</p>

        <p>Những chuyện đơn giản như kiểm tra tình trạng của lốp xe, một bộ phận đơn giản nhưng vô cùng quan trọng để giữ an toàn cho bạn; độ mòn của bề mặt, những con số trên bộ lốp sẽ cung cấp nhiều thông tin hơn bạn nghĩ... tất cả sẽ trở nên vô cùng hữu ích nếu bạn bỏ ra chút ít thời gian để tìm hiểu.</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="right" id="ObjectBoxContent_1493077944444" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: right; width: 20%; display: inline-block; margin-left: 10px;" type="content" w="20%">
            <p><img alt="" data-original="https://dantricdn.com/2017/1-1493053035525.gif" extid="117b21e0-290f-11e7-871c-73d51fcb1f70" id="img_92352" photoid="92352" rel="https://dantricdn.com/2017/1-1493053035525.gif" src="https://dantricdn.com/2017/1-1493053035525.gif" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/nhung-ki-hieu-tren-bang-dieu-khien-oto-co-phai-ban-da-biet-1379906184.htm" target="_blank">Tìm hiểu các kí hiệu trên bảng đồng hồ</a></strong></div>
            </div>
        </div>

        <p>Ngành công nghiệp ôtô đang tiến nhanh như vũ bão, với vô vàn các công nghệ ứng dụng được trang bị ngày càng nhiều để giữ an toàn cho người lái tuy nhiên đi kèm với đó là bảng đồng hồ chính ngày càng trở nên "chật trội" với hàng loạt các loại đèn báo đủ màu sắc; xanh/vàng/đỏ mà không phải ai cũng có thể nắm bắt hết ý nghĩa của chúng. Hãy luôn nhớ rằng những đèn báo màu xanh chỉ mang ý nghĩa chỉ dẫn, đèn vàng mang ý nghĩa cảnh báo, và bạn đã thực sự gặp phải vấn đề khi bất cứ chiếc đèn đỏ xinh xinh nào đó xuất hiện trên bảng đồng hồ của bạn.</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="left" id="ObjectBoxContent_1493077985617" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; width: 20%; display: inline-block; margin-right: 10px;" type="content" w="20%">
            <p><img alt="" data-original="https://dantricdn.com/2017/ac-1493053182225.png" extid="68d7a260-290f-11e7-915b-19efc46c8118" id="img_92353" photoid="92353" rel="https://dantricdn.com/2017/ac-1493053182225.png" src="https://dantricdn.com/2017/ac-1493053182225.png" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/kinh-nghiem-su-dung-dieu-hoa-oto-trong-mua-he-20160601173433212.htm" target="_blank">Kinh nghiệm sử dụng điều hòa ôtô</a></strong></div>
            </div>
        </div>

        <p>Mùa hè sắp đến, làm thể nào để tối ưu hóa hệ thống điều hòa; hoạt động hiệu quả nhưng vẫn tiết kiệm nhiên liệu? Liệu có phương cách nào toàn vẹn hay không? Sẽ có nhiều người cho rằng khó có một chiếc xe hoàn hảo nào cho bạn để làm mát nhanh mà lại không tiêu tốn nhiên liệu. Tuy nhiên, một số cách làm cực kỳ đơn giản lại có kết quả rất khả quan, những việc làm mà nhiều người vẫn thực hiện một cách "vô thức" trong khi lại mang tới những hiệu quả rất lớn trong tiết trời nắng nóng.</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="right" id="ObjectBoxContent_1493078003712" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: right; width: 15%; display: inline-block; margin-left: 10px;" type="content" w="15%">
            <p><img alt="" data-original="https://dantricdn.com/2017/1-1493053500382.jpg" extid="2700d130-2910-11e7-bf8e-81a5c51653e1" id="img_92354" photoid="92354" rel="https://dantricdn.com/2017/1-1493053500382.jpg" src="https://dantricdn.com/2017/1-1493053500382.jpg" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/troi-nom-am-xu-ly-the-nao-khi-kinh-lai-bi-mo-hoi-nuoc-20170313120143996.htm" target="_blank">Làm gì khi kính lái bị mờ hơi nước?</a></strong></div>
            </div>
        </div>

        <p>Không những vậy, rất dễ nhầm lẫn trong việc sử dụng điều hòa để xử lí kính bị mờ do trời sương mù hoặc mưa nhỏ; không phải ai cũng có câu trả lời đúng đắn và đầy đủ nhất. Kể cả hệ thống gạt mưa, chiếc xe bạn mới mua nhưng cần gạt đã kêu rin rít khi hoạt động, làm thế nào để biết đã đến lúc cần thay thế, câu trả lời sẽ chỉ lấy đi của bạn vài phút mà hoàn toàn không cần phải đến garage, trừ khi bạn có thật nhiều tiền.</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="left" id="ObjectBoxContent_1493078017344" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; width: 20%; display: inline-block; margin-right: 10px;" type="content" w="20%">
            <p><img alt="" data-original="https://dantricdn.com/2017/screen-shot-2017-04-25-at-12-07-08-am-1493053660180.png" extid="85edf6f0-2910-11e7-bf8e-81a5c51653e1" id="img_92355" photoid="92355" rel="https://dantricdn.com/2017/screen-shot-2017-04-25-at-12-07-08-am-1493053660180.png" src="https://dantricdn.com/2017/screen-shot-2017-04-25-at-12-07-08-am-1493053660180.png" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/nhung-vat-dung-can-thiet-cho-mot-chuyen-di-xa-20160901080610457.htm" target="_blank">Những vật dụng cần thiết cho những chuyến đi dài</a></strong></div>
            </div>

            <p> </p>
        </div>

        <p>Mỗi dịp nghỉ lễ lớn dài ngày như Tết Thống nhất, Tết Dương lịch hay Tết Nguyên đán luôn là cơ hội để bạn thực hiện những chuyến du hành cùng gia đình, bạn có thể lên một danh sách những vật dụng cần thiết cho mỗi chuyến đi; từ cáp câu điện, dây kéo xe... cho đến chi tiết như bộ đồ sơ cứu, dụng cụ cứu hộ...</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="right" id="ObjectBoxContent_1493078033324" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: right; width: 20%; display: inline-block; margin-left: 10px;" type="content" w="20%">
            <p><img alt="" data-original="https://dantricdn.com/2017/screen-shot-2017-04-25-at-12-10-01-am-1493053827660.png" extid="e9e00e00-2910-11e7-bf8e-81a5c51653e1" id="img_92356" photoid="92356" rel="https://dantricdn.com/2017/screen-shot-2017-04-25-at-12-10-01-am-1493053827660.png" src="https://dantricdn.com/2017/screen-shot-2017-04-25-at-12-10-01-am-1493053827660.png" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/tu-ngay-mai-chinh-thuc-tang-toc-do-toi-da-trong-khu-dan-cu-20160228232203321.htm" target="_blank">Các quy định về tốc độ cho các loại phương tiện</a></strong></div>
            </div>
        </div>

        <p>Khi đi trên đường, bạn có kịp nhớ tốc độ tối đa trên quốc lộ, khu dân cư theo quy định mới là bao nhiêu để không bị "dính lỗi" đi quá tốc độ? Bạn có biết kể từ tháng 2/2016, tốc độ tối đa của dòng xe du lịch sẽ tăng lên 90 km/h ở đường ngoài đô thị và kèm theo đó là một số điều kiện nhất định?</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="left" id="ObjectBoxContent_1493078076869" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; width: 20%; display: inline-block; margin-right: 10px;" type="content" w="20%">
            <p><img alt="" data-original="https://dantricdn.com/2017/tai-nan-1487691626891.png" extid="1251ea20-f84c-11e6-91a9-91ce504d7dc6" id="img_61811" photoid="61811" rel="https://dantricdn.com/2017/tai-nan-1487691626891.png" src="https://dantricdn.com/2017/tai-nan-1487691626891.png" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/kinh-nghiem-di-canh-xe-tai-xe-cong-ten-no-20170412144326042.htm" target="_blank">Kinh nghiệm đi gần công-ten-nơ</a></strong></div>
            </div>
        </div>

        <p>Và đặc biệt hữu ích là những chia sẻ kinh nghiệm khi lái xe đường đèo dốc hay lưu thông cùng các loại xe quá khổ quá tải như công-ten-nơ, xe bồn...; cách sử dụng phanh, số hợp lí khi đổ đèo cũng như cách "né" hung thần đường phố...</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="right" id="ObjectBoxContent_1493078121290" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: right; width: 16%; display: inline-block; margin-left: 10px;" type="content" w="16%">
            <p><img alt="" data-original="https://dantricdn.com/2017/anh-bia-1487688825989.jpg" extid="8eecbc10-f845-11e6-b49a-e10163e92f04" id="img_66269" photoid="66269" rel="https://dantricdn.com/2017/anh-bia-1487688825989.jpg" src="https://dantricdn.com/2017/anh-bia-1487688825989.jpg" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/phat-toi-12-trieu-dong-vi-loi-dung-do-xe-sai-quy-dinh-20170329064646582.htm" target="_blank">Đỗ xe sai nộp phạt tối đa bao nhiêu?</a></strong></div>
            </div>
        </div>

        <p>Quy chuẩn mới về biển hiệu giao thông vừa có hiệu lực tháng 11/2016 cùng với các mức phạt mới có trong Nghị định 46/2016 sẽ làm nhiều bất ngờ về các quy định định mới. Chính vì thế toàn bộ nội dung liên quan đến việc lái xe sẽ là vô cùng cần thiết với nhiều người; làm thế nào để dừng/đỗ xe đúng quy định, những biển hiệu giao thông mới vừa ra mắt, thậm chí cả những quy định về việc Cảnh sát giao thông được phép dừng xe lúc nào?</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="left" id="ObjectBoxContent_1493078051254" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; width: 17%; display: inline-block; margin-right: 10px;" type="content" w="17%">
            <p><img alt="" data-original="https://dantricdn.com/2017/caraccident1-1487386704979.png" extid="1c230a20-f586-11e6-b49a-e10163e92f04" id="img_60134" photoid="60134" rel="https://dantricdn.com/2017/caraccident1-1487386704979.png" src="https://dantricdn.com/2017/caraccident1-1487386704979.png" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/o-to-xe-may/kinh-nghiem-lai-xe-duong-deo-20170305013500826.htm" target="_blank">Kinh nghiệm lái xe đường đèo</a></strong></div>
            </div>
        </div>

        <p>Là người đồng hành không thể thiếu trong những chuyến đi của cả gia đình, bạn chắc chắn sẽ phải trang bị cho mình những thông tin về hành trình, điểm du lịch, mà hơn thế, còn phải giúp cho chiếc xe luôn sẵn sàng cho những cung đường; những vật dụng cần thiết cho chuyến đi, cách lái xe ở mỗi cung đường, đâu là điểm khác biệt giữa việc lái xe trên đường cao tốc hay trên các con đường đồi núi quanh co... Chia sẻ của các "lái cứng" nhiều năm kinh nghiệm luôn là những bài học đáng nhớ cho những "lái mới".</p>

        <div class="VCSortableInPreviewMode" data-back="ffffff" data-border="ffffff" dir="right" id="ObjectBoxContent_1493078098812" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: right; width: 16%; display: inline-block; margin-left: 10px;" type="content" w="16%">
            <p><img alt="" data-original="https://dantricdn.com/2017/toy-1487870724906.jpg" extid="112c2550-f9ed-11e6-896b-17b31d47e829" id="img_62843" photoid="62843" rel="https://dantricdn.com/2017/toy-1487870724906.jpg" src="https://dantricdn.com/2017/toy-1487870724906.jpg" style="max-width: 100%;" title="" type="photo" contenteditable="false"></p>

            <div class="VCSortableInPreviewMode" style="display: inline-block; width: 100%; text-align: center; box-sizing: border-box;" type="PhotoInContentBox">
                <div class="PhotoCMS_Caption"><strong><a draggable="false" href="http://dantri.com.vn/event/danh-cho-nguoi-lan-dau-mua-xe-2783.htm" target="_blank">Kinh nghiệm cho người mua xe lần đầu</a></strong></div>
            </div>
        </div>

        <p>Với những chia sẻ hầu hết là dành cho những người đã có ôtô, một số những kinh nghiệm dành cho người chuẩn bị mua xe cũng được đăng tải khá đầy đủ; từ việc lựa chọn dòng xe, cho đến đàm phán đại lí, bảo hiểm, cách thức lựa chọn thời điểm mua xe... Tất cả đều được chuyên mục tập trung vào một danh mục khá thuận tiện để theo dõi.</p>

        <p>Những câu chuyện kể trên không thể chứa đựng toàn bộ kỹ năng lái xe, kinh nghiệm đi đường; chính vì vậy, chuyên mục Xe++ của báo Dân trí mong nhận được nhiều hơn nữa các bài học thực tế trên đường để có thể chia sẻ rộng rãi tới bạn đọc của báo, góp phần có được một xã hội giao thông an toàn và văn minh.</p>

    </div>
</div>


<br/>
(Nguồn: dantri.com.vn)

@section Scripts{
    <script>
        $("#div-right").hide();
        handler.expandDivCenter();
    </script>
}


