@{
    ViewBag.Title = "Chạy xe máy suýt bỏ mạng vì đi thẳng ở làn rẽ trái";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 6;
    ViewBag.IsNews = 0;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2 id="title-h1">
            Chạy xe máy suýt bỏ mạng vì đi thẳng ở làn rẽ trái
        </h2>
    </div>
    <div class="clear">
    </div>

    <div>
        
        <h3 class="description">Người đàn ông chạy xe máy suýt chết vì chuyển sang làn rẽ trái nhưng lại đi thẳng ở ngã tư Trần Duy Hưng - Khuất Duy Tiến (Hà Nội).</h3>

        <article class="content_detail fck_detail width_common block_ads_connect">
            <p class="Normal">
                <span style="color:rgb(34,34,34);">Người đàn ông chạy xe Exciter tốc độ cao, chuyển sang làn rẽ trái nhưng lại đi thẳng và bị một ôtô đang sang đường, tạt ngay trước đầu. Người này thắng gấp, ngã lăn xuống đường và suýt chui vào gầm ôtô. Vụ tai nạn xảy ra sáng 27/3, tại </span><span>ngã tư Trần Duy Hưng - Khuất Duy Tiến (Hà Nội).</span>
            </p>
            <iframe width="785" height="545" src="https://v.vnecdn.net/vnexpress/video/web/mp4/2018/03/27/nguoi-dan-ong-suyt-chui-vao-gam-oto-vi-di-thang-o-lan-re-tra-1522131397.mp4"></iframe>
        </article>

    </div>

</div>

<div style="margin-top:800px" >(Nguồn: vnexpress.net)</div>
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
