@{
    ViewBag.Title = "Những bài học nhớ đời của một nữ tài xế";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 4;
    ViewBag.IsNews = 0;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2 id="title-h1">
            Những bài học nhớ đời của một nữ tài xế
        </h2>
    </div>
    <div class="clear">
    </div>        

    <article class="content_detail fck_detail width_common block_ads_connect">
        
        <img width="555" src="https://i-vnexpress.vnecdn.net/2017/10/26/IMG0495JPG-1509034994-2187-1509035019_180x108.jpg" data-width="490" data-width="500" alt="nhung-bai-hoc-nho-doi-cua-mot-nu-tai-xe" class="img__item img--responsive is-desktop">

        <h3 class="description">Sau 7 năm cầm lái, tôi có vài kinh nghiệm dành cho các bạn mới lái xe, chủ yếu là các bạn nữ.</h3>

        <p class="Normal">
            <strong>Ngày đầu tự đi ra đường</strong>, tôi chọn lên đường trên cao (Hà Nội) đi cho nhanh. Hôm ấy đường vắng, thấy cái xe trước đi thế nào thì bám sát, người ta đi 100 km/h mình cũng đi 100 km/h, vừa lái vừa run nhưng nghĩ chả lẽ không bằng người ta.&nbsp;
        </p><p class="Normal">
            Về kể cho người anh, người này nói: "Cô liều thế, đi nhanh phải có kinh nghiệm xử lý tình huống. Thế lỡ xe đi trước nó phanh gấp thì làm thế nào?". Lúc ấy mới nghĩ là mình may.
        </p><p class="Normal">
            Bài học rút ra: phải biết mình là ai.
        </p><p class="Normal">
            <strong>Ngày thứ 3</strong>, lái xe về quê họp lớp, rủ rê mãi mới có hai đứa đi cùng. Đến nơi tôi gọi một bạn ra bảo: “Ông lái hộ tôi cái xe lên vỉa hè với, thầy chưa dạy”. Cậu bạn trợn mắt: "Hai đứa đi cùng đâu rồi?" Chép miệng: "Đang ngồi nôn mửa ở gốc cây kia kìa".
        </p><p class="Normal">
            Hết họp thì tối, lúc quay về Hà Nội cứ thấy cái xe đằng sau nhấp nháy, cáu lắm thì nhận được điện thoại của bạn có xe đi cùng đoàn, gào lên: "Bà bật đèn xe lên cho tôi nhờ".
        </p><p class="Normal">
            Tôi vốn làm mọi thứ bản năng, lái xe cũng thế. Bởi vậy đi hàng km chưa mở gương xe là bình thường chứ nói gì đèn. Có buổi đang lái thì cảm thấy cái ghế hơi xa. Lười dừng lại, mà vẫn kéo nó lên, ai dè cái ghế tụt một phát về đằng sau. Lúc ấy hẫng lên vì mất thăng bằng, may mà đường vắng, đường đông là xong rồi.
        </p><p class="Normal">
            Bài học: không có cơ hội cho những sai lầm.
        </p><p class="Normal">
            <strong>Một hôm nữa</strong>&nbsp;lại lên đường trên cao, dự kiến xuống nút giao Thanh Xuân. Nhưng đi nhanh quá vào làn không kịp. Trời tối, nghĩ bây giờ cứ đi thì đến đâu mới xuống được, không lẽ đêm mới về đến nhà? Nên cẩn thận dừng xe, bật đèn khẩn, lùi dần rồi xuống, báo hại một dòng xe đợi phía sau. Sau này nghĩ, lỗi này đáng lẽ phải bị đi tù mới đúng.
        </p><p class="Normal">
            Bài học: đừng bao giờ liều lĩnh và thiếu hiểu biết.
        </p><p class="Normal">
            <strong>Một tối khác</strong>, cùng cô em thân bàn công việc. Đến lúc lên xe vẫn chưa chốt xong nên bật đèn ngồi trong xe trao đổi. Đến khuya, xong việc thì xe không thể khởi động vì hết ắc-quy. Loay hoay mãi không biết làm thế nào ở khu Mỹ Đình rộng lớn, tạm vẫy hai cái taxi trợ giúp đấu ắc-quy nhưng không thành. Hồi đó mới học lái nên đi xe Civic MT. Tưởng vứt xe đấy, đến lúc đẩy lại nổ, một giờ sáng cũng lê lết về được đến nhà.
        </p><p class="Normal">
            Bài học: đừng lạm dụng hệ thống điện khi không nổ máy.
        </p><p class="Normal">
            <strong>Đến khi bán cái Civic</strong>, xem hồ sơ mới lần đầu nhìn thấy bộ Tài liệu lái xe an toàn của Honda. Mấy năm sau, đổi sang xe Swift số tự động nho nhỏ luồn lách cho dễ. Ngày đầu ngồi lên xe, đường đông, tự nhiên xe lao vèo, định thần hết sức mới phanh được.&nbsp;<span>Lý do là chân trái không có côn nên không biết làm gì, lớ ngớ đạp nhầm. </span>
        </p><p class="Normal">
            <span>Bài học: khi lên xe lại n</span><span>hớ tập lái nguội trước khi lái nóng.&nbsp;</span>
        </p><p class="Normal">
            Nói chung, ôtô được coi là phương tiện giao thông gây nguy hiểm. Có những bài học vĩnh viễn bạn không thể được học lại, vì nó liên quan đến sinh mạng người khác. Nên lái xe cần hết sức cẩn thận, không nên lái khi uống rượu, căng thẳng, khi buồn ngủ, tâm trạng không tốt. Hơn nữa, phải chăm sóc xe đầy đủ để không "lên cơn".
        </p><p class="Normal">
            Các anh đừng để bụng, không nên tò mò kinh nghiệm của phụ nữ làm gì.            
        </p>
    </article>

</div>
<br />
<br /><br />
<br />
<br /><br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
(Nguồn: vnexpress.net)
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
