@{
    ViewBag.Title = "Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 1;
    ViewBag.IsNews = 0;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2 id="title-h1">
            Guơng mặt thật cuả thần chết
        </h2>
    </div>
    <div class="clear">
    </div>

    <div id="content-id">
        <div class="clear">
        </div>
        <div class="content-news-detail">
            <div class="c-content clearfix">

                <div class="c-content-inner l-fullwidth">

                    <div class="img">
                        <img src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/0.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="img__item img--responsive is-mobile">
                    </div>

                </div>

                <div class="c-content-inner l-inset-column is-hidden">

                    <h1 class="c-content__title">Gương mặt thật của thần chết</h1>
                    <p class="c-content__lead">
                        Hơn bốn mươi người bước lên một chiếc xe. Không ai bước xuống. Đại thảm kịch diễn ra chỉ sau cú đánh
                        lái ẩu của một người.
                    </p>
                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        Trước khi lên xe, vợ chồng chị Giang anh Luân gọi điện cho các con, kể rằng mua rất nhiều quà, dặn chúng
                        đợi bố mẹ về.
                    </p>
                    <p>
                        Đó là chiều tối 1/9/2014. Vợ chồng chị vừa mua được cặp vé cuối cùng của chuyến xe khách Sao Việt mang
                        biển số 29B-085.82. Một cặp vé may mắn: nó vừa được khách trả lại - và có thể giúp họ trở về Hà Nội
                        trước nửa đêm. Họ ở hàng ghế cuối, trên chiếc xe giường nằm 46 chỗ như bất kỳ chiếc nào đậu ở bến xe
                        khách Sapa.
                    </p>
                    <p>Thiết bị giám sát hành trình trên xe tắt vào lúc 18 giờ 39 phút tối.</p>
                    <p>
                        Vài tiếng sau, anh Luân tỉnh dậy trong Bệnh viện đa khoa Lào Cai. Anh không biết vợ mình ở đâu. Anh cố
                        tìm chị trước khi ngất vì quá đau. Khi chiếc xe lao xuống vực, hai vợ chồng văng ra mỗi người một
                        hướng.
                    </p>
                    <p>
                        Giây phút ấy, Trình và Lan - hai hành khách khác trên chuyến xe - cố ôm lấy nhau. Nhưng họ chỉ vừa chạm
                        tay, chiếc xe bắt đầu lật và cuộn tròn. Xe lăn vài vòng, họ bị bắn ra theo hai hướng. Trình văng khoảng
                        ba mươi mét trong không trung, rơi xuống một bụi cỏ rậm. Cậu ngất đi một lúc, rồi tỉnh dậy và bắt đầu đi
                        tìm người vợ chưa cưới. Trình lần ngược xuống vực, lật giở tất cả những chiếc chăn đang che xác các nạn
                        nhân, nhưng không tìm thấy Lan.
                    </p>
                    <p>
                        Thi thể của chị Giang và Lan được xác nhận trong đêm đó. 12 người đã chết. Con số tăng lên thành 14 một
                        tuần sau. Nạn nhân cuối cùng, Hải Ly, cũng trở về trên chuyến xe khách định mệnh cùng người chồng chưa
                        cưới. Họ chọn Sapa làm điểm chụp ảnh cưới của mình.
                    </p>

                </div>

                <div class="c-content-inner l-outset-column">

                    <div class="img">
                        <img style="width:800px;height:500px" data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/2.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/2.jpg" >
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/2.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                        <p class="img__caption">
                            Hiện trường vụ tai nạn tại Sapa, Lào Cai ngày 1/9/2014.
                        </p>
                    </div>

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        Tối ngày 2/9, khi Lan đã nhập quan, Trình đến gặp cha cô, và trình bày một nguyện vọng: cậu muốn được
                        trao chiếc nhẫn cưới cho người mình chọn làm vợ. Dù Lan đã mất, cậu vẫn muốn cả hai được nên vợ nên
                        chồng, và trở thành con cái trong nhà Lan. Cha Lan bối rối, nhưng rồi ông đồng ý. Nửa đêm, họ mở nắp
                        quan tài để Trình làm điều mà cậu đáng lẽ sẽ làm trong một ngày vui trọn vẹn.
                    </p>
                    <p>
                        Những ngày sau, bà nội của Lan gọi Trình ra một góc. Bà cho Trình một chỉ vàng – quà cưới để dành cho
                        hai đứa. Trình không muốn nhận, bà cứ dúi vào tay.
                    </p>
                    <p>
                        Đó là “đám cưới” được báo chí nhắc nhiều nhất trong năm 2014. Người ta thậm chí dàn dựng lại nó trong
                        một buổi tưởng niệm nạn nhân giao thông vào ngày 17/11 năm ấy. Tình yêu, trở thành điểm minh họa cho sự
                        thảm khốc của tai nạn giao thông tại Việt Nam.
                    </p>
                    <p>
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/assets/img/divider-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/assets/img/divider-1.jpg" style="display: block;">
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/assets/img/_m/divider-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">

                    </p>

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        Một vài nhân chứng - sau cú sốc - kể lại rằng xe đã mất phanh trước khi va chạm với chiếc Kia Morning.
                        Tài xế xe khách Nguyễn Hữu Thọ khẳng định rằng không phải. Trước thời điểm xảy ra va chạm, xe chỉ chạy
                        với tốc độ 13 km/h. Theo lời ông Thọ, chiếc xe con đi ngược chiều đã bất ngờ “lao từ dưới dốc lên và lấn
                        hết phần đường mà xe tôi đang chạy”.
                    </p>
                    <p>
                        Ba tháng sau, cơ quan điều tra tỉnh Lào Cai khởi tố bị can với tài xế Nguyễn Hữu Thọ. Từ dấu vết hiện
                        trường, công an xác định rằng chính ông Thọ, chứ không phải tài xế lái chiếc Kia Morning, mới là người
                        lấn làn - và tạo ra vụ va chạm.
                    </p>
                    <p>14 người đã chết, chỉ vì một tài xế quyết định chạy lấn làn.</p>

                </div>

                <div class="c-content-inner l-fullwidth">

                    <div class="img">
                        <img style="display:block; wid :800px;height:500px" data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/3.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/3.jpg" >
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/3.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                    </div>

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/title-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/title-1.jpg" style="display: block;">
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/title-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                    </p>
                    <p>
                        <em>
                            Một nhạc sĩ, một người vẽ tranh minh họa, một người Mỹ - gặp nhau ở một vấn đề: họ không thể đi cùng
                            đoàn người tham gia giao thông Việt Nam.
                        </em>
                    </p>
                    <p>
                        Thống kê mới nhất từ Ủy ban An toàn giao thông quốc gia, trong những nguyên nhân dẫn đến tai nạn giao
                        thông, thì 5% do phương tiện, 15% do hạ tầng, còn lại là do “ý thức tham gia giao thông”. Chủ yếu là đi
                        không đúng phần đường 24,91%, vi phạm tốc độ quy định 10,2%, vượt xe sai quy định 6,7%, quy trình lái xe
                        kém 7,7% và 1,68% dùng rượu bia.
                    </p>

                </div>

                <div class="c-content-inner l-inset-column">

                    <div class="infogram-embed" data-id="90823b2a-1059-4fb1-baba-a0be78f84d7a" data-type="interactive" data-title="tainan" data-processed="1" id="ig-a5c114b0-66b2-c5c9-5ec1-bcc673b3035b"><iframe src="https://e.infogram.com/90823b2a-1059-4fb1-baba-a0be78f84d7a?src=embed" scrolling="no" frameborder="0" allowfullscreen="" title="tainan" style="border: none; width: 700px; height: 623px;"></iframe></div>
                    <script>!function (e, t, s, i) { var n = "InfogramEmbeds", o = e.getElementsByTagName("script"), d = o[0], r = /^http:/.test(e.location) ? "http:" : "https:"; if (/^\/{2}/.test(i) && (i = r + i), window[n] && window[n].initialized) window[n].process && window[n].process(); else if (!e.getElementById(s)) { var a = e.createElement("script"); a.async = 1, a.id = s, a.src = i, d.parentNode.insertBefore(a, d) } }(document, 0, "infogram-async", "//e.infogram.com/js/dist/embed-loader-min.js");</script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><a href="https://infogram.com/90823b2a-1059-4fb1-baba-a0be78f84d7a" style="color:#989898!important;text-decoration:none!important;" target="_blank">tainan</a><br><a href="https://infogram.com" style="color:#989898!important;text-decoration:none!important;" target="_blank" rel="nofollow">Infogram</a></div>

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        Vậy là nguyên nhân chủ quan nhiều hơn khách quan, tai nạn từ người tỉnh táo cao hơn đến từ nồng độ cồn.
                        Hàng nghìn người vẫn chết mỗi năm vì quyết định cẩu thả của chính mình, hoặc tệ hơn, của người khác.
                    </p>
                    <p>
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/quote-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/quote-1.jpg" style="display: block;">
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/quote-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">

                    </p>
                    <!--<blockquote class="quote">
                        <p class="quote__item">
                            "Giá mà anh ta lái xe cẩn thận thì nhiều gia đình đã không có chung một ngày giỗ"
                        </p>
                        <span class="quote__author">
                            Anh Luân - hành khách xe 29B-085.82
                        </span>
                    </blockquote>-->

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>Luật Giao thông tại Việt Nam không thực sự quan trọng, trong rất nhiều tình huống.</p>
                    <p>
                        Đó là một ngày tháng 5/2016, Hùng đèo mẹ đi trên một chiếc xe máy. Một lô cốt - chướng ngại vật quen
                        thuộc trên đường phố Sài Gòn - che khuất tầm nhìn. Cậu vừa đi qua lô cốt, thì một chiếc xe hơi chạy
                        ngang hất văng cả hai mẹ con xuống đường. Mẹ Hùng ngất đi.
                    </p>
                    <p>
                        Hùng đuổi theo chiếc xe hơi, với mong muốn duy nhất trong đầu là nhờ chở mẹ mình đi cấp cứu. Nhưng chủ
                        xe nghĩ khác.
                    </p>
                    <p>
                        Chiếc xe hơi dừng lại, điều đầu tiên mà tài xế làm, là vội vàng đưa cho Hùng một tờ giấy bạc 500 nghìn
                        đồng. Một hoạt cảnh có lẽ chỉ người Việt Nam mới thấu hiểu được tường tận: sự đúng sai dựa trên luật
                        pháp hoàn toàn không quan trọng, người ta chỉ muốn thoát ra khỏi tình huống đó thật nhanh. Bằng một cử
                        chỉ hiệu quả nhất họ biết.
                    </p>
                    <p>
                        Có một vấn đề của sự hỗn loạn do ý thức con người, đó là việc rất khó điều chỉnh chúng bằng các thiết
                        chế. Hùng suy tư về điều đó. Cậu là một nhạc sĩ, được công chúng biết đến nhiều với nghệ danh Mew
                        Amazing. Năm 2016, Mew đoạt tất cả các giải Cống hiến có thể: Nhạc sĩ của năm, MV của năm và Ca khúc của
                        năm với “Thật bất ngờ” - một bài hát về các mặt trái của truyền thông. Và năm nay, cậu quyết định rằng
                        mình sẽ viết về đề tài giao thông.
                    </p>

                </div>

                <div class="c-content-inner l-outset-column">

                    <div class="img">
                        <img style="width:800px;height:500px" data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/4.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/4.jpg" >
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/4.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                    </div>

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        “Tránh ra cho bố đi” là câu hát đầu tiên xuất hiện trong đầu Mew Amazing khi nghĩ về giao thông Việt
                        Nam. Đó cũng là tên bài hát cậu đã viết. Một tuyên bố ngạo ngược, và tiêu biểu cho phương thức nhiều
                        người Việt đang đi đường.
                    </p>
                    <p>
                        Cùng chiến tuyến với Mew trong giới nghệ sĩ, còn có Thành Phong. Chàng họa sĩ 31 tuổi từ lâu nổi tiếng
                        với mảng tranh biếm mang hơi thở hiện đại. Và giao thông là một chủ đề quan trọng của anh. “Bức tranh
                        giao thông Việt Nam” dưới bút của Phong là một sự khôi hài được tạo nên bởi lối ví von cực đoan của tuổi
                        trẻ. “Còi to hay rú là thú lái xe” - một bức tranh vẽ con khỉ đột đang ngồi xe gắn máy. “Chồng lái lụa,
                        vợ góa bụa” - một bức khác mô tả số phận của một “tổ lái”.
                    </p>

                </div>

                <div class="c-content-inner l-fullwidth">
                    <div class="c-gallery is-desktop">

                        <div class="c-gallery__item" id="c-gallery__item-1">
                            <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-1.jpg" style="display: inline;">
                        </div>
                        <div class="c-gallery__item" id="c-gallery__item-2">
                            <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-2.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-2.jpg" style="display: inline;">
                        </div>
                        <div class="c-gallery__item" id="c-gallery__item-3">
                            <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-3.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-3.jpg" style="display: inline;">
                        </div>
                        <div class="c-gallery__item" id="c-gallery__item-4">
                            <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-4.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-4.jpg" style="display: inline;">
                        </div>
                        <div class="c-gallery__item" id="c-gallery__item-5">
                            <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-5.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                        </div>


                    </div>

                    <div class="swiper-container is-mobile swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transition-duration: 0ms;">

                            <div class="swiper-slide swiper-slide-active" id="c-gallery__item-1">
                                <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-1.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                            </div>
                            <div class="swiper-slide swiper-slide-next" id="c-gallery__item-2">
                                <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-2.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                            </div>
                            <div class="swiper-slide" id="c-gallery__item-3">
                                <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-3.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                            </div>
                            <div class="swiper-slide" id="c-gallery__item-4">
                                <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-4.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                            </div>
                            <div class="swiper-slide" id="c-gallery__item-5">
                                <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/galerry-5.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__responsive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>


                <div class="c-content-inner l-inset-column">

                    <p>
                        Họ gọi chiến dịch của mình là “K0 còi” - cái tên gợi về thứ phản ánh rõ nhất ý thức giam gia giao thông
                        tại Việt Nam, chiếc còi xe.
                    </p>
                    <p>
                        Tiếp nối K0 còi, K0 cồn, Thành Phong còn muốn cho nhiều người trải nghiệm thực tế giao thông Việt Nam
                        qua một trò chơi điện tử đang thiết kế. Người chơi sẽ điều khiển chiếc xe máy tránh các chướng ngại vật
                        như xe lấn làn, xe chở lợn, xe vượt phải,“Ninja”, rạp đám cưới, hoặc CSGT bất ngờ xông từ góc nào đó ra.
                        Nếu không tránh được thì “game over” và điểm ngừng chơi là chiếc giường cấp cứu của bệnh viện.
                    </p>
                    <p>
                        “Đó là các yếu tố có thật trên đường phố đô thị mà bất kỳ người tham gia giao thông Việt Nam đều đã hoặc
                        đang trải nghiệm hàng ngày”, Phong nói và hy vọng trò chơi tác động đến nhận thức của giới trẻ, bởi họ
                        chiếm số đông và bị ảnh hưởng nặng nề nhất nếu tai nạn giao thông xảy ra.
                    </p>

                </div>

                <div class="c-content-inner l-fullwidth box_video_bg o-iframe">
                    <!--Remove DIV này khi click Play Game-->
                    <div class="c-content-inner l-fullwidth o-iframe o-iframe-videobg" id="div_video">
                        <a href="javascript:;" class="play_game" onclick="opengame();"></a>
                        <video id="video_background" class="video_background" preload="auto" autoplay="true" loop="loop" muted="" volume="0">
                            <source src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/video/video-background.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div id="div_game"></div>

                    <!--Show div này khi click Play Game-->
                    <!--<div class="text-center o-iframe" id="div_game" style="display:none;">
                        <div class="game-warp">
                            <div id="gameContainer" style="width: 400px; height: 640px; margin: 0 auto;"></div>
                        </div>
                    </div>-->
                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        Những nỗ lực nâng cao ý thức của người tham gia giao thông ở Việt Nam đang được tiến hành một cách đơn
                        lẻ và khó đo lường hiệu quả trên diện rộng.
                    </p>
                    <p>
                        Một trong những nỗ lực lớn và lâu bền nhất, thuộc về Greig Craft. Người đàn ông Mỹ này đã mất hai người
                        thân trong những vụ tai nạn giao thông - và điều đó trở thành động lực khiến ông muốn tham gia vào giải
                        quyết hậu quả tai nạn giao thông tại Việt Nam.
                    </p>
                    <p>
                        Greig đã đến Việt Nam trong vai trò của một nhà đầu tư, từ những ngày trước mở cửa. Trong những năm đầu
                        của thập kỷ 90, Greig, như nhiều người Mỹ khác có mặt tại Việt Nam, tham gia vào tiến trình thúc đẩy
                        bình thường hóa. Ông từng là một người có tiền, với những ký ức về du thuyền và Ferrari.
                    </p>
                    <p>
                        Bây giờ, Greig Craft sống trong một căn hộ tại Hà Nội cùng vợ và con gái - lãnh đạo một tổ chức phi
                        chính phủ mang tên “Quỹ phòng chống thương vong châu Á”. Và nhiều người bị CSGT giữ lại hẳn sẽ khó chịu
                        với ông: đây là nhân vật đã tích cực vận động hành lang để việc đội mũ bảo hiểm bắt buộc được luật hóa -
                        một mốc quan trọng trong lịch sử giao thông đường bộ Việt Nam vào năm 2007.
                    </p>
                    <p>
                        Trên đường phố, người ta có thể dễ dàng bắt gặp những tấm áp phích mà tổ chức của Greig treo lên, thường
                        là hình ảnh đứa trẻ đầu đội mũ bảo hiểm và trên môi nở nụ cười. Chương trình “Mũ bảo hiểm cho trẻ em”
                        được cựu Tổng thống Bill Clinton phát động năm 2000 tại TP HCM, đến giờ đã trang bị gần một triệu chiếc
                        cho trẻ em Việt Nam, cũng như các chương trình giáo dục ý thức. Bản thân AIPF cũng có một nhà máy sản
                        xuất mũ bảo hiểm phi lợi nhuận.
                    </p>

                </div>

                <div class="c-content-inner l-outset-column">

                    <div class="img">
                        <img style="width:800px;height:500px" data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/5.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/5.jpg" >
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/5.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                    </div>

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        Sứ mệnh phát tán những chiếc mũ bảo hiểm của Greig không dễ dàng. Vài trăm nghìn đồng cho một chiếc đạt
                        chuẩn và như thế là quá sức chấp nhận của nhiều người tham gia giao thông, khi mà chúng được miễn cưỡng
                        đeo lên như một sự chống chế. “Ngay cả các doanh nghiệp kinh doanh vận tải bằng xe máy, dù ra sức quảng
                        bá trách nhiệm cộng đồng, cũng lờ đi việc đội mũ bảo hiểm đạt chuẩn” - Greig than phiền.
                    </p>
                    <p>
                        Viết một bài hát vui nhộn, vẽ tranh biếm và trao mũ bảo hiểm tới tay trẻ em là một vài phương cách của
                        các nhân vật “ngoài công lập” cho vấn đề ý thức giao thông ở Việt Nam. Chính phủ cũng tham gia vào sứ
                        mệnh này theo cách riêng của mình.
                    </p>
                    <p>
                        Trên các báo cáo của Bộ Giáo dục, người ta có thể bắt gặp các hoạt động sẽ phải nghỉ lấy hơi khi đọc
                        như <em>
                            “thực hiện các bài học giáo dục an toàn giao thông lồng ghép trong các tiết học chính khóa, đồng
                            thời đẩy mạnh công tác tuyên truyền phổ biến giáo dục pháp luật, trật tự an toàn giao thông trong học
                            đường cho tất cả học sinh sinh viên các bậc học nói chung và Tiểu học nói riêng, nhằm nâng cao hiểu biết
                            và ý thức của các em khi tham gia giao thông”
                        </em> hoặc các thành tích như <em>
                            “Hội giao lưu “An toàn giao thông
                            cho nụ cười trẻ thơ” năm học 2016-2017 kết thúc thành công với sự tham gia của 332 giáo viên và 614.647
                            em học sinh thuộc của 15 tỉnh, thành phố trên cả nước”
                        </em>.
                    </p>
                    <p>Phương thức "tuyên truyền" của chính phủ rất khác với cách của những nghệ sĩ hay nhà hoạt động.</p>

                </div>

                <div class="c-content-inner l-outset-column">

                    <div class="img">
                        <img style="width:800px;height:500px" data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/6.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/6.jpg" >
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/6.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                        <p class="img__caption">
                            Anh Luân - người đã mất vợ trong vụ tai nạn xe khách ngày 1/9/2014 tại Sapa, Lào Cai.
                        </p>
                    </div>

                </div>

                <div class="c-content-inner l-inset-column">

                    <!--h3>Lời xin lỗi không bao giờ tới</h3-->
                    <p>
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/title-2.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/title-2.jpg" style="display: block;">
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/title-2.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">

                    </p>
                    <p><em>Gia đình anh Luân đợi một lời xin lỗi từ người đã cướp đi mạng sống mẹ của các con mình. Nhưng nó không bao giờ tới.</em></p>
                    <p>
                        Mé trái sân ngôi nhà ba tầng của Luân ở thôn Thuận Tiến (Dương Xá, Gia Lâm, Hà Nội) là trường mầm non,
                        bi bô tiếng trẻ. Đó là cơ ngơi của vợ chồng Luân - Giang sau nhiều năm tích cóp.
                    </p>
                    <p>
                        Luân nhớ rõ những gì xảy ra của ba năm về trước. Cuộc trò chuyện cuối cùng của vợ chồng trên chuyến xe
                        tử thần là dự định mở thêm một cơ sở mầm non ở Đặng Xá, sau khi Giang hoàn thành khóa học tại chức ngành
                        sư phạm.
                    </p>
                    <p>
                        Luân buồn ngủ, vừa kéo chăn trùm kín đầu thì thấy xe lắc lư, lộn nhiều vòng, rồi anh bay ra ngoài không
                        trung… Đến giờ, bắp chân anh còn nguyên vết sẹo sau ca mổ vì giãn dây chằng, dập cơ, mất gần nửa năm mới
                        đi lại được.
                    </p>
                    <p>
                        Người phụ nữ trong nhà ra đi, cuộc đời của bốn cha con rẽ theo nhiều hướng khác. Sau vụ tai nạn, cơ sở
                        mầm non hoạt động cầm chừng, gần một nửa trẻ chuyển đi. Từ người làm nghề tự do, đỡ đần vợ những lúc cần
                        thiết, Luân phải học cách quán xuyến mọi việc. Anh đi học, lấy bằng quản lý, cố duy trì tâm huyết một
                        đời của người vợ quá cố, giữ được sĩ số ổn định gần 100 trẻ trong ba năm qua.
                    </p>
                    <p>
                        Vừa làm cha, vừa làm mẹ của ba đứa trẻ, Luân học cách tắm cho con, nói chuyện với chúng hàng ngày. Trước
                        lúc qua đời, chị Giang dự định sẽ tích cóp tiền đưa Phúc Anh đi chữa trị. Chị “lo đứng lo ngồi” khi cậu
                        con trai thứ ba gần hai tuổi được chẩn đoán mắc chứng tự kỷ. Giờ, Phúc Anh đã 5 tuổi, hàng ngày được bố
                        đưa lên tận Việt Hưng, cách nhà hơn chục cây số để học lớp dành cho trẻ em tự kỷ.
                    </p>
                    <p>
                        Ngoài sân, Trà My và Nhật Minh, hai đứa lớn nhà Luân bế hai cậu bé có vẻ ngoài giống hệt nhau. Phúc
                        Nguyên, Phúc Khánh, Phúc Đạt là những đứa trẻ sinh ba – kết quả mối nhân duyên mới của anh vào giữa năm
                        2016.
                    </p>
                    <p>Luân thừa nhận, dù anh có cố gắng nhiều ra sao, lũ trẻ vẫn cần một người mẹ...</p>

                </div>

                <div class="c-content-inner l-inset-column">

                    <div class="img">
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/7.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-desktop is-tablet" src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/7.jpg" style="display: block;">
                        <img data-original="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/_m/7.jpg" alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="lazy img__item img--responsive is-mobile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
                    </div>

                </div>

                <div class="c-content-inner l-inset-column">

                    <p>
                        Ngày 28/1/2016, tòa án nhân dân huyện Bát Xát - nơi chiếc xe khách 29B-085.82 lao xuống vực - tuyên tài
                        xế Nguyễn Hữu Thọ án 10 năm tù. Tài xế Thọ bị tuyên án theo khoản 3 điều 202 Bộ Luật hình sự về vi
                        phạm quy định về an toàn giao thông, tức là “phạm tội gây hậu quả đặc biệt nghiêm trọng”.
                    </p>
                    <p>
                        Luân có nghe về bản án. “10 năm tù, không biết nói là nặng hay nhẹ. Người mất rồi không thể sống lại
                        được”.
                    </p>
                    <p>
                        Điều mà anh lẫn gia đình thấy phiền muộn nhất, là từ khi tai nạn xảy ra không gặp được tài xế vì “nghe
                        đâu anh ta bị thương nặng”, cũng không nhận được lời xin lỗi, chia sẻ từ phía gia đình người gây tai
                        nạn.
                    </p>
                    <p>
                        Mấy năm nay, Luân vẫn quay về Lào Cai đi lễ. Qua đoạn Tòng Sành – dốc 3 tầng – nơi chiếc xe bay xuống
                        vực, anh ghé lại thắp hương cho vợ và 13 người xấu số trên chuyến xe tử thần năm ấy. Luân kể, người ta
                        lập một ban thờ nho nhỏ để người qua đường thắp hương vì tai nạn xảy ra suốt.
                    </p>
                    <p>
                        Ba tháng trước, ở nơi được gọi là cung đường chết chóc ấy, một chiếc xe khách biển Hà Nội lại lao xuống
                        vực, một người chết, 22 người bị thương.
                    </p>
                    <p>
                        Ông Tuy, bố anh vẫn nghĩ, nếu người ta có đến thì ông sẽ mời vào nhà, uống chén nước chè, nhận một lời
                        xin lỗi để những người thân trong gia đình thấy thoải mái hơn, chứ cũng không nghĩ đến việc đánh đập,
                        mắng chửi gì.
                    </p>
                    <p>Lời xin lỗi ấy, bất kỳ ai cũng có thể mang nợ sau một cú đánh lái.</p>

                </div>

            </div>
        </div>


    </div>

</div>
<br />
<br /><br />
(Nguồn: vnexpress.net)
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
