@{
    ViewBag.Title = "Giá như có ôtô để đi trong mùa đông";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 5;
    ViewBag.IsNews = 0;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2 id="title-h1">
            Giá như có ôtô để đi trong mùa đông
        </h2>
    </div>
    <div class="clear">
    </div>

    <div>
        <img src="~/Content/images/news/society_5.jpg" width="555" class="vne_lazy_image lazyloaded" alt="Giá như có ôtô để đi trong mùa đông">

        <h3 class="description">Nhìn cảnh tượng các em nhỏ tím tái ngồi sau xe máy dưới cái lạnh 7-8 độ C của miền Bắc tôi thấy xót xa.</h3>

        <article class="content_detail fck_detail width_common block_ads_connect">
            <p class="Normal">
                Nhưng tại sao chúng ta phải căng mặt, căng mình đi xe máy giữa cái thời tiết khắc nghiệt này. Nếu như ôtô trở về giá trị thật, tôi nghĩ chắc giá cũng chỉ gấp đôi cái xe máy kia thôi. Và phần lớn người dân đều có một chiếc ôtô để che mưa che, tránh rét giúp ngày đông thêm ấm áp.
            </p><p class="Normal">
                Giá như có cái ôtô sẽ giảm bớt được tai nạn giao thông thương tâm, nhất là với phụ nữ và trẻ em - tương lai của đất nước.&nbsp;<span>Giá như có cái ôtô, sẽ không còn nhìn thấy cảnh tượng người mẹ đèo 2-3 con trời mưa, nắng, rét giữa đường đầy nguy hiểm và ô nhiễm.</span>
            </p><p class="Normal">
                Giá như có cái ôtô sẽ không còn cảnh tượng&nbsp;ngày lễ, ngày nghỉ chen nhau trên xe đò về quê (như xe chở lợn).&nbsp;<span>Toàn dân sở hữu ôtô thì mọi người sẽ có ý thức hơn khi tham gia giao thông, người dân có thể sống ở ngoại ô nhiều hơn và sẽ không còn cảnh tắc đường nghiêm trọng như Hà Nội và TP HCM.</span>
            </p><p class="Normal">
                Đi ôtô người dân sẽ văn minh hơn, sẽ không còn cảnh chợ cóc, chợ tạm, đường phố sẽ thông thoáng, người dân sẽ tập thói quen mua sắm, ăn chơi ở nhưng trung tâm thương mại, nhưng khu vực có chỗ đỗ xe đoàng hoàng. Từ đây, cuộc sống của người dân sẽ được cải thiệt cả về chất và lượng.
            </p>
            <img src="~/Content/images/news/society_5_2.jpg" width="555"/>
            <br /><br /><br />
            <p class="Normal">
                Bất giác tôi thầm mong mọi giá như trở thành hiện thực.
            </p>
        </article>

    </div>

</div>

<div style="margin-top:800px" >(Nguồn: vnexpress.net)</div>
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
