@{
    ViewBag.Title = "Giao thông tồi tệ ở cổng trường học - người Việt muốn dạy gì cho con trẻ?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 2;
    ViewBag.IsNews = 0;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2 id="title-h1">
            Giao thông tồi tệ ở cổng trường học - người Việt muốn dạy gì cho con trẻ?
        </h2>
    </div>
    <div class="clear">
    </div>

    <div id="content-id">
        <div class="clear">
        </div>
        <h3 class="description">Một trong những nơi hỗn loạn kém ý thức nhất sau bến xe có lẽ là cổng trường học.&nbsp;</h3>
        <article class="content_detail fck_detail width_common block_ads_connect">
            <p class="Normal">
                Chúng ta thường xuyên than trách về điều kiện giao thông kém, cơ sở hạ tầng không hiện đại, các cơ quan ban ngành thờ ơ trước vấn nạn ùn tắc. Nhưng, hãy hỏi bản thân mình đi! Đã hơn mấy lần chúng ta biết hổ thẹn khi vô thức nhấn còi? Bật đèn pha trong nội đô hoặc khi có xe đi ngược chiều? Vượt đèn đỏ, hoặc nhấn ga khi còn một giây đèn xanh? Nhiều lắm! Chắc chắn ai cũng thừa nhận con đường không có lỗi, cái đèn không có lỗi... cái lỗi 99% là do chúng ta ý thức kém mà thôi.
            </p><p class="Normal">
                Ai đó từng nói: “Cách bạn tham gia giao thông, là cách bạn cho mọi người biết mình là ai, và muốn biết văn hoá của một đất nước hãy nhìn cách họ tham gia giao thông”.
            </p><table class="tplCaption" cellspacing="0" cellpadding="3" border="0" align="center" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="giao-thong-toi-te-o-cong-truong-hoc-nguoi-viet-muon-day-gi-cho-con-tre" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2017/10/10/12345-1359-1507607765.jpg" class="lazyInitial lazyLoaded" data-was-processed="true" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>                            
                            <p style="font-style:italic">
                                Tôi thấy nhiều người nói mua xe hơi chở con đi học cho an toàn vậy mà lại thả con ngay giữa đường.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                <span>Một trong những nơi hỗn loạn kém ý thức nhất sau bến xe có lẽ là trường học.&nbsp;</span><span>Ngà</span><span>y&nbsp;</span><span>nào đưa con đi học tôi cũng chứng kiến cảnh đa số các bậc cha mẹ dừng đỗ tuỳ tiện, thả con xuống lòng đường rồi hấp tấp chen lấn lao đi vội vã, không màng đến hàng trăm phương tiện có thể vô tình nguy hiểm đến con trẻ.&nbsp;</span>
            </p><p class="Normal">
                <span>Tôi thấy nhiều người nói mua xe hơi chở con đi học cho an toàn vậy mà lại thả con ngay giữa đường tự mình vượt nguy hiểm len lỏi qua hàng hàng ôtô xe máy để bước được vào cổng trường. Và vô tình trước khi học được gì đó tốt đẹp ở trường thì đã tiếp tay cho việc vô ý thức của người lớn.&nbsp;</span>
            </p><table class="tplCaption" cellspacing="0" cellpadding="3" border="0" align="center" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="giao-thong-toi-te-o-cong-truong-hoc-nguoi-viet-muon-day-gi-cho-con-tre-1" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2017/10/10/123-7817-1507607765.jpg" class="lazyInitial lazyLoaded" data-was-processed="true" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-style:italic">
                                Một trong những nơi hỗn loạn kém ý thức nhất sau bến xe có lẽ là trường học.&nbsp;
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Còn một thực tế nữa là điều này vô thức gây ùn tắc cả một đoạn đường dài. Nếu có bị nhắc nhở thì họ quắc mắt, buông lời bỗ bã, vì người như họ thì đương nhiên là chỉ biết bản thân mình và đổ lỗi cho ngoại cảnh.
            </p><p class="Normal">
                <span>Hãy hành động đúng để con mình làm đúng.</span><span>&nbsp;Đừng đòi hỏi phiên bản hoàn hảo khi cái khuôn mục ruỗng, tồi tàn.</span><span>&nbsp;Lý do chỉ là bao biện.</span>
            </p><p class="Normal">
                <span>Cái thói ích kỷ, tuỳ tiện, than trách nó lớn dần như khối ung thư mang tên “Ung thư văn hoá” đang tàn phá cái “thể trạng giao thông” này.</span>
            </p><p style="color:blue">
                Đừng mong con mình giỏi khi mà cha mẹ chúng vô ý thức, trẻ con là “Quả”, cha mẹ gieo “Nhân”. Nhân sao quả vậy. Một cái khuôn ọp ẹp sẽ đúc ra những viên gạch cong.            
            </p>
        </article>
    </div>

</div>
<br />
<br /><br />
<br />
<br /><br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
(Nguồn: vnexpress.net)
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
