@{
    ViewBag.Title = "Xử lý thế nào để thoát khỏi ô tô chìm dưới nước?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NewsId = 3;
    ViewBag.IsNews = 0;
}

@{ Html.RenderPartial("~/Views/Shared/VisistNews.cshtml"); }  

<div class="news-details" style="margin-left:10px">

    <div class="title_news">
        <h2 id="title-h1">
            Xử lý thế nào để thoát khỏi ô tô chìm dưới nước?
        </h2>
    </div>
    <div class="clear">
    </div>

    <div id="content-id">
        <img width="650" height="365" border="0" src="https://autopro56.mediacdn.vn/zoom/650_365/2017/photo1513424114428-1513424114428.jpg" alt="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước?" title="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước?" class="avatar-detail">
        <div class="sapo-news-detail">

            <h3>
                Trường hợp tai nạn xảy ra ở gần sông, hồ, xe rất có thể bị rơi xuống nước. Nếu không biết cách thoát nạn, tài xế rất dễ hoảng loạn và không thể ra khỏi xe.
            </h3>
        </div>
        <div class="clear">
        </div>
        <div data-check-position="autopro_detail_position_start"></div>
        <div class="content-news-detail">
            <p><span style="">Tại Việt Nam, những vụ tai nạn ô tô rơi xuống nước mà tài xế không thoát được ra không phải hiếm. Vào tháng 8/2016, tại Lạng Sơn đã từng có vụ việc một chiếc Toyota Vios taxi rơi xuống hồ nước khiến 4 người chết thảm. Gần đây nhất, một chiếc Hyundai Accent mất lái lao xuống sông tại Hải Dương cũng khiến tài xế tử vong trong xe.</span><br></p><p>Khi chiếc ô tô rơi xuống sông, hồ và dần chìm, người trong xe sẽ trong trạng thái hoảng loạn và không biết xử lý như thế nào. Cửa xe không thể mở do áp lực nước, hệ thống điện lại hỏng, kính không thể đập vỡ là những tình huống sẽ gặp khi chiếc ô tô đang ngập trong nước. </p><p>Để có cơ hội thoát ra khỏi trường hợp như vậy, mọi người cần nắm được những quy tắc cơ bản để xử lý khi rủi ro xảy ra. </p><p><b>Bước 1: Giữ tư thế chuẩn khi tai nạn xảy ra </b></p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/volang-1513424095120.jpg" id="img_28379bc0-e255-11e7-9605-c1ef24268eb2" w="1000" h="560" alt="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 1." title="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 1." rel="lightbox" photoid="28379bc0-e255-11e7-9605-c1ef24268eb2" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/volang-1513424095120.jpg" width="" height=""></div><div class="PhotoCMS_Caption" style="width: 620px; margin: auto;"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p>Ngay khi nhận ra chiếc xe có nguy cơ lao xuống sông, hồ, thao tác đầu tiên mà tài xế phải thực hiện là giữ ổn định tư thế. Đặt tay trên vô-lăng ở vị trí 9 giờ và 3 giờ, đề phòng khi túi khí bung. Nếu để tay ở 10 giờ và 2 giờ, túi khí có thể đẩy tay về phía mặt, gây chấn thương. Thời gian bung túi khí chỉ khoảng 0,04 giây nên cần phải thực hiện nhanh nhất có thể. </p><p><b>Bước 2: Tháo dây an toàn </b></p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/day-an-toan-m-crop-1513424190454.jpg" id="img_5d182350-e255-11e7-8ea8-0bf670da1467" w="1024" h="566" alt="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 2." title="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 2." rel="lightbox" photoid="5d182350-e255-11e7-8ea8-0bf670da1467" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/day-an-toan-m-crop-1513424190454.jpg" width="" height=""></div><div class="PhotoCMS_Caption" style="width: 620px; margin: auto;"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p>Nhanh chóng tháo dây an toàn khi xe rơi xuống nước. Dây an toàn rất hữu ích, không chỉ trong va chạm thông thường mà đặc biệt ở tình huống xe lật úp. Tư thế người ngồi sẽ không bị xáo trộn, giảm thiểu va đập bên trong cabin. </p><p><b>Bước 3: Mở kính xe </b></p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/fix-a-broken-electric-car-window-step-11-crop-1513424215869.jpg" id="img_6cc11460-e255-11e7-aad6-b357a4250db9" w="2000" h="1136" alt="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 3." title="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 3." rel="lightbox" photoid="6cc11460-e255-11e7-aad6-b357a4250db9" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/fix-a-broken-electric-car-window-step-11-crop-1513424215869.jpg" width="" height=""></div><div class="PhotoCMS_Caption" style="width: 620px; margin: auto;"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p>Theo nghiên cứu của giáo sư Gordon Giesbrecht chuyên về lĩnh vực chìm nước, hệ thống điện của ô tô chỉ hoạt động được tối đa tới 3 phút sau khi xe bị ngập hẳn xuống nước. Do đó, cần phải mở cửa kính càng nhanh càng tốt để thoát ra ngoài. Cửa xe sẽ không thể mở do áp lực từ nước ép vào. </p><p>Khảo sát với 30 chiếc xe trong thí nghiệm, thời gian chiếc ô tô từ lúc rơi xuống đến khi chìm hẳn dưới nước rơi vào khoảng 30 giây đến 2 phút, tuỳ tình huống. </p><p><b>Bước 3 - 2: Phá kính xe </b></p><div class="VCSortableInPreviewMode noCaption" type="Photo" style=""><div><img src="https://autopro56.mediacdn.vn/thumb_w/640/2017/pha-kinh-crop-1513424248060.jpg" id="img_7f4fc040-e255-11e7-8ea8-0bf670da1467" w="1280" h="802" alt="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 4." title="Xử lý thế nào để thoát khỏi ô tô chìm dưới nước? - Ảnh 4." rel="lightbox" photoid="7f4fc040-e255-11e7-8ea8-0bf670da1467" type="photo" style="max-width:100%;" data-original="https://autopro56.mediacdn.vn/2017/pha-kinh-crop-1513424248060.jpg" width="" height=""></div><div class="PhotoCMS_Caption" style="width: 620px; margin: auto;"><p data-placeholder="[nhập chú thích]" class="NLPlaceholderShow"></p></div></div><p>Nếu xử lý chậm, hệ thống điện trên xe đã ngắt, phương án cuối cùng là phải phá kính. Luôn luôn chuẩn bị búa phá kính ở trong xe. Trong trường hợp không có búa, tận dụng các vật cứng và nhọn để đập kính. Lưu ý, không phá kính chắn gió trước bởi vị trí kính này không thể phá vỡ được bằng tác động thông thường. </p><div id="admzone480456"></div><p><b>Bước 4: Chui nhanh ra khỏi xe </b></p><p>Hít một hơi thật sâu và thoát ra ngoài qua phần kính vỡ. Nước sẽ tràn vào mạnh nên cần phải dùng hết sức để đẩy người ra ngoài. Nếu còn người khác trong xe, chỉ dùng tay đẩy vào thành cửa để ra ngoài bởi nếu đạp chân có thể va vào người phía sau. Chỉ mất khoảng 1-2 phút để nước ngập kín cabin sau khi phá kính. </p><p>Một khi đã thoát ra khỏi xe, bơi nhanh lên bờ và gọi điện cho cấp cứu ngay lập tức. Lượng adrenaline trong máu tăng cao sẽ khiến người gặp nạn khó phát hiện ra thương tích trên người. </p><p></p><div class="VCSortableInPreviewMode link-content-footer IMSCurrentEditorEditObject" type="link"></div>
        </div>
        <div data-check-position="autopro_detail_position_end"></div>
    </div>

</div>
<br />
<br /><br />
<br />
<br /><br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
(Nguồn: autopro.com.vn)
@section Scripts{
    <script>
        //$("#div-right").hide();
        //handler.expandDivCenter();
    </script>
}
