
<div style="padding-left:20px;line-height:18px;color:#555;">
    <b>Công ty TNHH Dịch vụ Thái Dương</b><br><br />
    <b>Địa chỉ văn phòng làm việc:</b>&nbsp; 1/9 ĐHT11, Phuờng Đông Hưng Thuận, Quận 12, Tp.HCM<br>
    <b>Điện thoại:</b>&nbsp;0909 685 024<br>
    <b>Email:</b>&nbsp;thaiwhere@gmail.com        
    <hr />
</div>    
