
<div style="padding-left: 20px; line-height: 18px; color: #1260ab;">
    <hr />
    <b>XEGIADINHVIET.COM</b><br><br />
    <b>Địa chỉ văn phòng làm việc:</b>&nbsp; 1/9 ĐHT11, Phuờng Đông Hưng Thuận, Quận 12, Tp.HCM<br>
    <b>Điện thoại:</b>&nbsp;0909685024<br>
    <b>Email:</b>&nbsp;xegiadinhviet@gmail.com        
    <hr />
</div>    
