@{
    ViewBag.Title = "Contact";
}

<h2>Liên hệ</h2>



<div id="div_contact">
    <div style="padding-left:20px;line-height:18px;color:#555;">
        Công ty TNHH Oto Thái Dương Việt Nam<br>
        Địa chỉ văn phòng làm việc: 1/9 ĐHT11, Quận 12, Tp.HCM<br>
        Điện thoại: 0909 685 024<br>
        Email:thaiwhere@gmail.com
        @*<script>document.write("con" & "tact@" & "bon" & "banh.com");</script>contact@bonbanh.com<br>*@
    </div>

    <div style="padding:20px;color:red;font-size:14px">Chú ý: không đăng tin bán xe / mua xe tại đây !</div>

    <div class="" id="div_contact_info">

        <div class="bbforminput" id="fullname_parent">
            <div class="Account">
                <label for="fullname">
                    <span class="cRed f11" title="required">*</span>&nbsp;
                    Tên đầy đủ:
                </label>
            </div>

            <div class="clear">
            </div>
            <div class="bbMsg bbMsgErr" id="fullname_error" style="display: none; left: 540.125px; top: 362.909px;">Tên đầy đủ phải từ 5-50 ký tự.</div>
        </div>
        <div class="clear">
        </div>


        <div id="mail_parent" class="bbforminput">
            <div class="Account">
                <label for="mail">
                    <span title="required" class="cRed f11">*</span>&nbsp;
                    Email:
                </label>
            </div>
            <div class="bbformfield">
                <span class="inp">
                    <input maxlength="50" size="18" onkeypress="EmailValid=-1" value="" name="mail" id="mail" class="widthIn" style="background-color: rgb(255, 255, 160);">
                </span>
            </div>
            <div class="clear">
            </div>
            <div style="display: none; left: 460.125px; top: 393.818px;" id="mail_error" class="bbMsg bbMsgErr">
                <p>
                    &nbsp;
                </p>
            </div>
        </div>

        <div id="phone_parent" class="bbforminput">
            <div class="Account">
                <label for="phone">
                    <span title="required" class="cRed f11">*</span>
                    Số điện thoại:
                </label>
            </div>
            <div class="bbformfield">
                <span class="inp">
                    <input maxlength="12" size="18" value="" name="phone" id="phone" class="widthIn" style="width:100px;">
                </span>
            </div>
            <div class="clear">
            </div>
            <div style="display: none; left: 400.125px; top: 424.727px;" id="phone_error" class="bbMsg bbMsgErr">
                <p>
                    &nbsp;
                </p>
            </div>
        </div>
        <div id="address_parent" class="bbforminput">
            <div class="Account">
                <label for="address">
                    <span title="required" class="cRed f11">*</span>&nbsp;
                    Địa chỉ:
                </label>
            </div>
            <div class="bbformfield">
                <span class="inp">
                    <input onkeyup="telexingVietUC(this,event)" maxlength="50" size="18" value="" name="address" id="address" class="widthIn" style="width:350px;">
                </span>
            </div>
            <div class="clear">
            </div>
            <div style="display: none; left: 650.125px; top: 455.636px;" id="address_error" class="bbMsg bbMsgErr">
                <p>
                    &nbsp;
                </p>
            </div>
        </div>
        <div id="message_parent" class="bbforminput">
            <div class="Account">
                <label for="message">
                    <span title="required" class="cRed f11">*</span>&nbsp;
                    Nội dung:
                </label>
            </div>
            <div class="bbformfield">
                <span class="inp">
                    <textarea onkeyup="telexingVietUC(this,event)" name="message" id="message" rows="8" cols="20" style="width:350px;"></textarea>

                </span>
            </div>
            <div class="clear">
            </div>
            <div style="display: none; left: 650.125px; top: 486.545px;" id="message_error" class="bbMsg bbMsgErr">Nội dung tin nhắn phải từ 30-300 ký tự</div>
        </div>
        <div id="secure_code_parent" class="bbforminput">
            <div class="Account">
                <label for="secure_code">

                    Mã số bảo vệ:
                </label>
            </div>
            <div class="bbformfield">
                <span class="inp">
                    <input maxlength="5" size="8" value="" name="secure_code" id="secure_code" class="widthIn" style="width:100px;"><img src="image.php?type=contact" border="0" id="image_code" style="position:relative;top:10px;left:5px"><span id="secure_code_ref">&nbsp;</span>
                </span>
            </div>
            <div class="clear">
            </div>
            <div style="display: none; left: 481.943px; top: 620.182px;" id="secure_code_error" class="bbMsg bbMsgErr">
                <p>
                    &nbsp;
                </p>
            </div>
        </div>
    </div>
    <div id="regAccount2">
    </div>
    <div id="regTerms">
        <p>
            <label for="term">
                Thông tin gửi cho bonbanh.com cần nhập đầy đủ và phải là nội dung tiếng Việt có dấu.
            </label>
        </p>
        <input name="btn_Submit" id="btn_Submit" src="img/send.jpg" onclick="return SubOne_Submit();" style="border-width: 0px;" type="image">
    </div>
    <div class="bbMsg" id="linlin" style="display: none; left: 541.034px; top: 365.81px;"><p>- Hãy nhập họ tên của bạn.<br>- Lưu ý : bạn nên nhập tiếng Việt có dấu</p></div>
    <br>
    <script type="text/javascript" src="js/Tooltrip.js"></script>

    <script type="text/javascript" src="js/contact_join.js"></script>

    <script type="text/javascript">



        function SubOne_Submit() {
            var itemObj = null;
            var isOK = true;



            if (Tooltip && Tooltip.ToolList) {
                for (var item in Tooltip.ToolList) {
                    itemObj = Tooltip.ToolList[item]
                    itemObj.Valid("OnSub");
                    if (itemObj.State == ErrorState.Error) {
                        isOK = false;
                    }

                }
            }
            if (isOK) $("#btn_Submit").attr("disabled", true);
            return isOK;
        }

    </script>

</div>

