@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liên hệ";
}

<h2 class="title">&nbsp;&nbsp;@ViewBag.Title</h2>


@section Styles{
        
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />    
}

@Html.AntiForgeryToken()


    @{ Html.RenderPartial("~/Views/Home/Company.cshtml", null); }
    
        <form id="contactForm" class="form-horizontal bv-form" method="post" action="" novalidate="novalidate">
            <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <div style="padding:20px;color:red;font-size:14px">Chú ý: không đăng tin bán xe / mua xe tại đây !</div>
            <fieldset class="col-sm-12">

                <div class="form-group">
                    <label for="Name" class="col-sm-3 control-label">Họ và tên</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="text" id="Name" name="Name" class="form-control" placeholder="* Nhập Họ và tên" data-bv-field="Name">
                        </div>
                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="Name" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Họ và tên</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="email" id="Email" name="Email" class="form-control" placeholder="* Nhập Email" data-bv-field="Email">
                        </div>
                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="Email" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Email</small>
                        <small class="help-block" data-bv-validator="emailAddress" data-bv-for="Email" data-bv-result="NOT_VALIDATED" style="display: none;">Email không hợp lệ</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Phone" class="col-sm-3 control-label">Số điện thoại </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                            <input type="text" id="Phone" name="Phone" class="form-control" placeholder="Nhập số điện thoại">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Message" class="col-sm-3 control-label">Nội dung</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-comment fa-fw"></i></span>
                            <textarea id="Message" name="Message" class="form-control" rows="7" placeholder="* Nhập Nội dung" data-bv-field="Message"></textarea>
                        </div>
                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="Message" data-bv-result=" not_validated" style="display: none;">Vui lòng nhập nội dung cần liên hệ </small>
                    </div>
                </div>               

                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8">
                        <small id="status" class="help-block" style="color: red; display: none;"></small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5" align="left">
                        <button type="submit" id="sendEmail" class="btn btn-primary btn-lg">Gửi</button>
                    </div>
                </div>

            </fieldset>
        </form>
        <div id="status" style="margin-left:18px; color:blue"></div>

@section Scripts{

<script async="" src="~/Content/scripts/recaptcha/recaptcha__en.js"></script>
<script src="~/Content/scripts/lib/bootstrapValidator.min.js"></script>
<script src="~/Content/scripts/recaptcha/api.js"></script>    

<script src="~/Content/scripts/Contact.js"></script>

<script>
    
    handler.showResultSearching();
</script>
}
