@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Miễn phí";
}

@section Styles{

    <link href="~/Content/css/ajax/ajax-loader.css" rel="stylesheet" />   

}

<div class="ajax-loader">
    <img src="~/Content/images/common/ajax-loader.gif" class="img-responsive" />
</div>

<div id="div-car-list" class="car_list_box">

    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml", new Car.Model.Entity.CarDetailModel()); }

    <div class="grid-container">
        <div id="gridSearchingCar" class="freegrid"></div>
    </div>

</div>

@section Scripts
{
    <script src="~/Content/scripts/Index.js"></script>

    <script src="~/Content/scripts/SearchingCar.js"></script>

    <script>
        $("#div_searching_tab_car_detail").hide();
        handler.showHomePage();

        var searchingUrl = "/Car/SearchingCarsForYou";

        var criteria = {
            ItemsPerPage: ItemsPerPage,
            CurrentPageIndex: 0        
        };

        var SearchingCar = new Car.SearchingCar();
        SearchingCar.Searching(searchingUrl, criteria);

    </script>

}
