@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

<div id="div-car-list" class="car_list_box">

    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml"); }

    <div class="grid-container">
        <div id="gridSearchingCar" class="freegrid"></div>
    </div>

</div>

@section Scripts
{
    <script src="~/Content/scripts/Index.js"></script>

    <script src="~/Content/scripts/SearchingCar.js"></script>

    <script>
        
        handler.showHomePage();

        var searchingUrl = "/Car/SearchingCarsForYou";

        var criteria = {
            itemsPerPage: itemsPerPage,
            currentPageIndex: 0        
        };

        SearchingCar.Searching(searchingUrl, criteria);

    </script>

}
