@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

   
  <div id="car-list-name">
    <div class="photo">

        <img title="Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr" width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/11/03/20151103135815-4876_wm.jpg" alt="Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr">
    </div>
    <div class="info">
        <h3>
            <a class="opensanslistauto" title="Cần b&#225;n xe Kia Morning Van đời 2015, m&#224;u trắng, nhập khẩu, 336tr" href="xe-kia-morning-ha-noi/can-ban-xe--van-doi-2015-mau-trang-nhap-khau-336tr-aid607238.html">Cần b&#225;n xe Kia Morning Van đời 2015, m&#224;u trắng, nhập khẩu, 336tr</a>
        </h3>
        <div class="date">
            21/12/2015
        </div>
        <div class="detail">
            <div class="left">
                <div class="rowitem lienhe">
                    <label class="name">Tình trạng</label>
                    <span class="content">: &nbsp;Mới</span>
                </div>
                <div class="rowitem">
                    <label class="name">Xuất xứ</label>
                    <span class="content">: &nbsp;Nhập khẩu</span>
                </div>
                <div class="rowitem">
                </div>
                <div class="rowitem">
                    <label class="name">Hộp số</label>
                    <span class="content">: &nbsp;Số tự động</span>
                </div>
            </div>
            <div class="right">
                <div class="contact">
                    <div class="price">336 triệu</div>
                    <div class="location"><a href="xe-kia-morning-ha-noi.html">Hà Nội</a></div>
                    <div class="luuxe" id="607238" onclick="productSaved(this,'607238');">Lưu xe |</div>
                    <div class="sosanh" data-id="607238" onclick="AutoCompared(this,'607238');">So sánh</div>
                </div>
                <div class="fullname">Car Center</div>
                <div class="phone">0962345658</div>
                <div class="saled">

                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>
<div class="sellcar-item vippro">
    <div class="photo">
        <a href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">
            <img title="Bán xe Toyota Vios 1.5G đời cuối 2006" width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/12/13/20151213140737-208d_wm.jpg" alt="Bán xe Toyota Vios 1.5G đời cuối 2006">
        </a>
    </div>
    <div class="info">
        <h3><a class="opensanslistauto" title="B&#225;n xe Mercedes Benz GL350 Bluetec" href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">B&#225;n xe Mercedes Benz GL350 Bluetec</a></h3>
        <div class="date">
            21/12/2015
        </div>
        <div class="detail">
            <div class="left">
                <div class="rowitem lienhe">
                    <label class="name">Tình trạng</label>
                    <span class="content">: &nbsp;Cũ</span>
                </div>
                <div class="rowitem">
                    <label class="name">Xuất xứ</label>
                    <span class="content">: &nbsp;Nhập khẩu</span>
                </div>
                <div class="rowitem">
                    <label class="name">Km</label>
                    <span class="content">: &nbsp;10.000 km</span>
                </div>
                <div class="rowitem">
                    <label class="name">Hộp số</label>
                    <span class="content">: &nbsp;Số tự động</span>
                </div>
            </div>
            <div class="right">
                <div class="contact lienhe">
                    <div class="price">2 tỉ 176 tr</div>
                    <div class="location"><a href="xe-mercedes-benz-gl350-ha-noi.html">Hà Nội</a></div>

                    <div class="luuxe" id="604458" onclick="productSaved(this,'604458');">Lưu xe |</div>
                    <div class="sosanh" data-id="604458" onclick="AutoCompared(this,'604458');">So sánh</div>
                </div>
                <div class="fullname">Car Center</div>
                <div class="phone">0962345658</div>
                <div class="saled">

                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>

<div class="sellcar-item vippro">
    <div class="photo">
        <a href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">
            <img title="Cần bán xe Mercedes C180 đời 2002, màu đen chính chủ" width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/12/23/20151223134326-1d34_wm.jpg" alt="Cần bán xe Mercedes C180 đời 2002, màu đen chính chủ">        </a>
    </div>
    <div class="info">
        <h3><a class="opensanslistauto" title="B&#225;n xe Mercedes Benz GL350 Bluetec" href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">B&#225;n xe Mercedes Benz GL350 Bluetec</a></h3>
        <div class="date">
            21/12/2015
        </div>
        <div class="detail">
            <div class="left">
                <div class="rowitem lienhe">
                    <label class="name">Tình trạng</label>
                    <span class="content">: &nbsp;Cũ</span>
                </div>
                <div class="rowitem">
                    <label class="name">Xuất xứ</label>
                    <span class="content">: &nbsp;Nhập khẩu</span>
                </div>
                <div class="rowitem">
                    <label class="name">Km</label>
                    <span class="content">: &nbsp;10.000 km</span>
                </div>
                <div class="rowitem">
                    <label class="name">Hộp số</label>
                    <span class="content">: &nbsp;Số tự động</span>
                </div>
            </div>
            <div class="right">
                <div class="contact lienhe">
                    <div class="price">2 tỉ 176 tr</div>
                    <div class="location"><a href="xe-mercedes-benz-gl350-ha-noi.html">Hà Nội</a></div>

                    <div class="luuxe" id="604458" onclick="productSaved(this,'604458');">Lưu xe |</div>
                    <div class="sosanh" data-id="604458" onclick="AutoCompared(this,'604458');">So sánh</div>
                </div>
                <div class="fullname">Car Center</div>
                <div class="phone">0962345658</div>
                <div class="saled">

                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>

  </div>
   
<div class="sellcar-item vippro">
    <div class="photo">
        <a href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">
            <img title="Bán xe Chevrolet Aveo đời 2013, màu bac, giá rẻ 340 triệu" width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/10/22/20151022091406-8bd4_wm.jpg" alt="Bán xe Chevrolet Aveo đời 2013, màu bac, giá rẻ 340 triệu">
        </a>
    </div>
    <div class="info">
        <h3><a class="opensanslistauto" title="B&#225;n xe Mercedes Benz GL350 Bluetec" href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">B&#225;n xe Mercedes Benz GL350 Bluetec</a></h3>
        <div class="date">
            21/12/2015
        </div>
        <div class="detail">
            <div class="left">
                <div class="rowitem lienhe">
                    <label class="name">Tình trạng</label>
                    <span class="content">: &nbsp;Cũ</span>
                </div>
                <div class="rowitem">
                    <label class="name">Xuất xứ</label>
                    <span class="content">: &nbsp;Nhập khẩu</span>
                </div>
                <div class="rowitem">
                    <label class="name">Km</label>
                    <span class="content">: &nbsp;10.000 km</span>
                </div>
                <div class="rowitem">
                    <label class="name">Hộp số</label>
                    <span class="content">: &nbsp;Số tự động</span>
                </div>
            </div>
            <div class="right">
                <div class="contact lienhe">
                    <div class="price">2 tỉ 176 tr</div>
                    <div class="location"><a href="xe-mercedes-benz-gl350-ha-noi.html">Hà Nội</a></div>

                    <div class="luuxe" id="604458" onclick="productSaved(this,'604458');">Lưu xe |</div>
                    <div class="sosanh" data-id="604458" onclick="AutoCompared(this,'604458');">So sánh</div>
                </div>
                <div class="fullname">Car Center</div>
                <div class="phone">0962345658</div>
                <div class="saled">

                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>

<div class="sellcar-item vippro">
    <div class="photo">
        <a href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">
            <img title="Xe Toyota Vios G đời 2005 xe gia đình cần bán" width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/12/23/e46cdbfb7f73ccbff5be2600x800-82f7.jpg" alt="Xe Toyota Vios G đời 2005 xe gia đình cần bán">       </a>
    </div>
    <div class="info">
        <h3><a class="opensanslistauto" title="B&#225;n xe Mercedes Benz GL350 Bluetec" href="xe-mercedes-benz-gl350-ha-noi/ban-xe--bluetec-aid604458.html">B&#225;n xe Mercedes Benz GL350 Bluetec</a></h3>
        <div class="date">
            21/12/2015
        </div>
        <div class="detail">
            <div class="left">
                <div class="rowitem lienhe">
                    <label class="name">Tình trạng</label>
                    <span class="content">: &nbsp;Cũ</span>
                </div>
                <div class="rowitem">
                    <label class="name">Xuất xứ</label>
                    <span class="content">: &nbsp;Nhập khẩu</span>
                </div>
                <div class="rowitem">
                    <label class="name">Km</label>
                    <span class="content">: &nbsp;10.000 km</span>
                </div>
                <div class="rowitem">
                    <label class="name">Hộp số</label>
                    <span class="content">: &nbsp;Số tự động</span>
                </div>
            </div>
            <div class="right">
                <div class="contact lienhe">
                    <div class="price">2 tỉ 176 tr</div>
                    <div class="location"><a href="xe-mercedes-benz-gl350-ha-noi.html">Hà Nội</a></div>

                    <div class="luuxe" id="604458" onclick="productSaved(this,'604458');">Lưu xe |</div>
                    <div class="sosanh" data-id="604458" onclick="AutoCompared(this,'604458');">So sánh</div>
                </div>
                <div class="fullname">Car Center</div>
                <div class="phone">0962345658</div>
                <div class="saled">

                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>

    @section Scripts
{

    }
