@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

   
<link href="~/Content/Css/base/index2.css" rel="stylesheet" />

<div class="sellcar-item vippro">
    <div class="photo">

        <img title="Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr" width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/11/03/20151103135815-4876_wm.jpg" alt="Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr">
    </div>
    <div class="info">
        <h3>
            <a class="opensanslistauto" title="Cần b&#225;n xe Kia Morning Van đời 2015, m&#224;u trắng, nhập khẩu, 336tr" href="xe-kia-morning-ha-noi/can-ban-xe--van-doi-2015-mau-trang-nhap-khau-336tr-aid607238.html">Cần b&#225;n xe Kia Morning Van đời 2015, m&#224;u trắng, nhập khẩu, 336tr</a>
        </h3>
        <div class="date">
            21/12/2015
        </div>
        <div class="detail">
            <div class="left">
                <div class="rowitem lienhe">
                    <label class="name">Tình trạng</label>
                    <span class="content">: &nbsp;Mới</span>
                </div>
                <div class="rowitem lienhe">
                    <label class="name">Xuất xứ</label>
                    <span class="content">: &nbsp;Nhập khẩu</span>
                </div>
                <div class="rowitem lienhe">
                </div>
                <div class="rowitem lienhe">
                    <label class="name">Hộp số</label>
                    <span class="content">: &nbsp;Số tự động</span>
                </div>
            </div>
            <div class="right">
                <div class="contact">
                    <div class="price">336 triệu</div>
                    <div class="location"><a href="xe-kia-morning-ha-noi.html">Hà Nội</a></div>
                    <div class="luuxe" id="607238" onclick="productSaved(this,'607238');">Lưu xe |</div>
                    <div class="sosanh" data-id="607238" onclick="AutoCompared(this,'607238');">So sánh</div>
                </div>
                <div class="fullname">Car Center</div>
                <div class="phone">0962345658</div>
                <div class="saled">

                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>


    @section Scripts
{

    }
