@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

<div  class="sellcar-item">
    <div class="photo">
        <a href="/xe-daewoo-gentra-binh-dinh/ban-xe--vip-2011-mau-trang-chinh-chu-320tr-aid402048">
            <img title="Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr" width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/11/03/20151103135815-4876_wm.jpg" alt="Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr">
        </a>
    </div>
     <div class="info1">
         
             <a class="open" title="Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr" href="/xe-daewoo-gentra-binh-dinh/ban-xe--vip-2011-mau-trang-chinh-chu-320tr-aid402048">Bán xe Daewoo Gentra vip 2011, màu trắng chính chủ, 320Tr</a>
             <div class="date1">
                 18/12/2015
             </div>
            <div class="detail">
                <div class="left">
                    <div class="rowitem lienhe">

                    </div>
                </div>
            </div>
         
    </div>
    
</div>



    @section Scripts
{

    }
