@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
<link href="~/Content/Css/base/index2.css" rel="stylesheet" />

<div class="sellcar-item1">
    <div class="photo">
        <a href="/xe-daewoo-lacetti-ha-noi/ban-xe--dang-ky-2009-tu-nhan-mau-den-con-moi-318-trieu-aid630947"><img title="Bán Xe Daewoo Lacetti đăng ký 2009 tư nhân, màu đen còn mới, 318 triệu " width="140" height="104" src="http://img1.banxehoi.com/crop/140x104/2015/12/27/20151227214928-b769_wm.jpg" alt="Bán Xe Daewoo Lacetti đăng ký 2009 tư nhân, màu đen còn mới, 318 triệu "></a>
    </div>
    
</div>



    @section Scripts
{

    }
