@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giới thiệu";
}

<h2 class="title">&nbsp;&nbsp;@ViewBag.Title</h2>

@{ Html.RenderPartial("~/Views/Home/Company.cshtml", null); }

<div style="padding-left:20px;line-height:18px;color:#555;">
    <p>
        Cảm ơn thành viên đã quan tâm đến website thương mại điện tử  <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>. Website thương mại điện tử  <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> là nơi phục vụ hỗ trợ nhu cầu mua bán trực tuyến chuyên về thị trường ô tô bao gồm : Đăng tin rao bán ô tô cá nhân, môi giới và các salon ô tô,giới thiệu về các salon/showroom ô tô, đăng tin cần mua ô tô …
    </p>
    <p>
        Mục tiêu của Website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> hướng tới sẽ là cầu nối thương mại tin cậy nhanh chóng hiệu quả giữa người bán và người mua, giữa doanh nghiệp với doanh nghiệp
    </p>
    <p>
        Để website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> hoạt động hiệu quả, luôn là người bạn đồng hành bảo vệc quyền lợi cho người mua cũng như người bán. Website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> có những quy định hoạt động mong các thành viên tuân thủ nghiêm túc những quy định của website thương mại điện tử  <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>  .
    </p>
    <p> Xin chân thành cảm ơn !</p>   
</div>