@{
    ViewBag.Title = "Tin tức Ôtô";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-news">

    <div class="news-item item-normal-subtitle">
        <a href="/news/9">
            <img alt="Mẹo canh xe để 'không bao giờ bị đâm" src="http://static.english.vov.vn/w490/uploaded/wzzqbijjvws/2017_01_13/traffic_jams_XVYN.jpg" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/index/9">Mẹo canh xe để 'không bao giờ bị đâm</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 19/05/2017 11:30
        </p>
        <p>
            Đầu xe mình chạm cạnh dưới biển số xe trước là cách khoảng một mét với xe 7 chỗ và mép trên với xe 4 chỗ.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/8">
            <img alt="Những kinh nghiệm sử dụng ô tô mọi lái xe đều phải trang bị" src="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-51-27-pm-1493052707907.png" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/index/8">Những kinh nghiệm sử dụng ô tô mọi lái xe đều phải trang bị</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 25/04/2017 11:30
        </p>
        <p>
            Sau khi mua về một chiếc ô tô đã qua sử dụng, chủ xe cần làm những việc sau đấy để đảm bảo xe vận hành trơn tru, an toàn và hiệu quả.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/7">
            <img alt="sau-khi-mua-xe-oto-cu-can-phai-lam-gi" src="~/Images/News/xegiadinhviet_muxecu.jpg" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/index/7">Sau khi mua xe ô tô cũ, cần phải làm gì?</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 22/03/2017 11:30
        </p>
        <p>
            Sau khi mua về một chiếc ô tô đã qua sử dụng, chủ xe cần làm những việc sau đấy để đảm bảo xe vận hành trơn tru, an toàn và hiệu quả.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/6">
            <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-A-4740-1489685591.jpg" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/index/6">Cách phân biệt các hạng ôtô tại Việt Nam</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 17/03/2017 12:19
        </p>
        Các mẫu xe hơi phân chia thành các phân khúc khác nhau, dựa vào dung tích động cơ hay kích thước cũng như nhu cầu và mục đích sử dụng.</p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/5">
            <img alt="12-thu-khong-nen-de-trong-oto" data-natural-width="500" src="http://img.f29.vnecdn.net/2017/02/28/08132015-STONE-23-6828-1488246186.jpg" data-width="500" data-pwidth="470.4" width="240" height="160">
        </a>
        <h2>
            <a href="/news/index/5">12 thứ không nên để trong ôtô</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 02/03/2017 13:19
        </p>
        <p>Chai nước bằng nhựa, lon soda, các loại mỹ phẩm và đồ điện tử không nên để trong xe vì sẽ bị biến đổi vật lý hoặc hóa học.</p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/4">
            <img src="http://img.f29.vnecdn.net/2017/02/14/BMW-BaDo-7852-1464144724-4885-1487068049.jpg" alt="nhung-loi-nho-khien-ban-mua-xe-cu-ngap-nuoc-ma-khong-biet" title="nhung-loi-nho-khien-ban-mua-xe-cu-ngap-nuoc-ma-khong-biet" width="240" height="160">
        </a>
        <h2>
            <a href="/news/index/4">Những lỗi nhỏ khiến bạn mua xe cũ ngập nước mà không biết</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 15/02/2017 13:19
        </p>
        <p>Mua phải xe ngập nước là một trong những việc "xui xẻo" không chỉ làm người tiêu dùng đau đầu mà đôi khi "thợ cứng" cũng mắc phải.</p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/3">
            <img src="http://image.24h.com.vn/upload/1-2017/images/2017-02-13/1486955065-148691554393116-0_01.jpg" alt="Xe Mitsubishi tại Việt Nam giảm giá" title="Xe Mitsubishi tại Việt Nam giảm giá" width="240" height="160">
        </a>
        <h2>
            <a href="/news/index/3">Xe Mitsubishi tại Việt Nam giảm giá</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 13/02/2017 13:19
        </p>
        <p>Trong tháng 2/2017, hầu hết các mẫu xe Mitsubishi đang bán tại Việt Nam đều hạ giá bán, ngoại trừ mẫu Pajero Sport thế hệ mới.</p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/1">
            <img src="http://autopro56.mediacdn.vn/zoom/240_160/2017/hyundai-solaris-13-850x556-1486303427828-0-18-554-850-crop-1486303443787.jpg" alt="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm" title="Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm" width="240" height="160">
        </a>
        <h2>
            <a href="/news/index/1">Sedan cỡ nhỏ Hyundai Accent 2018 lộ diện sớm</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 10/02/2017 20:19
        </p>
        <p>Việc ra mắt mẫu sedan cỡ nhỏ Solaris 2018 tại thị trường Nga đã gián tiếp làm lộ thiết kế của Hyundai Accent thế hệ mới.</p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/2" data-adr="l2-20170210172921511">
            <img src="http://autopro56.mediacdn.vn/zoom/240_160/2017/photo1486722417062-1486722417363-0-0-400-600-crop-1486722485968.jpg" alt="Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe" title="Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe" width="240" height="160">
        </a>
        <h2><a data-id="20170210172921511" data-linktype="newsdetail" href="/news/index/2" data-adr="l2-20170210172921511">Ô tô giảm giá trăm triệu: Năm mới háo hức mua xe</a></h2>
        <p class="date-time"><a href="/tin-tuc.chn"><b>Tin tức</b></a> | 10/02/2017 17:29</p><p>Bước sang năm 2017, sau hơn 1 tháng chờ đợi, đã có doanh nghiệp ô tô đầu tiên công bố giảm giá xe nhập khẩu nguyên chiếc từ Thái Lan về Việt Nam, với mức giảm khoảng 7%.</p>
    </div>

</div>

@section Scripts{
    <script>
        $("#div-right").hide();
        handler.expandDivCenter();
    </script>
}
