@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Qui chế hoạt động";
}

<h2 class="title">&nbsp;&nbsp;@ViewBag.Title</h2>

@{ Html.RenderPartial("~/Views/Home/Company.cshtml", null); }

<div style="padding-left:20px;line-height:18px;color:#555;">
  
    <br /> <b> I.　Hoạt động và  đảm bảo an toàn giao dịch của wesite thương mại điện tử  <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a></b>
    <br />
    <br /> <i> A) Hoạt động của wesite thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a></i>
    <br />
    <br /> <p>Hoạt động này áp dụng cho các thành viên  website thương mại điện tử  <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> </p>
    <br /> <ul>
        <li><p>Thành viên website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> là các cá nhân, môi giới, salon/showroom có nhu cầu về mua bán quản bá lĩnh vực ô tô được <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> chính thức công nhận và được phép sử dụng dịch vụ do website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> và các bên liên quan cung cấp. </p></li>
        <li><p>Tổ chức, cá nhân tham gia giao dịch tại website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> tự do thỏa thuận trên cơ sở tôn trọng quyền và lợi ích hợp pháp của các bên tham gia hoạt động mua bán hàng hóa, sản phẩm, dịch vụ thông qua hợp đồng, không trái với qui định của pháp luật.</p></li>
        <li><p>Thông tin đăng tải trên website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> phải đáp ứng đầy đủ các quy định của pháp luật không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của pháp luật </p></li>
    </ul>
    <br /> <i> B) Đảm bảo an toàn giao dịch  của Wesite thương mại điện tử  <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a></i>

    <br />
    <br /><ul>
        <li><p>Website thương mại điện tử  <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> mong muốn tạo điều kiện cho những người mua, bán ô tô nói chung có thể đến với nhau và tìm được những khách hàng phù hợp nhất cho các tài sản của mình.</p></li>
        <li><p>Đối với người bán /đăng tin xe: Khi đăng ký tham gia đăng tin xe  trên website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> người bán/ đăng tin xe  phải cung cấp đầy đủ các thông tin liên quan và phải hoàn toàn chịu trách nhiệm đối với các thông tin này. Các thông tin cụ thể bao gồm: thông tin về nhân thân đối với cá nhân, thông tin về tư cách pháp lý đối với thành viên là tổ chức, pháp nhân. Các thông tin này sẽ được  website  đưa vào dữ liệu quản lý.</p></li>
        <li><p>Kiểm soát giao dịch đối với người bán /đăng tin xe: Các giao dịch của người bán /đăng tin xe với khách hàng là trực tiếp và không qua  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>. Vì vậy website thương mại điện tử  <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> khuyến cáo khách hàng cần tìm hiểu và xác thực thông tin của người bán /đăng tin xe  trước khi thực hiện giao dịch</p></li>
    </ul>
    <br /> <i> C) Nghiêm cấm </i>
    <br />
    <br /> <ul>
        <li><p>Không được đăng tải thông tin rao vặt mà pháp luật Việt Nam nghiêm cấm</p></li>
        <li><p>Không đăng tải thông tin rao vặt trái với đạo đức xã hội Việt Nam</p></li>
        <li><p>Không đăng tải sex, crack, hack, chính trị, tôn giáo</p></li>
    </ul>
    <br /> <b> II.　Quy trình giao dịch </b>
    <br />
    <br /><ul>
        <li><p><i>Quy trình giao dịch với người mua xe</i>: Đăng ký làm thành viên của website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> hoặc không. Bằng cách truy cập vào địa chỉ <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> người dùng có thể tìm danh sách các xe mà mình quan tâm . Nếu người dùng có nhu cầu mua sẽ liên hệ trực tiếp với người đăng tin để xem xe  và thỏa thuận việc giao dịch giữa 2 bên cụ thể. <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> sẽ không tham gia và không chịu trách nhiệm liên quan vào quá trình giao dịch giữa người mua và người bán. </p></li>
        <li><p><i>Quy trình giao dịch với người bán /đăng tin xe</i>: Bắt buộc phải đăng ký làm thành viên của <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> và phải đăng nhập vào hệ thống website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>. Cách thức đăng ký thành viên và đăng nhập theo hướng dẫn tại : <a href="/Home/Guide">Hướng dẫn</a> </p></li>
        <li><p><i>Quy trình giao nhận vận chuyển</i>: là thỏa thuận trực tiếp giữa người mua và người bán, website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> không tham gia vào quá trình này. </p></li>
        <li><p><i>Quy trình xác nhận/hủy đơn hàng</i>: website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> không có chức năng lập đơn hàng mua xe . Người mua chỉ tìm thông tin xe website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> rồi liên hệ trực tiếp với người bán .</p></li>
        <li><p><i>Quy trình bảo hành/bảo trì sản phẩm</i>: không có</p></li>
        <li>
            <p>
                <i>Quy trình giải quyết tranh chấp, khiếu nại : </i>
                <ul>
                    <li>Nếu phát sinh tranh chấp giữa thành viên và  website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>, website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> cố gắng giải quyết theo pháp luật bất kỳ khiếu nại hoặc tranh cãi những qui định mà website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> đưa ra</li>
                    <li>
                        Bất kỳ khiếu nại nào phát sinh trong quá trình sử dụng dịch vụ trên website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> phải được gởi đến email: xegiadinhviet@gmail.com ngay sau khi xày ra sự kiện phát sinh khiếu nại. Website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> sẽ căn cứ từng trường hợp cụ thể để có phương án giải quyết cho phù hợp.
                    </li>
                    <li>Mọi tranh chấp giữa người sử dụng với nhau hoặc giữa người sử dụng với website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> sẽ được giải quyết trên cơ sở thương lượng. Trường hợp không đạt được thỏa thuận như mong muốn, một trong hai bên có quyền đưa vụ việc ra Tòa án nhân dân có thẩm quyền để giải quyết</li>
                    <li>Gửi các thông báo mà wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> cho rằng cần thiết hoặc  thành viên sẽ quan tâm, trừ khi thành viên từ chối nhận những thông báo này</li>
                    <li>Wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> không chịu trách nhiệm và liên quan đến giao dịch giữa người mua và người mua và người bán</li>
                </ul>
            </p>
        </li>

    </ul>
    <br /> <b> III.　Quy trình thanh toán </b>
    <br />
    <br /><ul>
        <li><p><i>Đối với người mua xe</i>: Người mua tự liên hệ với thành viên đăng tin bán xe để tiến hành giao dịch và thanh toán</p></li>

        <li><p><i>Đối với người bán /đăng tin xe</i>: Hiện tại website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> miễn phí tất cả tin cho cả người mua và người bán đăng tin . Khi nào thu phí đăng tin website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> sẽ thông báo đến thành viên trên website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a></p></li>
    </ul>

    <br /> <b> IV. Quyền và nghĩa vụ của thành viên </b>
    <br />
    <br /> <i>- Quyền của thành viên</i>
    <br />
    <br /> <ul>
        <li><p>Khi đăng ký trở thành thành viên của <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> và được <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>  đồng ý, thành viên sẽ được quyền đăng tin để giới thiệu tài sản và tiến hành giao dịch kinh doanh cũng như quảng bá doanh nghiệp của mình trên website thương mại điện tử  <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>.</p></li>
        <li><p>Thành viên sẽ được nhân viên của website thương mại điện tử  <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> hướng dẫn sử dụng được các công cụ, các tính năng phục vụ cho việc quản lý đăng tin, tiến hành giao dịch và sử dụng các dịch vụ tiện ích trên sàn giao dịch thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>.</p></li>
        <li><p>Thành viên sẽ được hưởng các chính sách ưu đãi do website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>.  Các chính sách ưu đãi này sẽ được đăng tải trực tiếp trên website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet@gmail.com</a> hoặc được gửi trực tiếp đến các thành viên</p></li>
        <li><p>Thành viên có quyền đóng góp ý kiến cho website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> trong quá trình hoạt động. Các ý kiến góp ý được gửi trực tiếp bằng thư, fax hoặc email đến cho website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a></p></li>
    </ul>
    <br /> <i>- Nghĩa vụ của thành viên </i>
    <br />
    <br /> <ul>
        <li><p>Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ và mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và số điện thoại của mình. Thành viên có trách nhiệm thông báo kịp thời cho website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> về những hành vi sử dụng trái phép, lạm dụng tài khoản của mình để hai bên cùng hợp tác xử lý.</p></li>
        <li><p>Thành viên tự chịu trách nhiệm về nội dung, hình ảnh của thông tin Doanh nghiệp và các thông tin khác cũng như toàn bộ quá trình giao dịch với các đối tác trên website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a></p></li>
        <li><p>Thành viên hoàn toàn chịu trách nhiệm tính xác thực của nội dung do mình đăng lên <a href="http://xegiadinhviet.com">xegiadinhviet.com</a></p></li>
        <li><p>Thành viên phải đồng ý cung cấp địa chỉ email, số điên thoại chính xác</p></li>
        <li><p>Thành viên cam kết, đồng ý không sử dụng dịch vụ của website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> vào những mục đích bất hợp pháp./</p></li>
    </ul>       
    <br />Trong trường hợp phải thay đổi nội dung quy định để phù hợp với thực tiễn họat động của wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a>  thì ban quản trị sẽ gửi email đến các thành viên biết.
    <br />
</div>
