@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
@model List<string>

<div class="div-salon">
    <div class="salon-section">

        <div class="salon-photo">
            <a href="/salons/toyota-hung-vuong-cn-tan-tao-27035-582"><img src="http://img1.banxehoi.com/resize/140x104//2015/11/24/VQOihD3w/1448350407954195-afda.jpg" alt="Toyota Hùng Vương – CN Tân Tạo" title="Toyota Hùng Vương – CN Tân Tạo"></a>
        </div>
        <div class="salon-name">

            <a href="http://img1.banxehoi.com/crop/140x104/2016/01/03/20160103152230-2598_wm.jpg">Toyota bến thành </a>
        </div>
        <div class="salon-decription">
            Với phương châm “Chất lượng - Phát triển - Bền vững”, Toyota Bến Thành luôn phấn đấu với mục đích phục vụ khách hàng càng ngày càng tốt hơn
        </div>
        <div class="salon-address">
            262 Trần Hưng Đạo, Quận 1, TP Hồ Chí Minh
        </div>
    </div>    
    <div class="salon-section">

        <div class="salon-photo">
            <a href="/salons/toyota-hung-vuong-cn-tan-tao-27035-582"><img src="http://img1.banxehoi.com/resize/140x104//2015/11/24/VQOihD3w/1448350407954195-afda.jpg" alt="Toyota Hùng Vương – CN Tân Tạo" title="Toyota Hùng Vương – CN Tân Tạo"></a>
        </div>
        <div class="salon-name">

            <a href="http://img1.banxehoi.com/crop/140x104/2016/01/03/20160103152230-2598_wm.jpg">Mercedes Benz Haxaco Điện Biên Phủ </a>
        </div>
        <div class="salon-decription">
            Đại lý chính hãng đầu tiên của Mercedes Benz Việt Nam
        </div>
        <div class="salon-address">
            10 Điện Biên Phủ, P.15, Q.Bình Thạnh - TP HCM
        </div>
    </div>    
    <div class="salon-section">

        <div class="salon-photo">
            <a href="/salons/toyota-hung-vuong-cn-tan-tao-27035-582"><img src="http://img1.banxehoi.com/resize/140x104//2015/11/24/VQOihD3w/1448350407954195-afda.jpg" alt="Toyota Hùng Vương – CN Tân Tạo" title="Toyota Hùng Vương – CN Tân Tạo"></a>
        </div>
        <div class="salon-name">

            <a href="http://img1.banxehoi.com/crop/140x104/2016/01/03/20160103152230-2598_wm.jpg">Salon Auto Sơn Hoa </a>
        </div>
        <div class="salon-decription">
            Chuyên mua bán , ký gửi các dòng xe đã qua sử dụng
        </div>
        <div class="salon-address">
            Cơ sở 1: 19 Bis Cộng Hòa, P12, Q.Tân Bình, TPHCM
        </div>
    </div>    
</div>  
  