@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
@model List<string>

<div id="div-car-list" class="car-list-box">
    
    @{ Html.RenderPartial("~/Views/Shared/SearchFirm.cshtml", Model); }
    

    <div class="car-list-header">
        <h3>Tin đăng bán xe</h3>
        <span class="car-total">Tổng số : <b>21,287 tin bán xe</b></span>
    </div>
    <!-- begin list car -->
    
    <div class="car-item-all row-car">

        <div class="car-photo">
            <a href="http://banxehoi.com/xe-daewoo-lacetti-ha-noi/ban-xe--dang-ky-2009-tu-nhan-mau-den-con-moi-318-trieu-aid630947">
                <img title="Bán Xe Daewoo Lacetti đăng ký 2009 tư nhân, màu đen còn mới, 318 triệu " width="140" height="104" src="/content/images/cars/20151227214928-b769_wm.jpg" alt="Bán Xe Daewoo Lacetti đăng ký 2009 tư nhân, màu đen còn mới, 318 triệu "></a>
        </div>
        <div class="car-type1">
          <a href="http://banxehoi.com/xe-daewoo-lacetti-ha-noi/ban-xe--dang-ky-2009-tu-nhan-mau-den-con-moi-318-trieu-aid630947">Bán Xe Daewoo Lacetti ....(28/02/2016)  </a>
          
        </div>
      
        <div class="car-detail-left">
            <div class="car-status-left">
                <label class="car-label-left"> Tình trạng </label>
                <span>:&nbsp;Cũ</span>
            </div>
            <div class="car-madein-left">
                <label class="car-label-left">Xuất xứ</label>
                <span>:&nbsp;Xuất xứ</span>
            </div>
            <div class="car-km-left">
                <label class="car-label-left">Km</label>
                <span>:&nbsp;40.000 km</span>
            </div>
            <div class="car-gear-left">
              
                <label class="car-label-left">Hộp số</label>
                <span>:&nbsp;Số tự động</span>
            </div>
        </div>
        <div class="car-detail-middle">
            <div class="car-price-middle">
                350 triệu
            </div>
            <div class="car-location-right">

                <a href="/xe-toyota-vios-ha-noi">Hà Nội</a>
            </div>
            <div class=" car-name-user-right">
                Chị Oanh
            </div>
            <div class=" car-name-telephone-right">
                0901500799
            </div>
        </div>
        @*<div class="car-detail-right">
            <div class="car-saveitem" onclick="productSaved(this,'637089');">Lưu xe |</div>
            <div class="car-compare " onclick="AutoCompared(this,'626542');">So sánh</div>

        </div>*@
        <div class="car-date-right">
            28/12/2015
        </div>
    </div>  @*fgfgfd*@
    <div class="car-item-all row-car">
        <div class="car-photo">
            <a href="http://banxehoi.com/xe-daewoo-lacetti-ha-noi/ban-xe--dang-ky-2009-tu-nhan-mau-den-con-moi-318-trieu-aid630947">
                <img title="Bán Xe Daewoo Lacetti đăng ký 2009 tư nhân, màu đen còn mới, 318 triệu " width="140" height="104" src="/content/images/cars/20151227214928-b769_wm.jpg" alt="Bán Xe Daewoo Lacetti đăng ký 2009 tư nhân, màu đen còn mới, 318 triệu ">
            </a>
        </div>
        <div class="car-type1">
            <span class="car-label car-label-default">Bán Xe Daewoo Lacetti đăng ký 2009 ....(28/02/2016)</span>
            @*<a href="http://banxehoi.com/xe-daewoo-lacetti-ha-noi/ban-xe--dang-ky-2009-tu-nhan-mau-den-con-moi-318-trieu-aid630947">Bán Xe Daewoo Lacetti đăng ký 2009 tư nhân, màu đen còn mới, 318 triệu</a>*@
        </div>
       
        <div class="car-detail-left">
            <div class="car-status-left">
                <label class="car-label-left"> Tình trạng </label>
                <span>:&nbsp;Cũ</span>
            </div>
            <div class="car-madein-left">
                <label class="car-label-left">Xuất xứ</label>
                <span>:&nbsp;Xuất xứ</span>
            </div>
            <div class="car-km-left">
                <label class="car-label-left">Km</label>
                <span>:&nbsp;40.000 km</span>
            </div>
          
            <div class="car-gear-left">
               
                <label class="car-label-left">Hộp số</label>
                <span>:&nbsp;Số tự động</span>
            </div>
        </div>
        <div class="car-detail-middle">
            <div class="car-price-middle">
                350 triệu
            </div>
            <div class="car-location-right">

                <a href="/xe-toyota-vios-ha-noi">Hà Nội</a>
            </div>
            <div class=" car-name-user-right">
                Chị Oanh
            </div>
            <div class=" car-name-telephone-right">
                0901500799
            </div>
        </div>
        @*<div class="car-detail-right">
            <div class="car-saveitem" onclick="productSaved(this,'637089');">Lưu xe |</div>
            <div class="car-compare " onclick="AutoCompared(this,'626542');">So sánh</div>

        </div>*@

    </div>
    @*<div class="car-date-right">
        28/12/2015
    </div>*@
</div>
