@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chính sách bảo mật";
}

<h2 class="title">&nbsp;&nbsp;@ViewBag.Title</h2>

@{ Html.RenderPartial("~/Views/Home/Company.cshtml", null); }

<div style="padding-left:20px;line-height:18px;color:#555;">
    <br /> <b> I. Nhà quản trị dữ liệu</b>
    <br />
    <br /> <p>Website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>   cam kết bảo mật toàn bộ dữ liệu cá nhân của người mua cũng như người bán tham gia đăng tin trang web phù hợp theo qui định của Bộ Luật Dân Sự Nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam và các thủ tục pháp lý có liên quan. Nội dung trang chính sách bản mật thông tin cá nhân nêu tóm lược các hình thức thông tin nào mà chúng tôi thu thập được qua  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  , cách thức chúng tôi sử dụng và quản lý dữ liệu. Trong nội dung  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>   đề cập đến quyền lợi người mua cũng như người bán được hưởng liên quan đến việc bảo mật thông tin dữ liệu và cung cấp cách thức cần thực hiện để liên lạc với  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> chúng tooi. </p>
    <br />
    <br /> <b> II. Dữ liệu cá nhân và cách thức sử dụng  </b>
    <br />
    <br />  
    <p> Website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  thu thập những dữ liệu nào và lý do tại sao? Khi đề cập đến từ "thông tin cá nhân", website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>   muốn làm rõ đó là những thông tin mà  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  thu thập được từ bạn, mà chúng có thể giúp nhận dạng chính xác ra bạn là ai và mang đến những thông tin phù hợp xác đáng nhất. Cụ thể hơn, những thông tin đó gồm họ tên/tên, địa chỉ, số điện thoại , tên sử dụng liên lạc trên mạng, địa chỉ email v.v.v …. Website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  bảo đảm với bạn rằng sẽ không chủ ý thu thập bất kỳ thông tin cá nhân nào của bạn khi bạn đến website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> chỉ trừ khi bạn tự nguyện thực hiện cung cấp thông tin.</p> 
    <br /> Khi người mua cũng như người bán cung cấp thông tin cá nhân  thông qua   website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> , điều đó mang ý nghĩa bạn biết rõ ràng  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  có dự định khai thác dữ liệu cho mục đích gì và  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  có thăm dò ý kiến chấp thuận của bạn về quyền sử dụng.  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> sử dụng thông tin có mục đích. Những mục đích cụ thể nhằm sử dụng thông tin như sau:
    <br />
    <br /><ul>
        <li><p> Trả lời thắc mắc của bạn Ở những phần nào mà bạn có ghi thông tin cá nhân nhằm mục đích hỏi tư vấn những thắc mắc (Ví dụ, về cách sử dụng website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> , về thể lệ chương trình, cách tham gia, hoặc dịch vụ bất kỳ của  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a> , chúng tôi sẽ sử dụng dữ liệu bạn cung cấp nhằm mục đích giải đáp những thắc mắc của bạn. </p></li>
        </ul>
    <br /> <b> III. Bảo vệ thông tin cá nhân khách hàng </b>
    <br />
    <br /><ul>
        <li><p>Chính sách bảo mật này công bố  website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> thu thập, lưu trữ và xử lý thông tin hoặc dữ liệu cá nhân của các khách hàng thông qua wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a></p></li>
        <li><p>Website thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> cam kết sẽ bảo mật các thông tin cá nhân của khách hàng, sẽ nỗ lực hết sức và sử dụng các  biện pháp thích hợp để các thông tin mà khách hàng cung cấp cho wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> trong quá trình sử dụng website này được bảo mật và bảo vệ khỏi sự truy cập trái phép  </p></li>
        <li><p>Khách hàng được khuyến nghị để nắm rõ những quyền lợi của mình khi sử dụng các dịch vụ của wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a></p></li>
        <li><p>Wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> đưa ra các cam kết phù hợp với các quy định của pháp luật Việt Nam, trong đó bao gồm các cách thức mà wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> sử dụng để bảo mật thông tin của khách hàng.</p></li>
        <li>
            <p>Mục đích thu thập Thông tin cá nhân:</p>
            <ul>
                <li>Liên hệ và hỗ trợ thành viên   để hỗ trợ  việc đăng tin</li>
                <li>Cung cấp cho người mua những thông tin chính thức để liên hệ với  người bán /đăng tin xe khi bán hàng</li>
                <li>Nhận diện người dùng & quản lý thông tin tài khoản</li>
                <li>Gửi các thông báo mà wesite thương mại điện tử <a href="http://xegiadinhviet.com">xegiadinhviet.com</a> cho rằng cần thiết hoặc  thành viên sẽ quan tâm, trừ khi thành viên từ chối nhận những thông báo này</li>
                <li>Phân tích và đánh giá giúp cải thiện và nâng cấp dịch vụ</li>
            </ul>
        </li>
    </ul>
    <br /> <b> IV. An ninh mạng  </b>
    <br />
    <br /><p>  Website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  thực hiện một số biện pháp ngăn ngừa hợp lý nhằm giữ an toàn các thông tin cá nhân của bạn. Tất cả mọi thông tin cá nhân nhằm giúp nhận dạng rõ cá nhân bạn sẽ được khai thác xử lý theo qui trình nghiêm ngặt nhằm ngăn cản các hình thức trái phép trong khai thác xử lý, sửa đổi hoặc sử dụng thông tin cá nhân sai mục đích. Tuy nhiên,  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  có thể tiết lộ thông tin cá nhân của bạn trong những trường hợp do luật qui định, do nhu cầu nghiên cứu có cam kết bảo mật hoặc theo yêu cầu của tòa án. </p>    
    <br /> <b> V. Quyền lợi của bạn  </b>
    <br />
    <br /><ul>
        <li> <p> Cho khai thác sử dụng thông tin cá nhân của bạn mà trước đó bạn đã đồng ý</p></li>
        <li> <p> Yêu cầu chỉnh sửa đúng các thông tin cá nhân bị sai lệnh mà  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  hiện đang lưu giữ</p></li>
        </ul>
    <br /> <b> VI. Các địa chỉ liên hệ  </b>
    <br />
    <br /><p>Nếu bạn có những ý kiến liên quan đến tính bảo mật dữ liệu, hoặc thảo luận hình thức thực hiện liên quan đến quyền lợi hợp pháp của bạn, vui lòng liên hệ với  website thương mại điện tử <a href="http://xegiadinhviet.com.com">xegiadinhviet.com</a>  : Địa chỉ email: xegiadinhviet@gmail.com</p>
</div>