
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/owl.theme.css" rel="stylesheet" />
<link href="~/css/owl.carousel.css" rel="stylesheet" />
<link href="~/css/jquery.vegas.min.css" rel="stylesheet" />
<link href="~/css/animate.min.css" rel="stylesheet" />
<link href="~/css/pixeden-icons.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />

<!-- =========================
   PRE LOADER
============================== -->
@*<div class="preloader">
        <div class="status">&nbsp;</div>
    </div>*@


<!-- =========================
   OUR TEAM SECTION
============================== -->

<section class="our-team" id="team">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Our Team</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6>
                Check our awesome team memebers who always work hard to provide quality products.
            </h6>
        </div>
        <!-- / END SECTION HEADER -->
        <!-- TEAM MEMBERS -->
        <div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
            <!-- MEMBER -->
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic1.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">Jason Daniels</h5>
                        <div class="position">
                            Founder
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>
            <!-- / END MEMBER -->

            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic2.jpg" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text green-border-bottom">Patricia Medina</h5>
                        <div class="position">
                            Senior Desigener
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic3.jpg" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text blue-border-bottom">Eugene Lane</h5>
                        <div class="position">
                            Lead Developer
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic4.jpg" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text yellow-border-bottom">Kathy Hudson</h5>
                        <div class="position">
                            Art Director
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic5.jpg" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">Vincent Mccoy</h5>
                        <div class="position">
                            Project Manager
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic6.jpg" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text green-border-bottom">Gary Morrison</h5>
                        <div class="position">
                            Photographer
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic7.jpg" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text blue-border-bottom">Patrick Sanchez</h5>
                        <div class="position">
                            Business Development
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="images/team/pic8.jpg" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text yellow-border-bottom">Rachel Rogers</h5>
                        <div class="position">
                            Account Manager
                        </div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon-behance"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- / END TEAM MEMBER LIST -->

    </div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<!-- SCRIPTS -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/jquery.nav.js"></script>
<script src="~/js/jquery.knob.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/jquery.vegas.min.js"></script>


