         
<div id="div-showroom">    
    <h3><span>Vip ShowRoom - Salon Ô tô</span></h3>
    <div class="b-box-content">
        <div class="salon_h_item" onmousedown='click_ad(108)'>
            <a href="http://mercedesvietnamstar-phumyhung.bonbanh.com/" target="_blank" rel="nofollow">Mercedes-Benz Phú Mỹ Hưng  </a>&nbsp; [ TPHCM ]<br>
            Đại lý chuyên cung cấp xe chính hãng lớn nhất của Mercedes-Benz .
        </div>
        <div class="salon_h_item" onmousedown='click_ad(45)'>
            <a href="http://thanhxuanford.bonbanh.com/" target="_blank" rel="nofollow">Thanh Xuân Ford  </a>&nbsp; [ Hà Nội ]<br>
            Đại lý cấp I của Ford. Cung cấp các loại xe Ford chính hãng  .
        </div>
        <div class="salon_h_item" onmousedown='click_ad(24)'>
            <a href="http://namchung-xecu.bonbanh.com/" target="_blank" rel="nofollow">Nam Chung Auto - Xe đã qua sử dụng  </a>&nbsp;[ Hà Nội ]<br>
            Chuyên cung cấp các dòng xe đã qua sử dụng.
        </div>

        <div class="salon_h_item" onmousedown='click_ad(14)'>
            <a href="http://tinphat-auto.bonbanh.com/" target="_blank" rel="nofollow">Tín Phát Auto</a>&nbsp; [ Hà Nội ]<br>
            Chuyên cung cấp xe nhập khẩu, xe đã qua sử dụng các hãng.
        </div>

        <div class="salon_h_item" onmousedown='click_ad(54)'>
            <a href="http://autosonhoa.bonbanh.com/" target="_blank" rel="nofollow">Salon Auto Sơn Hoa  </a>&nbsp; [ TPHCM ]<br>
            Chuyên mua bán , ký gửi các dòng xe đã qua sử dụng  .
        </div>

        <div class="salon_h_item" onmousedown='click_ad(52)'>
            <a href="http://autobinhthanh.bonbanh.com/" target="_blank" rel="nofollow">Salon Auto Bình Thành</a>&nbsp; [ TPHCM ]<br>
            Chuyên mua bán, ký gửi các dòng xe đã qua sử dụng.
        </div>
        <div class="salon_h_item" onmousedown='click_ad(28)'>
            <a href="http://toyotabenthanh.bonbanh.com/" target="_blank" rel="nofollow">Toyota Bến Thành</a>&nbsp; [ TPHCM ]<br>
            Đại lý chuyên cung cấp các dòng xe chính hãng của Toyota Việt Nam.
        </div>
        <div class="salon_h_item" onmousedown='click_ad(18)' style="padding-bottom:10px;">
            <a href="http://honda-mydinh.bonbanh.com/" target="_blank" rel="nofollow">Honda Mỹ Đình</a>&nbsp; [ Hà Nội ]<br>
            Đại lý chính hãng Honda Việt Nam.
        </div>



    </div>
</div>
