@{
    ViewBag.Title = "Tin tức Ôtô";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-news">

    <div class="news-item item-normal-subtitle">
        <a href="/news/oto-suzuki-celerio-gia-khoang-299tr-ve-vietnam-16">
            <img src="~/Content/images/news/celerio.jpg" alt="Ô tô Suzuki Celerio giá khoảng 299 triệu về Việt Nam - Ảnh 1" />            
        </a>
        <h2>
            <a href="/news/oto-suzuki-celerio-gia-khoang-299tr-ve-vietnam-16">Ô tô Suzuki Celerio giá khoảng 299 triệu về Việt Nam</a>            
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 14/02/2018 11:30
        </p>
        <p>
            Thị trường xe phổ thông là mảnh đất màu mỡ cho xe lắp ráp, trong khi trận chiến xe sang sẽ sôi động hơn vì BMW giảm giá.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/Cac-hang-du-doan-nguoi-viet-mua-oto-se-tang-manh-trong-2018-15">
            <img alt="Xe lắp ráp đang ở thời điểm đầy ưu đãi." data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2018/01/29/Hyundai-Grand-i10-71-JPG-3258-1517220020.jpg" data-width="500" data-pwidth="500">
        </a>
        <h2>
            <a href="/news/Cac-hang-du-doan-nguoi-viet-mua-oto-se-tang-manh-trong-2018-15">Các hãng dự đoán người Việt mua ôtô sẽ tăng mạnh trong 2018</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 30/01/2018 11:30
        </p>
        <p>
            Thị trường xe phổ thông là mảnh đất màu mỡ cho xe lắp ráp, trong khi trận chiến xe sang sẽ sôi động hơn vì BMW giảm giá.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/Oto-dai-ha-gia-canh-bao-dinh-hoa-xe-ton-kho-2-3-nam-14">
            <img alt="xegiadinhviet-Xe phơi nắng phơi mưa chất lượng sẽ bị ảnh hưởng" src="~/Content/images/news/news13_1.jpg" data-width="490" />
        </a>
        <h2>
            <a href="/news/Oto-dai-ha-gia-canh-bao-dinh-hoa-xe-ton-kho-2-3-nam-14">Ô tô đại hạ giá: Cảnh báo dính họa xe tồn kho 2-3 năm</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 14/09/2017 11:30
        </p>
        <p>
            Ô tô tồn kho nhiều, các DN đang đại hạ giá để xả hàng. Mua xe tồn kho lúc này được hưởng ưu đãi lớn. Tuy nhiên, xe tồn kho để lâu, có nguy cơ giảm chất lượng.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/Vi-sao-du-an-Vinfast-gay-chan-dong-du-luan-13">
            <img alt="xegiadinhviet-Vì sao Dự án ô tô VinFast gây chấn động dư luận?" data-width="490" src="http://enternews.vn/media/uploaded/446/2017/09/02/Thu_tuong_va_cac_dai_bieu_bam_nut_khoi_cong_xay_dung_NM_o_to_Vinfast.jpg">
        </a>
        <h2>
            <a href="/news/Vi-sao-du-an-Vinfast-gay-chan-dong-du-luan-13">Vì sao Dự án ô tô VinFast gây chấn động dư luận?</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 06/09/2017 11:30
        </p>
        <p>
            Ô tô khi tồn kho thì thường không được bảo quản tốt (thường để ngoài bãi) nên ngoài suy giảm chất lượng do thời tiết thì còn có thể bị chuột cắn…
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/Meo de khong mua nham phai oto ton kho-12">
            <img alt="xegiadinhviet-Mẹo để không mua nhầm phải ô tô tồn kho" data-width="490" src="https://dantricdn.com/thumb_w/640/2017/photo-0-1504494690086.jpg">
        </a>
        <h2>
            <a href="/news/Meo-de-khong-mua-nham-phai-oto-ton-kho-12">Mẹo để không mua nhầm phải ô tô tồn kho</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 05/09/2017 11:30
        </p>
        <p>
            Ô tô khi tồn kho thì thường không được bảo quản tốt (thường để ngoài bãi) nên ngoài suy giảm chất lượng do thời tiết thì còn có thể bị chuột cắn…
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/Oto-nhat-co-nho-gia-400-trieu-11">
            <img alt="xegiadinhviet-Toyota Wigo lần đầu tiên xuất hiện ở Việt Nam." data-width="490" data-pwidth="500" src="https://dantricdn.com/thumb_w/640/2017/photo-0-1502178190360.jpg">
        </a>
        <h2>
            <a href="/news/Oto-nhat-co-nho-gia-400-trieu-11"> Ô tô Nhật cỡ nhỏ giá 400 triệu đồng</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 09/08/2017 11:30
        </p>
        <p>
            Trong khi ô tô trong nước vẫn đua nhau giảm giá thì hàng loạt mẫu xe cỡ nhỏ giá rẻ của Nhật sản xuất ở Thái Lan, Indonesia sắp sửa đổ bộ vào Việt Nam, khiến thị trường ô tô càng trở nên sôi động. Các mẫu xe mới giá nhập khẩu cỡ trên dưới 400 triệu đồng đang hướng tới cạnh tranh trực tiếp với 2 đối thủ Kia Morning và Huyndai i10 ở Việt Nam.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/loat-oto-moi-sap-ra-mat-tai-viet-nam-10">
            <img alt="loat-oto-moi-sap-ra-mat-tai-viet-nam" class="img_more" src="https://i-vnexpress.vnecdn.net/2017/07/31/Toyota-Wigo-2017-vnexpress-net-3681-1501474637.jpg" data-width="490" data-pwidth="500">
        </a>
        <h2>
            <a href="/news/loat-oto-moi-sap-ra-mat-tai-viet-nam-10">Loạt ôtô mới sắp ra mắt tại Việt Nam</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 01/08/2017 11:30
        </p>
        <p>
            Danh sách có Chevrolet Trailblazer, đối thủ mới của Fortuner, Toyota Wigo cạnh tranh Kia Morning, hatchback cỡ nhỏ Honda Jazz và nhiều mẫu xe khác.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/meo-canh-xe-de-khong-bao-gio-bi-dam-9">
            <img alt="Mẹo canh xe để 'không bao giờ bị đâm" src="http://static.english.vov.vn/w490/uploaded/wzzqbijjvws/2017_01_13/traffic_jams_XVYN.jpg" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/meo-canh-xe-de-khong-bao-gio-bi-dam-9">Mẹo canh xe để 'không bao giờ bị đâm</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 19/05/2017 11:30
        </p>
        <p>
            Đầu xe mình chạm cạnh dưới biển số xe trước là cách khoảng một mét với xe 7 chỗ và mép trên với xe 4 chỗ.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/kinh-nghiem-su-dung-oto-8">
            <img alt="Những kinh nghiệm sử dụng ô tô mọi lái xe đều phải trang bị" src="https://dantricdn.com/2017/screen-shot-2017-04-24-at-11-51-27-pm-1493052707907.png" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/kinh-nghiem-su-dung-oto-8">Những kinh nghiệm sử dụng ô tô mọi lái xe đều phải trang bị</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 25/04/2017 11:30
        </p>
        <p>
            Sau khi mua về một chiếc ô tô đã qua sử dụng, chủ xe cần làm những việc sau đấy để đảm bảo xe vận hành trơn tru, an toàn và hiệu quả.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/sau-khi-mua-xe-oto-cu-can-phai-lam-gi-7">
            <img alt="sau-khi-mua-xe-oto-cu-can-phai-lam-gi" src="~/Images/News/xegiadinhviet_muxecu.jpg" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/index/sau-khi-mua-xe-oto-cu-can-phai-lam-gi-7">Sau khi mua xe ô tô cũ, cần phải làm gì?</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 22/03/2017 11:30
        </p>
        <p>
            Sau khi mua về một chiếc ô tô đã qua sử dụng, chủ xe cần làm những việc sau đấy để đảm bảo xe vận hành trơn tru, an toàn và hiệu quả.
        </p>
    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/news/6">
            <img alt="cach-phan-biet-cac-hang-oto-tai-viet-nam" src="http://img.f29.vnecdn.net/2017/03/17/PhanKhuc-A-4740-1489685591.jpg" data-width="500" data-pwidth="470.4" width="240" height="160" />
        </a>
        <h2>
            <a href="/news/index/6">Cách phân biệt các hạng ôtô tại Việt Nam</a>
        </h2>
        <p class="date-time">
            <a href="/home/news">
                <b>Tin tức</b>
            </a> | 17/03/2017 12:19
        </p>
        Các mẫu xe hơi phân chia thành các phân khúc khác nhau, dựa vào dung tích động cơ hay kích thước cũng như nhu cầu và mục đích sử dụng.</p>
    </div>
           
    <div class="pagination_news right">
        <a class="active" href="/news/page/1">1</a>
        <a href="/news/page/2">2</a>
    </div>
      
</div>
