@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{    
    <a href="/Account/Logoff/">&nbsp;&nbsp;&nbsp;Đăng xuất</a>   
    @Html.ActionLink("Xin chào " + User.Identity.GetUserName() + " !", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:orange" })    
}
