   
<div id="advertise_left">            
    <a href="http://xe-toyota.com.vn/"><img src="~/Content/images/advertise_left/1.gif" class="advertise_left_panel" /></a>
    <a href="http://dailybenthanhtoyota.com/"><img src="~/Content/images/advertise_left/2.gif" class="advertise_left_panel" /></a>
    <a href="http://daily3schevrolet.com/"><img src="~/Content/images/advertise_left/3.gif" class="advertise_left_panel" /></a>
    <a href="http://dailyfordvietnam.com/dong-xe-ford-b1824408.html?pn=1"><img src="~/Content/images/advertise_left/4.gif" class="advertise_left_panel" /></a>
    <a href="http://carcenter.vn/"><img src="~/Content/images/advertise_left/5.gif" class="advertise_left_panel" /></a>
    <a href="http://vietauto.vn"><img src="~/Content/images/advertise_left/6.jpg" class="advertise_left_panel" /></a>
    <a href="http://hyundaisonghan.com.vn/"><img src="~/Content/images/advertise_left/7.jpg" class="advertise_left_panel" /></a>
    <a href="http://http://kiavungtau.vn/"><img src="~/Content/images/advertise_left/8.jpg" class="advertise_left_panel" /></a>
</div>
  
