   
<div id="advertise-left">            
    @*<img src="~/Content/images/advertise-left/01.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/02.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/03.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/04.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/05.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/06.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/07.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/08.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/09.jpg" class="advertise-left-panel" />
    <img src="~/Content/images/advertise-left/10.jpg" class="advertise-left-panel" />*@
</div>
  
