   
<div id="advertise_left">            
    <img src="~/Content/images/advertise_left/quangcao_2.gif" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/02.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/03.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/04.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/05.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/06.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/07.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/08.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/09.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/10.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/09.jpg" class="advertise_left_panel" />
    <img src="~/Content/images/advertise_left/10.jpg" class="advertise_left_panel" />
</div>
  
