<div class="f-menu">
    <a href="/home/index" class="f-link" title="oto, mua ban oto">Trang chủ</a> <span>|</span>
    <a href="/home/introduce" class="f-link">Giới thiệu</a> <span>|</span>
    <a href="/home/policy" class="f-link">Qui chế hoạt động</a> <span>|</span>
    <a href="/home/security" class="f-link">Chính sách bảo mật</a> <span>|</span>
    <a href="/home/guide" class="f-link">Hướng dẫn</a> <span>|</span>
    <a href="/home/contact" class="f-link">Liên hệ</a>
</div>
<div class="f-copyright">
    <div style="float: left;">        
        Tên đơn vị: XeGiaĐinhViet. VPGD: 1/9 ĐHT 11, Phường Đông Hưng Thuận, Quận 12, Tp.HCM
        <br/> Điện thoại: 0164 575 0962. Email: xegiadinhviet@gmail.com.
        @*<br/> MST: 0306099684 (Ngày cấp: 28-10-2008, nơi cấp: Cục Thuế Thành phố Hồ Chí Minh)*@
        <br /> <span style="color:#ff5400">XEGIADINHVIET.com không bán xe trực tiếp, quý khách mua xe vui lòng liên hệ trực tiếp người đăng tin.<br></span>
        © 2016 - Bản quyền của <a href="http://xegiadinhviet.com" title="oto, mua ban oto, oto nhap khau" style="color: #ffa500">xegiadinhviet.com</a>
        <br /> <span style="font-style: italic; color: rgba(168, 183, 51, 0.67)">(Xem tốt nhất trên trình duyệt <a rel="nofollow" class="f-copyright" target="_blank" href="http://www.mozilla.com/vi/" title="Tải Mozilla FireFox phiên bản Tiếng Việt về máy tính(miễn phí)"><b>FireFox</b></a> , <a rel="nofollow" class="f-copyright" target="_blank" href="http://www.google.com/chrome?hl=vi" title="Tải Google Chrome phiên bản Tiếng Việt về máy tính(miễn phí)"><b>Chrome</b></a>, <b>Opera</b>, <b>Safari</b> hoặc <b>IE 7</b> trở lên với độ phân giải từ 1024x768 trở lên).</span>
    </div>
    <div style="float: right; width: 100px;margin-top:3px">
        @*<a rel="nofollow" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=xxxx" target="_blank"><img src="img/bct.gif" title="xegiadinhviet.com đã đăng ký với Bộ Công Thương" alt=""></a>*@        
    </div>    
</div>