@using Microsoft.AspNet.Identity

<ul id="menu" class="nav nav-pills">
    <li class="active"><a href="~/home/index">Trang Chủ</a></li>    
    <li><a href="~/home/salon">Salon Ôtô</a></li>
    <li><a href="~/car/insert">Bán Ôtô</a></li>
    <li><a href="#">Cần mua</a></li>
    <li><a href="#">Liên Hệ</a></li>
    @if (Request.IsAuthenticated)
    {
        <li><a href="~/car/yours">Quản lý đăng tin</a></li>
    }

</ul>