<div id="panel_left">            
    <a href="" target="_blank" data-toggle="tooltip" title="Xe gia đình việt - Panel quảng cáo"><img src="~/Content/images/panel_left/xgdv_advertise.gif" class="advertise_left_panel" /></a>    
    <a href="http://xe-toyota.com.vn/" target="_blank" data-toggle="tooltip" title="Toyota-Phú Mỹ Hưng"><img src="~/Content/images/panel_left/1.jpg" class="advertise_left_panel" /></a>    
    <a href="http://dailybenthanhtoyota.com/" target="_blank" data-toggle="tooltip" title="Toyota-Bến Thành"><img src="~/Content/images/panel_left/2.png" class="advertise_left_panel" /></a>
    <a href="http://daily3schevrolet.com/" target="_blank" data-toggle="tooltip" title="Chervolet-Đông Đô Thành"><img src="~/Content/images/panel_left/3.gif" class="advertise_left_panel" /></a>    
    <a href="http://carcenter.vn/" target="_blank" data-toggle="tooltip" title="Car Center"><img src="~/Content/images/panel_left/5.gif" class="advertise_left_panel" /></a>    
    <a href="http://hyundaisonghan.com.vn/" target="_blank" data-toggle="tooltip" title="Huyndai-Sông Hàn"><img src="~/Content/images/panel_left/7.jpg" class="advertise_left_panel" /></a>
    <a href="http://bienhoadongnai.net/kia/ba-ria-vung-tau/" target="_blank" data-toggle="tooltip" title="Ford-Vũng Tàu"><img src="~/Content/images/panel_left/8.jpg" class="advertise_left_panel" /></a>
</div>
  
