@model List<string>

<div id="span_searching" class="expand_searching">
    <span class="label label-primary">Tìm kiếm </span>
</div>

<div id="search-car-firm">
 
    <fieldset class="the-fieldset">
        @*<legend class="the-legend">Tìm kiếm</legend>*@

        <div id="search_firm">
            <label>Hãng xe:</label>
            <select>
                <option value="Acura" selected>Acura</option>
                <option value="Audi">Audi</option>
                <option value="BMW">BMW</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Daewoo">Daewoo</option>
                <option value="Daihatsu">Daihatsu</option>
                <option value="Fiat">Fiat</option>
                <option value="Ford">Ford</option>
                <option value="Honda">Honda</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Isuzu">Isuzu</option>
                <option value="Kia">Kia</option>
                <option value="LandRover">LandRover</option>
                <option value="Lexus">Lexus</option>
                <option value="Mazda">Mazda</option>
                <option value="MercedesBenz">Mercedes Benz</option>
                <option value="Mitsubishi">Mitsubishi</option>
                <option value="Nissan">Nissan</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Porsche">Porsche</option>m
                <option value="Renault">Renault</option>
                <option value="Ssangyong">Ssangyong</option>
                <option value="Suzuki">Suzuki</option>
                <option value="Toyota">Toyota</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="Alfa Romeo">Alfa Romeo</option>
                <option value="Asia">Asia</option>
                <option value="Aston Martin">Aston Martin</option>
                <option value="Baic">Baic</option>
                <option value="Bentley">Bentley</option>
                <option value="Buick">Buick</option>
                <option value="BYD">BYD</option>
                <option value="Cadillac">Cadillac</option>
                <option value="Changan">Changan</option>
                <option value="Chery">Chery</option>
                <option value="Citroen">Citroen</option>
                <option value="Dodge">Dodge</option>
                <option value="Ferrari">Ferrari</option>
                <option value="Fuso">Fuso</option>
                <option value="Gaz">Gaz</option>
                <option value="Geely">Geely</option>
                <option value="GMC">GMC</option>
                <option value="Haima">Haima</option>
                <option value="Hino">Hino</option>
                <option value="Hummer">Hummer</option>
                <option value="Infiniti">Infiniti</option>
                <option value="Jaguar">Jaguar</option>
                <option value="Jeep">Jeep</option>
                <option value="Lada">Lada</option>
                <option value="Lamborghini">Lamborghini</option>
                <option value="Lifan">Lifan</option>
                <option value="Lincoln">Lincoln</option>
                <option value="Luxgen">Luxgen</option>
                <option value="Man">Man</option>
                <option value="Maserati">Maserati</option>
                <option value="Maybach">Maybach</option>
                <option value="Mekong">Mekong</option>
                <option value="Mercury">Mercury</option>
                <option value="MG">MG</option>
                <option value="Mini">Mini</option>
                <option value="Opel">Opel</option>
                <option value="Pontiac">Pontiac</option>
                <option value="Proton">Proton</option>
                <option value="RollsRoyce">Rolls Royce</option>
                <option value="Rover">Rover</option>
                <option value="Samsung">Samsung</option>
                <option value="Scion">Scion</option>
                <option value="Smart">Smart</option>
                <option value="Subaru">Subaru</option>
                <option value="SYM">SYM</option>
                <option value="Tesla">Tesla</option>
                <option value="Thaco">Thaco</option>
                <option value="Vinaxuki">Vinaxuki</option>
                <option value="Volvo">Volvo</option>
                <option value="Zotye">Zotye</option>
                <option value="Toyota">Toyota</option>

            </select>
        </div>

        <div id="search_status">
            <label>Tình trạng:</label>
            <input type="radio" name="search_status" value="OldStatus" checked /><span>&nbsp;Mới</span>
            <span>&nbsp;&nbsp;</span>
            <input type="radio" name="search_status" value="NewStatus" /><span>&nbsp;Cũ</span>
        </div>

        <div id="search_place">
            <label>Nơi bán:</label>
            <select>
                <option value="HCM" selected>Hồ Chí Minh</option>
                <option value="HN">Hà Nội</option>
                <option value="DN">Đà Nẵng</option>
                <option value="ALL">Toàn Quốc</option>
            </select>
        </div>

        <div id="search_model">
            <div id="search_model_all">
                <label id="search_model_label">Model:</label>
                <div id="check_model_all">
                    <input type="checkbox" checked="checked" id="select-model-all" /> <label>All</label>
                </div>
            </div>
            <div id="search_model_box">
                @foreach (var carModel in Model.ToList().ToArray())
                {
                    <div>
                        <input type="checkbox" class="checkbox-model" checked="checked" /> <label>@carModel</label>
                    </div>
                }
            </div>
        </div>

        @*fsdfhdksfdksafdsaf*@

        <div id="search_origin">
            <label>Xuất xứ:</label>
            <select>
                <option value="tatca" selected>Tất cả</option>
                <option value="trongnuoc">Trong nước</option>
                <option value="nhapkhau">Nhập khẩu</option>
              
            </select>
        </div>
        @*hop so*@

        <div id="search_box_number">
            <label>Hộp số:</label>
            <select>
                <option value="tatca" selected>Tất cả</option>
                <option value="sotudong">Số tự động</option>
                <option value="sotay">Số tay</option>

            </select>
        </div>

        <div id="search_year_product">
            <label>Năm SX:</label>
            <select>
                <option value="All" selected>Tất cả</option>
                <option value="2016">--2016--</option>
                <option value="2015">--2015--</option>
                <option value="2014">--2014--</option>
                <option value="2013">--2013--</option>
                <option value="2012">--2012--</option>
                <option value="2011">--2011--</option>
                <option value="2010">--2010--</option>
                <option value="2009">--2009--</option>
                <option value="2008">--2008--</option>
                <option value="2007">--2007--</option>
                <option value="2006">--2006--</option>
                <option value="2005">--2005--</option>
                <option value="2004">--2004--</option>
                <option value="2003">--2003--</option>
                <option value="2002">--2002--</option>
                <option value="2001">--2001--</option>
                <option value="2000">--2000--</option>
                <option value="1999">--1999--</option>
                <option value="<1999">--1998--</option>
             

            </select>
        </div>
        <div id="search_price">
            <div id="search_price_option">
                <label>Giá:</label>                
            </div>
            <div id="search_price_from">
                <select>
                    <option value="0" selected>Từ giá</option>
                    <option value="100">100 Triệu</option>
                    <option value="200">200 Triệu</option>
                    <option value="300">300 Triệu</option>
                    <option value="400">400 Triệu</option>
                    <option value="500">500 Triệu</option>
                    <option value="600">600 Triệu</option>
                    <option value="700">700 Triệu</option>
                    <option value="800">800 Triệu</option>
                    <option value="900">900 Triệu</option>
                    <option value="1">1 Tỉ</option>
                    <option value="2">2 Tỉ</option>
                    <option value="3">3 Tỉ</option>
                    <option value="4">4 Tỉ</option>
                    <option value=">5">>5 Tỉ</option>
                   
                </select>
            </div>
            <span style="float:left">&nbsp;&nbsp;-->&nbsp;&nbsp;</span>
            <div id="search_price_to">
                <select>
                    <option value="0" selected>Đến giá</option>
                    <option value="100">100 Triệu</option>
                    <option value="200">200 Triệu</option>
                    <option value="300">300 Triệu</option>
                    <option value="400">400 Triệu</option>
                    <option value="500">500 Triệu</option>
                    <option value="600">600 Triệu</option>
                    <option value="700">700 Triệu</option>
                    <option value="800">800 Triệu</option>
                    <option value="900">900 Triệu</option>
                    <option value="1">1 Tỉ</option>
                    <option value="2">2 Tỉ</option>
                    <option value="3">3 Tỉ</option>
                    <option value="4">4 Tỉ</option>
                    <option value=">5">>5 Tỉ</option>
                </select>
            </div>

            <div id="searching">
                <a href="javascript:void(null);" onclick="$('#fsearch').submit();" class="btn-search"></a>
            </div>
        </div>

        
    </fieldset>

</div>

@section Scripts
{
    
}