@model List<string>

<script src="~/Content/Scripts/Search.js"></script>
<div id="search-car-firm">

    <fieldset class="the-fieldset">
        <legend class="the-legend">Tim kiem</legend>

        <div id="search_firm">
            <label>Hang xe:</label>
            <select>
                <option value="Acura" selected>Acura</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
            </select>
        </div>

        <div id="search_status">
            <label>Tinh Trang:</label>
            <input type="radio" name="search_status" value="OldStatus" checked /><span>Moi</span>
            <span>&nbsp;&nbsp;</span>
            <input type="radio" name="search_status" value="NewStatus" /><span>Cu</span>
        </div>

        <div id="search_place">
            <label>Noi ban:</label>
            <select>
                <option value="HCM" selected>Ho Chi Minh </option>
                <option value="HN">Ha Noi</option>
                <option value="ALL">Toan Quoc</option>
            </select>
        </div>

        <div id="search_model">
            <div id="search_model_all">
                <label id="search_model_label">Model:</label>
                <div id="check_model_all">
                    <input type="checkbox" checked="checked" id="select-model-all" /> <label>All</label>
                </div>
            </div>
            <div id="search_model_box">
                @foreach (var carModel in Model.ToList().ToArray())
                {
                    <div>
                        <input type="checkbox" class="checkbox-model" checked="checked" /> <label>@carModel</label>
                    </div>
                }
            </div>
        </div>


        <div id="search_price">
            <div id="search_price_option">
                <label>Gia:</label>
                <input type="radio" name="price" value="ALLPrice" checked /><span>Tat ca</span>
                <span>&nbsp;&nbsp;</span>
                <input type="radio" name="price" value="ALLPrice" onclick="function() { }" /><span>Trong khoang</span>
            </div>
            <div id="search_price_from">
                <select>
                    <option value="100" selected>100 Trieu</option>
                    <option value="200">200 Trieu</option>
                    <option value="300">300 Trieu</option>
                </select>
            </div>
            <span style="float:left">&nbsp;&nbsp;-->&nbsp;&nbsp;</span>
            <div id="search_price_to">
                <select>
                    <option value="100" selected>100 Trieu</option>
                    <option value="200">200 Trieu</option>
                    <option value="300">300 Trieu</option>
                </select>
            </div>
        </div>

        
    </fieldset>

</div>