<form name=fsearch id=fsearch action="oto/" method=post>
    <div id="search" class="search-box">       
        <div class="search-input">
            <input type="text" class="text-input" name="search_txt" id="txt-search" />
            <a href="javascript:void(null);" onclick="$('#fsearch').submit();" class="btn-search"></a>
        </div>
    </div>
</form>
