<div class="search-box">
    <input type="text" class="text-input" name="search_txt" id="txt-search" />
    <a href="javascript:void(null);" id="btnSearch" class="btn-search"></a>
</div>

<script>

    $("#txt-search").on("keydown", function (event) {
        if (event.which == 13)
            search();
    });

    $("#btnSearch").click(function () {        
        search();
    });

    function search() {
        handler.showResultSearching();

        var searchingUrl = "/Car/SearchingCarsByText";

        var criteria = {
            ItemsPerPage: ItemsPerPage,
            CurrentPageIndex: 0,
            Text: $("#txt-search").val()
        };

        var SearchingCar = new Car.SearchingCar();
        SearchingCar.Searching(searchingUrl, criteria);

        handler.inActiveTab($("#div_searching_tab"));
    }

</script>

