<script>
    function SearchingCarByCriteria() {
        var searchingUrl = "/Car/SearchingCars";

        var models = "";
        if ($("#select-model-all").is(':checked')) {
            models = "All";
        }
        else {
            var selectedModels = [];
            $('#search_model_box input:checked').each(function () {
                selectedModels.push($(this).attr('name'));                
            });
            models = selectedModels.toString();
                        
        }

        var criteria = {
            FirmName: $("#select_firm").val(),
            Models: models,
            IsGearBox: $("#select_gearbox").val(),
            IsNew: $("#select_status").val(),
            IsImport: $("#select_origin").val(),
            FromPrice: $("#select_price_from").val(),
            ToPrice: $("#select_price_to").val(),
            Year: $("#select_year").val(),
            Province: $("#select_place").val(),
            ItemsPerPage: itemsPerPage,
            currentPageIndex: 0
        };

        SearchingCar.Searching(searchingUrl, criteria);

        handler.showResultSearching();
    }
</script>


<div id="div_searching_criteria" class="div-car-tab">
    <ul class="ul-car-tab">
        <li id="car_searching" class=""><a href="javascript:void(null);" title="Tìm kiếm xe bán">Tìm kiếm</a></li>
        <li id="car_for_you" class="tabactive"><a href="javascript:void(null);" title="Xe phù hợp nhất với bạn">Xe phù hợp với bạn</a></li>
        <li id="car_new" class=""><a href="javascript:void(null);" title="Xe mới">Xe mới</a></li>
        <li id="car_old" class=""><a href="javascript:void(null);" title="Xe cũ">Xe cũ</a></li>
        <li id="car_import" class=""><a href="javascript:void(null);" title="Xe nhập khẩu">Xe  nhập khẩu</a></li>
        <li id="car_domestic" class=""><a href="javascript:void(null);" title="Xe trong nước">Xe trong nước</a></li>
    </ul>
</div>

<div id="search_car_firm">

    <fieldset class="the-fieldset">
        <div class="search-section">
            <label>Hãng xe:</label>
            <select id="select_firm">
                <option value="All" selected>Tất cả</option>
                <option value="Acura">Acura</option>
                <option value="Audi">Audi</option>
                <option value="Asia">Asia</option>
                <option value="Aston Martin">Aston Martin</option>
                <option value="AlfaRomeo">Alfa Romeo</option>
                <option value="BMW">BMW</option>
                <option value="Baic">Baic</option>
                <option value="Bentley">Bentley</option>
                <option value="Buick">Buick</option>
                <option value="BYD">BYD</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Cadillac">Cadillac</option>
                <option value="Changan">Changan</option>
                <option value="Chery">Chery</option>
                <option value="Citroen">Citroen</option>
                <option value="Daewoo">Daewoo</option>
                <option value="Daihatsu">Daihatsu</option>
                <option value="Dodge">Dodge</option>
                <option value="Fiat">Fiat</option>
                <option value="Ford">Ford</option>
                <option value="Ferrari">Ferrari</option>
                <option value="Fuso">Fuso</option>
                <option value="Gaz">Gaz</option>
                <option value="Geely">Geely</option>
                <option value="GMC">GMC</option>
                <option value="Honda">Honda</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Haima">Haima</option>
                <option value="Hino">Hino</option>
                <option value="Hummer">Hummer</option>
                <option value="Isuzu">Isuzu</option>
                <option value="Kia">Kia</option>
                <option value="LandRover">LandRover</option>
                <option value="Lexus">Lexus</option>
                <option value="Mazda">Mazda</option>
                <option value="MercedesBenz">Mercedes Benz</option>
                <option value="Mitsubishi">Mitsubishi</option>
                <option value="Nissan">Nissan</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Porsche">Porsche</option>m
                <option value="Renault">Renault</option>
                <option value="Ssangyong">Ssangyong</option>
                <option value="Suzuki">Suzuki</option>
                <option value="Infiniti">Infiniti</option>
                <option value="Jaguar">Jaguar</option>
                <option value="Jeep">Jeep</option>
                <option value="Lada">Lada</option>
                <option value="Lamborghini">Lamborghini</option>
                <option value="Lifan">Lifan</option>
                <option value="Lincoln">Lincoln</option>
                <option value="Luxgen">Luxgen</option>
                <option value="Man">Man</option>
                <option value="Maserati">Maserati</option>
                <option value="Maybach">Maybach</option>
                <option value="Mekong">Mekong</option>
                <option value="Mercury">Mercury</option>
                <option value="MG">MG</option>
                <option value="Mini">Mini</option>
                <option value="Opel">Opel</option>
                <option value="Pontiac">Pontiac</option>
                <option value="Proton">Proton</option>
                <option value="RollsRoyce">Rolls Royce</option>
                <option value="Rover">Rover</option>
                <option value="Samsung">Samsung</option>
                <option value="Scion">Scion</option>
                <option value="Smart">Smart</option>
                <option value="Subaru">Subaru</option>
                <option value="SYM">SYM</option>
                <option value="Tesla">Tesla</option>
                <option value="Thaco">Thaco</option>
                <option value="Toyota">Toyota</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="Vinaxuki">Vinaxuki</option>
                <option value="Volvo">Volvo</option>
                <option value="Zotye">Zotye</option>
            </select>
        </div>

        <div class="search-section">
            <label>Tình trạng:</label>
            <select id="select_status">
                <option value="-1" selected>Tất cả</option>
                <option value="1">Mới</option>
                <option value="0">Cũ</option>
            </select>
        </div>

        <div class="search-section">
            <label>Nơi bán:</label>
            <select id="select_place">
                <option value="08" selected>Hồ Chí Minh</option>
                <option value="04">Hà Nội</option>
                <option value="0511">Đà Nẵng</option>
                <option value="0">Toàn Quốc</option>
            </select>
        </div>

        <div class="search-section">
            <label>Model:</label>
            <input type="checkbox" checked="checked" id="select-model-all" /> <label style="font-weight:normal">All</label>
        </div>

        <div id="search_model_box" class="search-section" >            
        </div>

        <div class="search-section">
            <label>Xuất xứ:</label>
            <select id="select_origin">
                <option value="-1" selected>Tất cả</option>
                <option value="0">Trong nước</option>
                <option value="1">Nhập khẩu</option>
            </select>
        </div>

        <div class="search-section">
            <label>Hộp số:</label>
            <select id="select_gearbox">
                <option value="-1" selected>Tất cả</option>
                <option value="0">Số tự động</option>
                <option value="1">Số tay</option>
            </select>
        </div>

        <div class="search-section">
            <label>Năm SX:</label>
            <select id="select_year">
                <option value="0" selected>Tất cả</option>
                <option value="2016">--2016--</option>
                <option value="2015">--2015--</option>
                <option value="2014">--2014--</option>
                <option value="2013">--2013--</option>
                <option value="2012">--2012--</option>
                <option value="2011">--2011--</option>
                <option value="2010">--2010--</option>
                <option value="2009">--2009--</option>
                <option value="2008">--2008--</option>
                <option value="2007">--2007--</option>
                <option value="2006">--2006--</option>
                <option value="2005">--2005--</option>
                <option value="2004">--2004--</option>
                <option value="2003">--2003--</option>
                <option value="2002">--2002--</option>
                <option value="2001">--2001--</option>
                <option value="2000">--2000--</option>
                <option value="1999">--1999--</option>
                <option value="1998">--1998--</option>
            </select>
        </div>

        <div class="search-section">
            <label style="width:55px;">Giá:</label>
            <select id="select_price_from">
                <option value="0" selected>Từ giá</option>
                <option value="100">100 Triệu</option>
                <option value="200">200 Triệu</option>
                <option value="300">300 Triệu</option>
                <option value="400">400 Triệu</option>
                <option value="500">500 Triệu</option>
                <option value="600">600 Triệu</option>
                <option value="700">700 Triệu</option>
                <option value="800">800 Triệu</option>
                <option value="900">900 Triệu</option>
                <option value="1000">1 Tỉ</option>
                <option value="2000">2 Tỉ</option>
                <option value="3000">3 Tỉ</option>
                <option value="4000">4 Tỉ</option>
                <option value="5000">>5 Tỉ</option>

            </select>
        </div>

        <div class="search-section">
            <span style="float:left">&nbsp;&nbsp;-->&nbsp;&nbsp;</span>
            <select id="select_price_to">
                <option value="0" selected>Đến giá</option>
                <option value="100">100 Triệu</option>
                <option value="200">200 Triệu</option>
                <option value="300">300 Triệu</option>
                <option value="400">400 Triệu</option>
                <option value="500">500 Triệu</option>
                <option value="600">600 Triệu</option>
                <option value="700">700 Triệu</option>
                <option value="800">800 Triệu</option>
                <option value="900">900 Triệu</option>
                <option value="1000">1 Tỉ</option>
                <option value="2000">2 Tỉ</option>
                <option value="3000">3 Tỉ</option>
                <option value="4000">4 Tỉ</option>
                <option value="5000">>5 Tỉ</option>
            </select>
        </div>

        <div id="searching">
            <a href="javascript:void(null);" onclick="SearchingCarByCriteria();" class="btn-search"></a>
        </div>

    </fieldset>

</div>