@model List<string>

<div id="search-car-firm">

    <fieldset class="the-fieldset">
        <legend class="the-legend">Tìm kiếm</legend>

        <div id="search_firm">
            <label>Hãng xe:</label>
            <select>
                <option value="Acura" selected>Acura</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
                <option value="Audi">Audi</option>
                <option value="Toyota">Toyota</option>
            </select>
        </div>

        <div id="search_status">
            <label>Tình trạng:</label>
            <input type="radio" name="search_status" value="OldStatus" checked /><span>&nbsp;Mới</span>
            <span>&nbsp;&nbsp;</span>
            <input type="radio" name="search_status" value="NewStatus" /><span>&nbsp;Cũ</span>
        </div>

        <div id="search_place">
            <label>Nơi bán:</label>
            <select>
                <option value="HCM" selected>Hồ Chí Minh</option>
                <option value="HN">Hà Nội</option>
                <option value="ALL">Đà Nẵng</option>
                <option value="ALL">Toàn Quốc</option>
            </select>
        </div>

        <div id="search_model">
            <div id="search_model_all">
                <label id="search_model_label">Model:</label>
                <div id="check_model_all">
                    <input type="checkbox" checked="checked" id="select-model-all" /> <label>All</label>
                </div>
            </div>
            <div id="search_model_box">
                @foreach (var carModel in Model.ToList().ToArray())
                {
                    <div>
                        <input type="checkbox" class="checkbox-model" checked="checked" /> <label>@carModel</label>
                    </div>
                }
            </div>
        </div>


        <div id="search_price">
            <div id="search_price_option">
                <label>Giá:</label>                
            </div>
            <div id="search_price_from">
                <select>
                    <option value="0" selected>Từ giá</option>
                    <option value="100">100 Triệu</option>
                    <option value="200">200 Triệu</option>
                    <option value="300">300 Triệu</option>
                </select>
            </div>
            <span style="float:left">&nbsp;&nbsp;-->&nbsp;&nbsp;</span>
            <div id="search_price_to">
                <select>
                    <option value="0" selected>Đến giá</option>
                    <option value="100">100 Triệu</option>
                    <option value="200">200 Triệu</option>
                    <option value="300">300 Triệu</option>
                </select>
            </div>

            <div id="searching">
                <a href="javascript:void(null);" onclick="$('#fsearch').submit();" class="btn-search"></a>
            </div>
        </div>

        
    </fieldset>

</div>

@section Scripts
{
    
}