<div class="div-showroom">
    <div class="showroom-section">

        <div class="showroom-photo">
            <a href="http://www.toyota-taf.com.vn/" target="_blank">                
                <img src="~/Images/Cars_Showroom/01.jpg" alt="Toyota An Thành Fukushima" title="Western Ford" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">

            <a href="http://www.toyota-taf.com.vn/" target="_blank">Toyota An Thành Fukushima </a>
        </div>
        <div class="showroom-decription">
            Đại lý Toyota 100% vốn Nhật Bản. Hotline: 0903.168.567
        </div>
        <div class="showroom-address">
            606 Trần Hưng Đạo, Phường 2, Quận 5, TP.HCM
        </div>
    </div>
    <div class="showroom-section">

        <div class="showroom-photo">
            <a href="http://www.westernford.com.vn/" target="_blank">                
                <img src="~/Images/Cars_Showroom/02.jpg" alt="Western Ford" title="Western Ford" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">

            <a href="http://www.westernford.com.vn/" target="_blank"> Western Ford </a>
        </div>
        <div class="showroom-decription">
            Đại lý cấp 1 của Ford Việt Nam cam kết :giá ưu đãi nhất cùng chất lượng dịch vụ tốt nhất. Liên hệ trực tiếp để lái thử và cảm nhận
        </div>
        <div class="showroom-address">
            530 Kinh Dương Vương, P. An Lạc, Q. Bình Tân, TP HCM
        </div>
    </div>

    <div class="showroom-section">
        <div class="showroom-photo">
            <a href="http://www.hondaotoconghoa.com.vn/" target="_blank">

                <img src="~/Images/Cars_Showroom/03.jpg" alt="Honda Cộng Hòa" title="Honda Cộng Hòa" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">
            <a href="http://www.hondaotoconghoa.com.vn/" target="_blank">Honda Cộng Hòa </a>
        </div>
        <div class="showroom-decription">
            Đại lý chính hãng của Honda Việt Nam
        </div>
        <div class="showroom-address">
            18 Cộng Hòa, P4, Quận Tân Bình, TPHCM
        </div>
    </div>
    <div class="showroom-section">
        <div class="showroom-photo">
            <a href="http://www.chevroletanthai.com.vn/" target="_blank">
                <img src="~/Images/Cars_Showroom/04.jpg" alt="Chevrolet An Thái" title="Chevrolet An Thái" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">

            <a href="http://www.chevroletanthai.com.vn/" target="_blank">Chevrolet An Thái </a>
        </div>
        <div class="showroom-decription">
            CAM KẾT GIÁ BÁN-CHẤT LƯỢNG-DỊCH VỤ HẬU MÃI TỐT NHẤT MIỀN NAM
        </div>
        <div class="showroom-address">
            464 Kinh Dương Vương , Phường An Lạc, Quận Bình Tân, TP Hồ Chí Minh
        </div>
    </div>
    <div class="showroom-section">
        <div class="showroom-photo">
            <a href="http://www.mazdagovap.vn/" target="_blank">                
                <img src="~/Images/Cars_Showroom/05.jpg" alt="Mazda Gò Vấp" title="Mazda Gò Vấp" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">

            <a href="http://www.mazdagovap.vn/" target="_blank">Mazda Gò Vấp </a>
        </div>
        <div class="showroom-decription">
            Uy tín – chất lượng
        </div>
        <div class="showroom-address">
            189 Nguyễn Oanh, P.10, Q. Gò Vấp, Tp.HCM
        </div>
    </div>
    <div class="showroom-section">
        <div class="showroom-photo">
            <a href="http://chevrolet-saigon.com/" target="_blank">                
                <img src="~/Images/Cars_Showroom/06.jpg" alt="Chevrolet Sài Gòn" title="Chevrolet Sài Gòn" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">

            <a href="http://chevrolet-saigon.com/" target="_blank">Chevrolet Sài Gòn </a>
        </div>
        <div class="showroom-decription">
            Khuyến mãi hấp dẫn - Giao xe ngay - Vay ngân hàng 85% - Thủ tục nhanh
        </div>
        <div class="showroom-address">
            161 F Dạ Nam, Phường 3, Quận 8, TPHCM
        </div>
    </div>
    <div class="showroom-section">
        <div class="showroom-photo">
            <a href="http://www.toyota-ansuong.vn/" target="_blank">                
                <img src="~/Images/Cars_Showroom/07.jpg" alt="Toyota An Sương" title="Toyota An Sương" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">

            <a href="http://www.toyota-ansuong.vn/" target="_blank"> Toyota An Sương </a>
        </div>
        <div class="showroom-decription">
            Đại lý chính hãng của Toyota Việt Nam
        </div>
        <div class="showroom-address">
            382 Quốc lộ 22, Phường Trung Mỹ Tây, Q12, TPHCM
        </div>
    </div>
    <div class="showroom-section">
        <div class="showroom-photo">
            <a href="http://www.minicoopersaigon.com/" target="_blank">                
                <img src="~/Images/Cars_Showroom/08.jpg" alt="Mini Cooper Sài Gòn" title="Mini Cooper Sài Gòn" width="234" height="120" />
            </a>
        </div>
        <div class="showroom-name">
            <a href="http://www.minicoopersaigon.com/" target="_blank">Mini Cooper Sài Gòn </a>
        </div>
        <div class="showroom-decription">
            Sành điệu - Thời trang - Cá tính : Là những gì MINI sẽ mang đến cho bạn
        </div>
        <div class="showroom-address">
            74 Nguyễn Văn Trỗi, Phường 8, Quận Phú Nhuận, Tp.HCM
        </div>
    </div>
</div>  