<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://www.toyota-ansuong.vn/chuong-trinh-lai-thu-xe-2016.html" target="_blank">
                <img src="~/Content/Images/slider/01.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>
        <div class="item">
            <a href="http://www.minicoopersaigon.com" target="_blank">
                <img src="~/Content/Images/slider/02.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>
        @*<div class="item">
            <a href="http://chevroletgiaiphong3s.net" target="_blank">
                <img src="~/Content/Images/slider/03.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>*@
        @*<div class="item">
            <a href="http://hondaotophuocthanh.com.vn" target="_blank">
                <img src="~/Content/Images/slider/04.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>*@
        <div class="item">
            <a href="http://peugeotphumyhung.vn" target="_blank">
                <img src="~/Content/Images/slider/05.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>
        <div class="item">            
            <a href="http://toyotasaigon.com" target="_blank">
                <img src="~/Content/Images/slider/06.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>
        <div class="item">
            <a href="http://toyotaphumyhung.com.vn" target="_blank">
                <img src="~/Content/Images/slider/07.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>
        @*<div class="item">
            <a href="http://giaxe.bmw.vn/thong-tin-showroom/21-BMW-Phu-My-Hung/gioi-thieu" target="_blank">
                <img src="~/Content/Images/slider/08.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>*@
        <div class="item">
            <a href="http://www.mazdabinhduong.vn" target="_blank">
                <img src="~/Content/Images/slider/09.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>
        <div class="item">
            <a href="http://chevroletnew.vn" target="_blank">
                <img src="~/Content/Images/slider/10.jpg" alt="Chania" width="460" height="445" />
            </a>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>