
@*http://www.9lessons.info/2012/09/multiple-file-drag-and-drop-upload.html*@
xxxxxxxxxx

<h3>Chọn hình</h3>


<script type="text/javascript">
    var config = {
        support: "image/jpg,image/png,image/bmp,image/jpeg,image/gif",		// Valid file formats
        form: "divCarInsert",					// Form ID
        dragArea: "dragAndDropFiles",		// Upload Area ID
        uploadUrl: "upload.php"				// Server side upload url
    }
    $(document).ready(function () {
        initMultiUploader(config);
    });
</script>

<link href="~/Content/css/multiupload.css" rel="stylesheet" />


<div id="dragAndDropFiles" class="uploadArea">
    <h1>Drop Images Here</h1>
</div>

<div>
    <input type="file" name="multiUpload" id="multiUpload" multiple />
    <br />
    <input type="submit" id="uploadCar" value="Đăng tin" class="buttonUpload" />
</div> 

<div class="progressBar">
    <div class="status"></div>
</div>

<script src="~/Content/scripts/lib/multiupload.js"></script>