
 @** More info at [www.dropzonejs.com](http://www.dropzonejs.com)*@
xxxxxxxxxx

<h3>Chọn hình</h3>

<link href="~/Content/css/dropzone.css" rel="stylesheet" />

<form action="/file-upload" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>    

</form>

<br />

<input type="submit" id="uploadCar" value="Đăng tin" class="buttonUpload" />

<script src="~/Content/scripts/lib/dropzone.js"></script>