@{
    ViewBag.Title = "Góc cộng đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-news">    

    <div class="news-item item-normal-subtitle">
        <a href="/society/guong-mat-that-cua-than-chet-1">
            <img src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/0.jpg" data-width="490" data-pwidth="500"  alt="" class="img__item img--responsive is-desktop">
        </a>
        <h2>
            <a href="/society/guong-mat-that-cua-than-chet-1">Guơng mặt thật cuả thần chết</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 10/02/2017 20:19
        </p>
        <p>Hơn 40 nguời buớc lên một chiếc xe. Không ai buớc xuống. Đại thảm kịch diễn ra chỉ sau cú đánh lái ẩu cuả một nguời.</p>
     
    </div>

    <div class="pagination_news right">
        <a href="/society/page/1">1</a>        
    </div>
</div>
