@{
    ViewBag.Title = "Góc cộng đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-news">    

    <div class="news-item item-normal-subtitle">
        <a href="/society/chay-xe-may-suyt-bo-mang-vi-di-thang-lan-re-trai-6">
            <img src="https://i-vnexpress.vnecdn.net/2018/03/27/tainan2-1522131432_500x300.jpg" alt="Chạy xe máy suýt bỏ mạng vì đi thẳng ở làn rẽ trái">
        </a>
        <h2>
            <a href="/society/chay-xe-may-suyt-bo-mang-vi-di-thang-lan-re-trai-6">Chạy xe máy suýt bỏ mạng vì đi thẳng ở làn rẽ trái</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 28/3/2018 9:19
        </p>
        <p>Người đàn ông chạy xe máy suýt chết vì chuyển sang làn rẽ trái nhưng lại đi thẳng ở ngã tư Trần Duy Hưng - Khuất Duy Tiến (Hà Nội).</p>

    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/society/gia-nhu-co-oto-de-di-trong-mua-dong-5">
            <img src="~/Content/images/news/society_5.jpg" class="vne_lazy_image lazyloaded" alt="Giá như có ôtô để đi trong mùa đông">
        </a>
        <h2>
            <a href="/society/gia-nhu-co-oto-de-di-trong-mua-dong-5">Giá như có ôtô để đi trong mùa đông</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 6/2/2018 9:19
        </p>
        <p>Nhìn cảnh tượng các em nhỏ tím tái ngồi sau xe máy dưới cái lạnh 7-8 độ C của miền Bắc tôi thấy xót xa.</p>

    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/society/nhung-bai-hoc-nho-doi-cua-mot-nu-tai-xe-4">
            <img src="https://i-vnexpress.vnecdn.net/2017/10/26/IMG0495JPG-1509034994-2187-1509035019_180x108.jpg" data-width="490" data-width="500" alt="nhung-bai-hoc-nho-doi-cua-mot-nu-tai-xe" class="img__item img--responsive is-desktop">
        </a>
        <h2>
            <a href="/society/nhung-bai-hoc-nho-doi-cua-mot-nu-tai-xe-4">Những bài học nhớ đời của một nữ tài xế</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 4/1/2018 9:19
        </p>
        <p>Sau 7 năm cầm lái, tôi có vài kinh nghiệm dành cho các bạn mới lái xe, chủ yếu là các bạn nữ.</p>

    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/society/xu-ly-the-nao-de-thoat-khoi-oto-chim-nuoc-3">
            <img src="https://autopro56.mediacdn.vn/zoom/650_365/2017/photo1513424114428-1513424114428.jpg" data-width="490" data-width="500" alt="xu-ly-the-nao-de-thoat-khoi-oto-chim-nuoc" class="img__item img--responsive is-desktop">
        </a>
        <h2>
            <a href="/society/xu-ly-the-nao-de-thoat-khoi-oto-chim-nuoc-3">Xử lý thế nào để thoát khỏi ô tô chìm dưới nước?</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 4/1/2018 9:19
        </p>
        <p>Trường hợp tai nạn xảy ra ở gần sông, hồ, xe rất có thể bị rơi xuống nước. Nếu không biết cách thoát nạn, tài xế rất dễ hoảng loạn và không thể ra khỏi xe.</p>

    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/society/giao-thong-toi-te-o-cong-truong-hoc-2">
            <img src="https://i-vnexpress.vnecdn.net/2017/10/10/12345-1359-1507607765.jpg" data-width="490" data-width="500" alt="giao-thong-toi-te-o-cong-truong-hoc" class="img__item img--responsive is-desktop">
        </a>
        <h2>
            <a href="/society/giao-thong-toi-te-o-cong-truong-hoc-2">Giao thông tồi tệ ở cổng trường học - người Việt muốn dạy gì cho con trẻ?</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 11/10/2017 9:19
        </p>
        <p>Một trong những nơi hỗn loạn kém ý thức nhất sau bến xe có lẽ là cổng trường học.</p>

    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/society/guong-mat-that-cua-than-chet-1">
            <img src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/0.jpg" data-width="490" data-width="500"  alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="img__item img--responsive is-desktop">
        </a>
        <h2>
            <a href="/society/guong-mat-that-cua-than-chet-1">Guơng mặt thật cuả thần chết</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 10/02/2017 20:19
        </p>
        <p>Hơn 40 nguời buớc lên một chiếc xe. Không ai buớc xuống. Đại thảm kịch diễn ra chỉ sau cú đánh lái ẩu cuả một nguời.</p>     
    </div>

   

    <div class="pagination_news right">
        <a href="/society/page/1">1</a>        
    </div>
</div>
