@{
    ViewBag.Title = "Góc cộng đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-news">    

    <div class="news-item item-normal-subtitle">
        <a href="/society/giao-thong-toi-te-o-cong-truong-hoc-2">
            <img src="https://i-vnexpress.vnecdn.net/2017/10/10/12345-1359-1507607765.jpg" data-width="490" data-width="500" alt="giao-thong-toi-te-o-cong-truong-hoc" class="img__item img--responsive is-desktop">
        </a>
        <h2>
            <a href="/society/giao-thong-toi-te-o-cong-truong-hoc-2">Giao thông tồi tệ ở cổng trường học - người Việt muốn dạy gì cho con trẻ?</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 11/10/2017 9:19
        </p>
        <p>Một trong những nơi hỗn loạn kém ý thức nhất sau bến xe có lẽ là cổng trường học.</p>

    </div>

    <div class="news-item item-normal-subtitle">
        <a href="/society/guong-mat-that-cua-than-chet-1">
            <img src="https://s.vnecdn.net/vnexpress/j/v13/event/longform/thoisu/guongmatthanchet/images/0.jpg" data-width="490" data-width="500"  alt="xegiadinhviet-oto-guong-mat-that-cua-than-chet" class="img__item img--responsive is-desktop">
        </a>
        <h2>
            <a href="/society/guong-mat-that-cua-than-chet-1">Guơng mặt thật cuả thần chết</a>
        </h2>
        <p class="date-time">
            <a href="/home/society">
                <b>Góc cộng đồng</b>
            </a> | 10/02/2017 20:19
        </p>
        <p>Hơn 40 nguời buớc lên một chiếc xe. Không ai buớc xuống. Đại thảm kịch diễn ra chỉ sau cú đánh lái ẩu cuả một nguời.</p>     
    </div>

   

    <div class="pagination_news right">
        <a href="/society/page/1">1</a>        
    </div>
</div>
