#div_car_detail{
    padding:10px;
}

.car-detail-info{
    margin-top:5px;
}

.div-car-tab .ul-car-tab{
    margin: 0;
    padding: 0px 0;
    height: 34px;
}

.div-car-tab .ul-car-tab li{
    display: block;
    float: left;
    background: none;
    padding-left: 0px;
}

.div-car-tab li{
    margin: .25em 0;
    list-style: none;
}

.div-car-tab ul.ul-car-tab li.tabactive a {
    margin-bottom: -1px;
    height: 31px;
    background: #FFFFFF;
    border-bottom: none;
    font-weight: bold;
    color: #000000;
}

.div-car-tab ul.ul-car-tab li a {
    display: block;
    float: left;
    background: #eeeeee url(../../Images/common/tab.png) repeat-x scroll center center;
    border: 1px solid #dedede;
    margin: 0 auto;
    text-decoration: none;
    line-height: 30px;
    padding: 0 8px;
}

#car_detail_slide{
    width:62%;
    float:left;
}

#car_detail_images_list{    
    margin: 5px 10px 10px 8px;
    padding: 0px;
    float: left;
}

#car_detail_images_list img {
    float: left;
    width: 63px;
    height: 47px;
    margin: 1px;
}