#car-salon-head {
    height: 80px;
    width: 758px;
    margin: 0 auto;
}
#car-salon-search {
    width: 758px;
    background: #e8e8e8;
    min-height: 80px;
    float: left;
    position: relative;
}
#car-salon-search-textbox {
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}
.salontype {
    display: inline-block;
    float: left;
    width: 854px;
    height: 40px;
}
.saloncity {
    display: inline-block;
    float: left;
    width: 854px;
    height: 39px;
}
#car-label-search {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
   text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
#car-lable-search-header {
    float: left;
    width: 650px;
    /*font-style:normal;*/
}

#car-lable-search-box {
    float: left;
    width: 250px;
    /*font-style:normal;*/
}

#salon-box {
    float: left;
    padding-top: 10px;
}
.box-all {
    width: 760px;
    border-bottom: 1px dotted #428bca;
}
.box-left {
    width: 380px;
    /*border-bottom: 1px dotted #428bca;*/
}
.box-right {
     width: 380px;
    /*border-bottom: 1px dotted #428bca;*/
}
.salon-photo {
    float: left;
    width: 150px;
    height: 104px;
    padding-right: 0px;
    margin-bottom:25px;
}
.salon-name {
    float: left;
    width: 150px;
   
}
.salon-decription {
    float: left;
    width: 150px;
    font: 13px/19px 'Arial';
    color: #222;
}
.salon-address {
    float: left;
    width: 150px;
    padding-left: 15px;
    background: url('/images/location_03-v2.png') no-repeat left;
    background-position: 0 3px;
}