#div_car_detail{
    padding:10px;
}

.car-detail-info{
    margin-top:5px;
}

.div-car-tab .ul-car-tab, .ul-car-detail-tab{
    margin: 0;
    padding: 0px 0;
    height: 34px;
}

.div-car-tab .ul-car-tab li,{
    display: block;
    float: left;
    background: none;
    padding-left: 0px;
}

.div-car-tab li{
    margin: .25em 0;
    list-style: none;
}

.div-car-tab ul.ul-car-tab li.tabactive a {
    margin-bottom: -1px;
    height: 31px;
    background: #FFFFFF;
    border-bottom: none;
    font-weight: bold;
    color: #0035FF;
}

.div-car-tab ul.ul-car-tab li a {
    display: block;
    float: left;
    background: #eeeeee url(../../Images/common/tab.png) repeat-x scroll center center;
    border: 1px solid #dedede;
    margin: 0 auto;
    text-decoration: none;
    line-height: 30px;
    padding: 0 7px;
}

.div-car-tab ul.ul-car-detail-tab li{
    display: block;
    float: left;
    background: #eeeeee url(../../Images/common/tab.png) repeat-x scroll center center;
    border: 1px solid #dedede;
    margin: 0 auto;
    text-decoration: none;
    line-height: 30px;
    padding: 0 8px;
}

.div-car-tab ul.ul-car-detail-tab li a{    
    text-decoration: none;    
}

#car_detail_slide{
    width:438px;
    float:left;
}

.car-detail-section{    
    margin: 0px 5px 5px 6px;    
    float: left;    
    width:100%
}

.car-detail-section.info
{    
    width:330px;
    margin-left:15px;        
    margin-right:-17px;
}

.car-detail-section.info span{        
    float: left;    
    padding: .2em .6em .3em;    
    text-align: left;    
}

.car-detail-section.title{
    margin:5px 0px;
    line-height: 30px;
}

.car-detail-section img {
    float: left;
    width: 63px;
    height: 47px;
    margin: 1px;
}

#img-section {    
    width: 336px;
    float:left;
}

.car-detail{
    float:none;
    width:100%;
}

.car-index-section {
    float: left;
    width: 180px;    
    font-style:normal;
}

.car-km{
    float: left;
    width: 170px;
    font-weight:normal;
}

.car-gear {
    float: left;
    width: 160px;
}

.car-status{
    float: left;
    width: 150px;
    height: 20px;
    text-align:left;
    margin-top: 15px;
    border-radius: 3px;
    line-height: 15px;
    font-weight:normal;
    
}
.car-madein{
    float: left;
    width: 150px;
    text-align:left;
    border-radius: 3px;
    
}
.car-price{
    float: left;
    width: 80px;
    height: 30px;
    text-align: left;
    color: chocolate;
    background-color: #4db748;
    font: bold 14px/23px 'Arial';    
    border-radius: 3px;
    margin-top: 15px;    
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 1px;
    padding-left: 10px;
   
}

.car-location
{
    background-color: #bbb;
    border-radius: 3px;
    float:left;
     width: 80px;
     height: 30px;
     margin-top: 15px;
     font: bold 14px/23px 'Arial';
     color: #fff;
     margin-bottom: 10px;
     margin-right: 10px;
     padding-right: 10px;
     padding-left: 10px;
     white-space: nowrap;
   
}

.car-contact-date{
    float: none;    
    font-style: italic;
    color:#0000FF;
    margin-top:15px;
    width: 100%
}

.car-contact-view{
    float: left;    
    font-style: italic;
    color:#FFA500;
    margin-top:5px;
    width: 100%
}

.car-contact-user
{
	background: url('../../Images/common/people.png') no-repeat left;
    padding-left: 25px;
    float: left;
    width: 100%;
    font: 14px/21px 'Arial';
    color: #222;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;	
}

.car-contact-tel{
    background: url('../../Images/common/phone.png') no-repeat left;
    padding-left: 25px;
    float: left;
    width: 100%;
    font: 14px/21px 'Arial';
    color: #222;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.car-contact-address{
    background: url('../../Images/common/address.png') no-repeat left;
    padding-left: 25px;
    float: left;
    width: 100%;
    font: 14px/21px 'Arial';
    color: #222;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-inner img{
    width: 438px !important;
    height: 330px !important;
}

#div_car_detail_info .row{
    padding-top: 3px;
    padding-bottom: 3px;
    float: left;
    width: 99%;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}

.car-label-detail{
    padding: 0.2em .2em .2em .2em;
    font-weight:bold;    
    float:left;
    /*color:#0035FF;*/
}

#div_car_detail_similar{
    padding:10px;
}

#car_detail_info_basic{
    float:none;
    display:inline-block;  
}

#car_detail_info_technical{    
    float:none;
}

.car-photo img{
    width:120px;
    height:105px;
    background-image: url('/images/noimage.gif')
}