/*Menu*/
#menu a{
    color:#FFFFFF;
}
#menu a:hover{  
  color:#FFAA55;
  background-color:#374B64;
}

#menu .active a:hover {
    background-color:#428bca;
}

/*Login*/
#logo {
    float: left;
    background: transparent url(../../Images/common/logo.gif) repeat-x scroll 875px -107px;
    width: 380px;
    height: 80px;
    /*margin-top: 5px;
    margin-left: 8px;*/
    border-radius:5px;
    text-indent: -999px;
}

/*Search*/
.search-box{
    float: left;
    height: 30px;
    background-color: #FCEDC4;
    background: transparent url(../../Images/common/bar.gif) scroll -0px -80px;
    width: 100%;
}

.search-box .btn-search{
    margin-top:-23px;
}

.btn-search{    
    float: right;
    background: transparent url(../../Images/common/searching.png) repeat-x scroll -0px -3px;
    width: 81px;
    height: 28px;
}

#txt-search{
    width:230px;
}

/*Advertise*/

.advertise{   
}


.car-label{
    width: 80px;
    float: left;        
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;    
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;    
}

.float-none{
    float:none;
}