
#panel_left {
   float: left;    
    margin-left: -15px; 
}

#div-left-searching {
       float:left;
}

#div-left-advertise{
    float:left;
}

.advertise_left_panel{
    width:187px; /*198px*/
    height:187px;
}

.advertise_left_panel_smartphone{
    width:130px;
    height:130px;
}

#car_detai_banner img{
    width: 793px;
    margin: 10px 0;
    border: 0;

}
