
#div_car_menu{
    margin-left:-15px;
    margin-bottom:-8px;
}

.dropdown-toggle{
    color:white;
    text-decoration:none;
}

#div_car_menu span{
    margin-left:10px;
    color:#FFAA2A;
    font-size:15px;    
}

.dropdown-menu li{
    float:left;
    width:110px;    
}

.dropdown-menu {
    min-width: 350px !important;
}

.dropdown:hover .dropdown-toggle{
    font-weight:bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}

.dropdown > a
{
    margin-left:-15px !important;
    width:145px !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    left: 131px;    
    top: -3px;    
}

.dropdown-menu > li > a:hover {    
    color:white !important;
    background-color:#337ab7 !important;
}

