
#div_car_menu{
    margin-left:-15px;
    margin-bottom:-8px;
}

.dropdown-toggle{
    color:white;
    text-decoration:none;
}

#div_car_menu span{
    margin-left:10px;
    color:#FFAA2A;
    font-size:15px;    
}

.dropdown-menu li{
    float:left;
    width:110px;    
}

.dropdown-menu {
    min-width: 350px !important;
    margin-left:42px !important;
}

.dropdown:hover .dropdown-toggle{
    font-weight:bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #337ab7;                
}

.dropdown > a
{
    margin-left:35px !important;
    width:136px !important;    
}

.dropdown:hover .dropdown-menu {
    display: block;
    left: 130px;    
    top: -3px;    
}

.dropdown-menu > li > a:hover {    
    color:#ffffff !important;
    background-color:#337ab7 !important;
}

.img-menu-left {
    width: 36px;
    float: left;
    height: 36px;
    margin-right: 5px;
    /* display: none; */
}