.dropdown-toggle{
    color:white;
    text-decoration:none;
}
.car-list-box
{
	border-left:1px  solid #CCCCCC;
	border-right:1px  solid #CCCCCC;
	border-bottom:1px  solid #CCCCCC;		    
}

.car-list-header{
    float: left;
    height: 26px;
    background: #7FAAFF;
    width: 100%;    
}

.car-list-header h3 {
    padding-left: 10px;
    margin-top: 3px;
    font-size: 15px;
    color: #333;
    float: left;
    width: 200px;
    font-weight:bold;
}

.car-total {
    margin-top: 3px;
    float: right;
    display: block;
    color: #333;
    margin-right: 10px;
}

.car-item{    
    float: left;
    padding-top: 5px;
}

.row1{
    border-bottom: 1px dotted #DEDEDE;
    width: 100%;
}

.row2{
    background: #EAEAEA;
    width: 100%;
}

.car-model
{
	float:left;
	width:80px;
	height:30px;
	text-align:center;	
}
.car-type
{
	float:left;
	width:290px;
	height:30px;
	text-align:left;
	
}
.car-price
{
	float:left;
	width:167px;
	height:30px;
	text-align:left;	
    color: chocolate	
}

.car-place
{
	float: left;
    width: 60px;
    height: 30px;
    text-align: right;
}

.car-img-box
{
    float: left;
    width: 80px;
    height: 100px;
    text-align: center;
}

.car-img{
    border: 1px solid #DEDEDE;
    margin-top: 10px;
    padding: 1px;
    width: 70px;
    max-height: 55px;
}

.car-code {
    color: #555;
    font-size: 11px;
}

.car-from
{
	float:left;
	width:290px;
	height:90px;
	text-align:left;
	color:#333;
	margin-top:2px;
}
.car-contact
{
	float:right;
	width:236px;
	height:90px;
	text-align:left;	
	color:#555;
	
}

.car-item a{ 
    color: #0331C4;
    text-decoration: none;
}
