
#advertise-left {
   float: left;    
    margin-left: -15px; 
}

#div-left-searching {
       float:left;
}

#div-left-advertise{
    float:left;
}

.advertise-left-panel{
    width:198px;
    height:198px;
}