.freegrid{
    /*margin-left:10px;*/
}

.numberlist{
    float:right !important;
    margin-right: 15px;    
}

#grid-pager-top{
    top:0px !important;
}

#grid-pager-bottom{
    top:1840px  !important;
}

#gridCarSimilarModel, #gridCarSimilarPrice{
    margin-top:-5px;
    height:1820px !important;
}

.grid-container .freegrid{
    margin-top:-5px;
    height:1870px !important;
}

/*#gridSearchingCar{
    
    height:1820px !important;
}*/

/*.grid-container
{
    height:1805px !important;
}*/

.freegrid .grid-container table thead th
{
    background: #3c5ea5;
    background: -moz-linear-gradient(#3c5ea5, #3c5ea5) #3c5ea5;
    background: -webkit-linear-gradient(#3c5ea5, #3c5ea5) #3c5ea5;
    color: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}