.freegrid{
    /*margin-left:10px;*/
}

.numberlist{
    float:right !important;
    margin-right: 15px;    
}

#grid-pager-top{
    top:0px !important;
}

#grid-pager-bottom{
    top:1770px !important;
}

#gridCarSimilarModel, #gridCarSimilarPrice{
    margin-top:-5px;
    height:1800px !important;
}

#gridSearchingCar{
    /*margin-left:0px;
    width:766px !important;
    height:1860px !important;*/
    height:1800px !important;
}

.grid-container
{
    height:1805px !important;
}