
#div-login{
    float: right;
    background: transparent url(../../Images/bar.gif) repeat-x scroll 0px -39px;
    height: 50px;
    margin-top: -1px;
}

#div-login ul{
        float: left;
    margin-top: 3px;
    padding-left: 0px;
    margin-left: 5px;
}

#div-login li{
        float: left;
    display: block;
    border-right: 1px solid #CECECE;
    padding-left: 15px;
    padding-right: 10px;
    text-indent: 0px;
    margin-top: 0px;
}

#div-parent{
	width:990px;
	margin-left:auto;
	margin-right:auto;	
	position:relative;	    
}

#div-header{
    float:left;
    width:100%;
    margin-bottom:10px;
}

#div-support{
   float:right;
}

#div-menu{
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#374B64; 
    border-radius:5px;
    border: 1px solid #2A6776;    
    width:100%
}

#div-left{
    float:left;
    background-color:#374B64;     
    border-top-left-radius:5px;            
    border-bottom-left-radius:5px;
    border: 1px solid #428bca;    
    height:1000px;  
    width:140px;     
}

#div-center{
    float:left;           
    border-top:1px solid #428bca; 
    border-right:1px solid #428bca; 
    border-bottom:1px solid #428bca; 
    padding: 5px;         
    width:620px;
    height:1000px;  
}

#div-right{   
    float:right;
    border-top-right-radius:5px;            
    border-bottom-right-radius:5px;   
    border-top:1px solid #428bca; 
    border-right:1px solid #428bca; 
    border-bottom:1px solid #428bca;  
    height:1000px;
    width:230px;
    padding:0px;
}

#category-id{
    margin-left:-24px;
}

#category-id ul{
    display:none
}

#div-footer{
    margin-top:20px;
	clear:both;
	width:990px;	
	height:130px;
	background:#F4FAFC;
	margin-bottom:10px;       
}

#div-footer p{
    text-align:center;
}