
.list-news{
    border:1px solid #D6D6D6;
    border-radius:5px 5px 0 0;
    margin-left:10px;
    margin-top:10px;
}
.list-news .news-item{

    overflow:hidden;
    width:750px;
    border-bottom: 1px dotted #D6D6D6;
    position:relative;
    min-height:195px;
}

.list-news .news-item img{
    display:block;
    width:240px;
    height:160px;
    float:left;
    margin-top:18px;
    margin-left:10px;
    margin-right:20px;
}

.list-news .news-item p.date-time{
    color:#999;
    font-size:12px;
}

.list-news .news-item p{
    color:#333;
    line-height:18px;
    margin:10px 0;
    overflow:hidden;
    font-size:14px;
    padding-right:10px;
}

.list-news .news-item h2 a{
    color:#004370;
    font-size:17px;
}

.title_news h2{
    color:#387c9d;
}

.pagination_news a {
    float: left;
    display: inline-block;
    height: 24px;
    border: 1px solid #d6d6d6;
    padding: 0 10px;
    color: #000;
    font: 400 11px/25px arial;
    border-radius: 3px;
    margin: 0 0 0 6px;
}

.pagination_news a.active, .pagination_news a:hover {
    background: #c8c8c8;
    font-weight: 700;
}

.ic {
    font-family: vnexpress-icon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 15px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pagination_news.right {
    float: right;
    margin: 10px;
}

.news-details p {
    margin-bottom: 2%;
    padding: auto !important;
    line-height: 20px !important;
    font-family: Times New Roman;
    font-size: 13pt;
}