.car-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    width:80px;
}
.car-label-default {
    background-color: #777;
}
.car-item-all {
    float: left;
    padding-top: 10px;
    width: 620px;
}
.row-car{
    border-bottom: 1px dotted #428bca;
    width: 100%;
}
.car-photo {
    float: left;
    width: 150px;
    height: 104px;
    padding-right: 0px;
    margin-bottom:25px;
}
.car-title {
    float: left;
    /*width: 350px;
    height: 30px;*/
    font-weight:bold;
    text-align: left;    
}
.car-status-left {
    float: left;
    width: 150px;
    height: 20px;
    text-align:left;
    margin-top: 15px;
    border-radius: 3px;
    line-height: 15px;
    font-weight:normal;
    
}
.car-madein-left {
    float: left;
    width: 150px;
    text-align:left;
    border-radius: 3px;
    
}
.car-price-middle {
    background-color: #4db748;
    border-radius: 3px;
     float:left;
     width: 80px;
     height: 30px;
     margin-top: 15px;
     font: bold 14px/23px 'Arial';
     color: #fff;
     margin-bottom: 10px;
     margin-right: 10px;
     padding-right: 1px;
     padding-left: 10px;
   
}
.car-color-all {
   color:red;
   
}

.car-price-all {
    background-color: #4db748;
    border-radius: 3px;
}

.car-location-right 
{
    background-color: #bbb;
    border-radius: 3px;
    float:left;
     width: 80px;
     height: 30px;
     margin-top: 15px;
     font: bold 14px/23px 'Arial';
     color: #fff;
     margin-bottom: 10px;
     margin-right: 10px;
     padding-right: 10px;
     padding-left: 10px;
     white-space: nowrap;
   
}

.car-info {
    float: left;    
}

.car-date-right {
    float: right;
    text-align: left;
    width: 70px;
    color: #222;
    font: 13px/21px 'Open Sans';
    font-style: italic;
}
.opensanslistauto {
    font-family: 'Open sans' !important;
    font-size: 15px;
    font-weight: bold;
    color: #1260ab !important;
    text-decoration: none;
    line-height: 20px;
    width:150px
}

.car-saveitem {
    /*min-width: 47px;*/
    float: left;
    font: 11px/23px 'Arial';
    color: #1260ab;
    cursor: pointer;
    margin-right: 4px;
  
}
.car-compare {
    min-width: 47px;
    float: left;
    font: 11px/23px 'Arial';
    color: #1260ab;
    cursor: pointer;
    margin-right: 4px;
  
}
.car-detail-left {
    float: left;
    width: 200px;
    font-style:normal;
}
.car-km-left {
    float: left;
    width: 170px;
    font-weight:normal;
}
.car-detail-middle {
    float: left;
    width: 180px;
}
.car-label-left {
    float: left;
    width: 75px;
    font-weight:normal;

}
.car-gear-left {
    float: left;
    width: 160px;
}
.car-name-user-right {
    background:  url('../../Images/common/people.png') no-repeat left; 
    padding-left: 25px;
    float: left;
    width: 265px;
    font: 14px/21px 'Arial';
    color: #222;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.car-name-telephone-right {
    background:  url('../../Images/common/phone.png') no-repeat left;
    padding-left: 25px;
    float: left;
    width: 265px;
    font: 14px/21px 'Arial';
    color: #222;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.car-detail-right {
    float: left;
    width: 100px;
}

.car-info-item {
    float: none;        
    text-align: left;       
}

.car-info-price{
    background-color: #4db748;
    border-radius: 3px;
    float:none;    
    font: bold 14px/23px 'Arial';
    color: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 1px;     
}

.car-info-place{
    background-color: #bbb;
    border-radius: 3px;
    float:none;
    font: bold 14px/23px 'Arial';
    color: #fff;     
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;     
    white-space: nowrap;
}

.car-info-user{
    background:  url('../../Images/common/people.png') no-repeat left; 
    padding-left: 25px;
    float: left;    
    font: 14px/21px 'Arial';
    color: #222;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.car-info-tel{
     background:  url('../../Images/common/phone.png') no-repeat left;
    padding-left: 25px;
    float: left;    
    font: 14px/21px 'Arial';
    color: #222;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.car-des-title {
    float: left;    
    font-weight:bold;
    text-align: left;    
}

.car-des {    
    font-weight:normal;       
}

.status-icon{
    background:  url('../../Images/common/new.jpg') no-repeat left;    
    float: left;            
    margin-top:-5px;    
    width:50px;
    height:50px;
}

.car-info-source{
    font: 14px/21px 'Arial';
    color:red;
    font-weight:bold;
    float:right;    
    margin-top:25px;
}