.showroom-section{    
    float:left;
    width:100%; 
    padding-top:10px;    
    padding-bottom:10px;
    border-bottom: 1px dotted blue !important;
}

.showroom-photo {
    float: left;
    width:100%;
    height: 104px;
    padding-right: 0px;
    margin-bottom:25px;
}

.showroom-name {    
    float: left;
    width:100%;
    width: 100%;
    font-weight:bold;
    padding-left:3px;
}
.showroom-decription {
    float: left;
    width:100%;
    font: 13px/19px 'Arial';
    color: #222;
    padding-left:3px;
}
.showroom-address {
    float: left;
    width:100%;
    padding-left: 18px;
    background: url('../../images/common/address.png') no-repeat left;
    background-position: 3px 3px;
}