body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.title{
    font-family: 'OswaldVNF',Tahoma;
    color:#1260ab;           
}

.title-des{
    margin-left:20px;
    font-style:italic;
    color:#1260ab;
}

hr{    
    background-color: #1260ab !important;
    height:1px !important;
}

.form-horizontal .control-label{
    /*color:#1260ab;*/
}

.grid-container a{
    color:#1260ab !important;
    font-size:15px;
}

label{      
    color:rgb(34, 34, 34);
    font:14px/30px "Open Sans";    
}