
<div class="form-group">
    <label for="OldPassword" class="col-sm-4 control-label">Mật khẩu cũ</label>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="password" id="OldPassword" name="OldPassword" class="form-control" placeholder="* Nhập Mật khẩu để thay đổi thông tin" data-bv-field="OldPassword">            
        </div>
        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="OldPassword" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Mật khẩu</small>
    </div>
</div>

<div class="form-group">
    <label for="NewPassword" class="col-sm-4 control-label">Mật khẩu mới</label>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="password" id="NewPassword" name="NewPassword" class="form-control" placeholder="Nhập Mật khẩu mới nếu muốn thay đổi" data-bv-field="NewPassword">
        </div>
    </div>
</div>

<div class="form-group">
    <label for="ConfirmNewPassword" class="col-sm-4 control-label">Xác nhận Mật khẩu mới</label>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" class="form-control" placeholder="Xác nhận Mật khẩu mới" data-bv-field="ConfirmNewPassword">
        </div>
    </div>
</div>