@using CarSite.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity
@model CarSite.Models.ManageUserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thay đổi thông tin";
}

<h2>&nbsp;&nbsp;@ViewBag.Title</h2>
<br />

@section Styles{

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />
}

<h4><span style="margin-left:20px;font-style:italic;">Bạn đang đăng nhập với <strong>@User.Identity.GetUserName()</strong></span></h4>

<hr />

<div class="row">
    <div class="col-md-12">
        <form id="manageAccountForm" class="form-horizontal bv-form" method="post" action="" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <fieldset class="col-sm-12">

                @Html.Partial("_ChangePasswordPartial")

                <div class="form-group">
                    <label for="Tel" class="col-sm-4 control-label">Số điện thoại </label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                            <input type="text" id="Tel" name="Tel" class="form-control" placeholder="Nhập số điện thoại">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Email" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="text" id="Email" name="Email" class="form-control" placeholder="Nhập Email" data-bv-field="Email">                            
                        </div>
                        <small class="help-block" data-bv-validator="emailAddress" data-bv-for="Email" data-bv-result="NOT_VALIDATED" style="display: none;">Email không hợp lệ</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Address" class="col-sm-4 control-label">Địa chỉ</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-inbox fa-fw"></i></span>
                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Nhập địa chỉ" data-bv-field="Address"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary btn-lg">Cập nhật</button>
                    </div>
                </div>

            </fieldset>

        </form>
                 
    </div>
</div>
@section Scripts {
    @*<script async="" src="~/Content/scripts/recaptcha/recaptcha__en.js"></script>*@
    <script src="~/Content/scripts/lib/bootstrapValidator.min.js"></script>
    @*<script src="~/Content/scripts/recaptcha/api.js"></script>*@

    <script src="~/Content/scripts/Manage.js"></script>
}