
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quên Mật khẩu";
}

<h2>&nbsp;&nbsp;@ViewBag.Title</h2>
<br />

@section Styles{

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />
}

<h5><span style="margin-left:20px;font-style:italic;">Nếu bạn không nhớ mật khẩu, xin hãy điền <b>tên đăng nhập</b> hoặc <b>email</b> tương ứng với tên đăng nhập của bạn. XeGiaĐinhViet sẽ giúp bạn khôi phục lại mật khẩu của mình!.</span></h5>

<hr />

<div class="col-md-12">
    <input type="hidden" id="returnURLId" data-value="@ViewBag.ReturnUrl" />
    <form id="loginForm" class="form-horizontal bv-form" method="post" action="" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <fieldset class="col-sm-12">

            <div class="form-group">
                <label for="UserName" class="col-sm-4 control-label">Tên đăng nhập</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="* Nhập Tên đăng nhập" data-bv-field="UserName">
                    </div>
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="UserName" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Tên đăng nhập</small>
                </div>
            </div>
            
            <div class="form-group">
                <label for="Email" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        <input type="text" id="Email" name="Email" class="form-control" placeholder="Nhập Email" data-bv-field="Email">
                    </div>
                    <small class="help-block" data-bv-validator="emailAddress" data-bv-for="Email" data-bv-result="NOT_VALIDATED" style="display: none;">Email không hợp lệ</small>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary btn-lg">Khôi phục</button>&nbsp;                    
                </div>
            </div>

        </fieldset>

        <p>            
            @Html.ActionLink("Đăng ký", "Register", new { ReturnUrl = ViewBag.ReturnUrl }) nếu Bạn chưa có tài khoản.
        </p>

    </form>    
</div>

@section Scripts {
    @*<script async="" src="~/Content/scripts/recaptcha/recaptcha__en.js"></script>*@
    <script src="~/Content/scripts/lib/bootstrapValidator.min.js"></script>
    @*<script src="~/Content/scripts/recaptcha/api.js"></script>*@    
}