@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng ký";
}

@section Styles{

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />
}

<h2 class="title">&nbsp;&nbsp;@ViewBag.Title</h2>
<hr />

<h4><span class="title-des">Tạo một tài khoản để rao tin.</span></h4>
<br />

<div id="div_register" class="col-md-12">    
    <input type="hidden" id="returnURLId" data-value="@ViewBag.ReturnUrl" />
    <form id="registerForm" class="form-horizontal bv-form" method="post" action="" novalidate="novalidate">
        @Html.AntiForgeryToken()        
        <fieldset class="col-sm-12">

            <div class="form-group">
                <label for="UserName" class="col-sm-4 control-label">Tên đăng nhập</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="* Không dấu và khoảng trắng" data-bv-field="UserName">
                    </div>                    
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-sm-4 control-label">Mật khẩu</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" id="Password" name="Password" maxlength="20" class="form-control" placeholder="* Nhập Mật khẩu" data-bv-field="Password">
                    </div>                    
                </div>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="col-sm-4 control-label">Xác nhận Mật khẩu</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" maxlength="20" class="form-control" placeholder="* Nhập xác nhận Mật khẩu" data-bv-field="ConfirmPassword">
                    </div>                    
                </div>
            </div>

            <div class="form-group">
                <label for="Tel" class="col-sm-4 control-label">Số điện thoại </label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                        <input type="text" id="Tel" name="Tel" maxlength="20" class="form-control" placeholder="* Nhập số điện thoại" data-bv-field="Tel">
                    </div>                    
                </div>
            </div>

            <div class="form-group">
                <label for="Email" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        <input type="text" id="Email" name="Email" maxlength="20" class="form-control" placeholder="* Nhập Email" data-bv-field="Email">                        
                    </div>                    
                </div>
            </div>

            <div class="form-group">
                <label for="Address" class="col-sm-4 control-label">Địa chỉ</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-inbox fa-fw"></i></span>
                        <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Nhập địa chỉ" data-bv-field="Address"></textarea>                        
                    </div>                    
                </div>
            </div>

            <div class="form-group">
                <label for="Agree" class="col-sm-4 control-label"></label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input type="checkbox" id="Agree" name="Agree" placeholder="Nhập địa chỉ" data-bv-field="Agree">
                        <i>Tôi đồng ý với <a href="/home/security" style="color: #1469eb; cursor: pointer">Chính sách bảo mật </a> và <a href="/home/policy" style="color: #1469eb; cursor: pointer">Qui chế hoạt động</a> của Xegiadinhviet.com</i>
                    </div>
                </div>
            </div>
         
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-7">
                    <small id="status" class="help-block" style="color: red; display: none;"></small>
                </div>
            </div>
            
            @*<div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-7">
                    <div class="g-recaptcha" data-sitekey="6LeKqAkUAAAAALY_xoFUNWtKlvTaU7TiVcSgdXMf"></div>
                </div>
            </div>*@
            
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary btn-lg">Đăng ký</button>
                </div>
            </div>

        </fieldset>

    </form>

</div>

@section Scripts {

    @*<script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>*@
        
    <script src="~/Content/scripts/lib/bootstrapValidator.min.js"></script>        
    <script src="~/Content/scripts/Register.js"></script>    
}
