@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng ký";
}

<h2>&nbsp;&nbsp;@ViewBag.Title</h2>
<br />

@section Styles{

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />
}

<h4><span style="margin-left:20px; font-style:italic">Tạo một tài khoản để rao tin.</span></h4>

<hr />

<div id="div_register" class="col-md-12">    
    <input type="hidden" id="returnURLId" data-value="@ViewBag.ReturnUrl" />
    <form id="registerForm" class="form-horizontal bv-form" method="post" action="" novalidate="novalidate">
        @Html.AntiForgeryToken()        
        <fieldset class="col-sm-12">

            <div class="form-group">
                <label for="UserName" class="col-sm-3 control-label">Tên đăng nhập</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="* Nhập Tên đăng nhập" data-bv-field="UserName">
                    </div>
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="UserName" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Tên đăng nhập</small>
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-sm-3 control-label">Mật khẩu</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="* Nhập Mật khẩu" data-bv-field="Password">
                    </div>
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="Password" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Mật khẩu</small>
                </div>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="col-sm-3 control-label">Xác nhận Mật khẩu</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="* Nhập xác nhận Mật khẩu" data-bv-field="ConfirmPassword">
                    </div>
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="ConfirmPassword" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập xác nhận Mật khẩu</small>
                </div>
            </div>

            <div class="form-group">
                <label for="Tel" class="col-sm-3 control-label">Số điện thoại </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                        <input type="text" id="Tel" name="Tel" class="form-control" placeholder="Nhập số điện thoại">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        <input type="text" id="Email" name="Email" class="form-control" placeholder="Nhập Email" data-bv-field="Email">
                        <small class="help-block" data-bv-validator="emailAddress" data-bv-for="Email" data-bv-result="NOT_VALIDATED" style="display: none;">Email không hợp lệ</small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-5" align="center">
                    <button type="submit" class="btn btn-primary btn-lg">Đăng ký</button>
                </div>
            </div>

        </fieldset>

    </form>

</div>

@section Scripts {

    @*<script async="" src="~/Content/scripts/recaptcha/recaptcha__en.js"></script>*@
    <script src="~/Content/scripts/lib/bootstrapValidator.min.js"></script>
    @*<script src="~/Content/scripts/recaptcha/api.js"></script>*@

    <script src="~/Content/scripts/Register.js"></script>

    <script>

        handler.showResultSearching();
    </script>

}
