<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>  
  <configSections>
    <section name="TQQ.Data.DbSettingProvider" type="TQQ.Data.Configuration.DbSettingProviderConfigurationSection, TQQ.Data" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />       
  </configSections>

  <!-- memcached section -->
  <memcached protocol="Binary">
    <servers>
      <!--<add address="10.19.10.512" port="11211" />-->
      <add address="127.0.0.1" port="11211" />
    </servers>
    <socketPool minPoolSize="1" maxPoolSize="5" connectionTimeout="00:00:03" deadTimeout="00:00:03" />
  </memcached>
  
  <TQQ.Data.DbSettingProvider default="XmlDbSettingProvider">
    <providers>
      <add name="XmlDbSettingProvider" type="TQQ.Data.Configuration.XmlDbSettingProvider,TQQ.Data" resourcePath="~/App_Data/" enableWatching="1" />
    </providers>
  </TQQ.Data.DbSettingProvider>
  <connectionStrings>
    <!--<add name="CarHome.Database" connectionString="Data Source=VIENIT;Initial Catalog=CARWEB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CARWEBEntities" connectionString="metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIENIT;initial catalog=CARWEB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


     <add name="CarHome.Database" connectionString="Data Source=CP016-THAI;Initial Catalog=CARWEB;Integrated Security=True" providerName="System.Data.SqlClient" />    
    <add name="CARWEBEntities" connectionString="metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CP016-THAI;initial catalog=CARWEB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--<add name="CarHome.Database" connectionString="Data Source=THAI-PC;Initial Catalog=CARWEB;Integrated Security=True" providerName="System.Data.SqlClient" />    
    <add name="CARWEBEntities" connectionString="metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THAI-PC;initial catalog=CARWEB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>         
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SendEmailHost" value="smtp.googlemail.com" />
    <add key="SendEmailPort" value="587" />
    <add key="SendEmailFrom" value="thaiwhere@gmail.com" />
    <add key="SendEmailPass" value="@Whobilove1" />    
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network          
          defaultCredentials="true"
          enableSsl="false"
          host="smtp.gmail.com"
          port="587"
        />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="102400" targetFramework="4.5" />
    <httpHandlers>
      <add path="ApplicationInsights.axd" verb="*" type="Microsoft.ApplicationInsights.Telemetry.Web.ConfigurationHandler" />
    </httpHandlers>    
  </system.web>  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />    
    <handlers>
      <add name="ApplicationInsights" verb="*" path="ApplicationInsights.axd" type="Microsoft.ApplicationInsights.Telemetry.Web.ConfigurationHandler" />
    </handlers>

    <staticContent>
      <!--<remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />-->
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>